<div id="searchBlock" style="display: none;">
    <div class="row">
        <div class="clearfix"></div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                           aria-controls="collapseOne">
                           SearchTitle
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col col-md-4 col-xs-12 col-sm-12 col-lg-4">
                                <div>
                                    <label >
                                        MyCompanyName
                                    </label>
                                </div>
                                <input class="form-control input-sm" id="MyCompanyName" name="MyCompanyName"
                                       placeholder="MyCompanyName" />
                            </div>
                            <div class="col col-md-4 col-xs-12 col-sm-12 col-lg-4">
                                <div>
                                    <label>
                                        RegisterNumber
                                    </label>
                                </div>
                                <input class="form-control input-sm" id="RegisterNumber" name="RegisterNumber"
                                       placeholder="RegisterNumber" />
                            </div>
                            <div class="col col-md-4 col-xs-12 col-sm-12 col-lg-4">
                                <div>
                                    <label>
                                        Phones
                                    </label>
                                </div>
                                <input class="form-control input-sm" id="Phones" name="Phones"
                                       placeholder="Phones" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                       aria-expanded="false" aria-controls="collapseTwo">
                       MoreParametersSearchTitle
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="row">
                        <div class="col col-md-4 col-xs-12 col-sm-12 col-lg-4">
                            <div>
                                <label>
                                    Address
                                </label>
                            </div>
                            <input class="form-control input-sm" id="Address" name="Address"
                                   placeholder="Address" />
                        </div>
                        <div class="col col-md-4 col-xs-12 col-sm-12 col-lg-4">
                            <div>
                                <label>
                                    CommercialCode
                                </label>
                            </div>
                            <input class="form-control input-sm" id="CommercialCode" name="CommercialCode"
                                   placeholder="CommercialCode" />
                        </div>
                        <div class="col col-md-4 col-xs-12 col-sm-12 col-lg-4">
                            <div>
                                <label>
                                    MyCompanyRealName
                                </label>
                            </div>
                            <input class="form-control input-sm" id="MyCompanyRealName" name="MyCompanyRealName"
                                   placeholder="MyCompanyRealName" />
                        </div>
                        <div class="col col-md-4 col-xs-12 col-sm-12 col-lg-4">
                            <div>
                                <label>
                                    PostalCode
                                </label>
                            </div>
                            <input class="form-control input-sm" id="PostalCode" name="PostalCode"
                                   placeholder="PostalCode" />
                        </div>
                        <div class="col col-md-4 col-xs-12 col-sm-12 col-lg-4">
                            <div>
                                <label>
                                    Faxes
                                </label>
                            </div>
                            <input class="form-control input-sm" id="Faxes" name="Faxes"
                                   placeholder="Faxes" />
                        </div>
                        <div class="col col-md-4 col-xs-12 col-sm-12 col-lg-4">
                            <div>
                                <label>
                                    NationalCode
                                </label>
                            </div>
                            <input class="form-control input-sm" id="NationalCode" name="NationalCode"
                                   placeholder="NationalCode" />
                        </div>
                        <div class="col col-md-4 col-xs-12 col-sm-12 col-lg-4">
                            <div>
                                <label>
                                    StateName
                                </label>
                            </div>
                            <select id="StateId" name="StateId" class="form-control input-sm chosen-select input-validation-error"
                                    placeholder="StateName">
                                <option value="null">---</option>
                            </select>
                        </div>
                        <div class="col col-md-4 col-xs-12 col-sm-12 col-lg-4">
                            <div>
                                <label>
                                    CityName
                                </label>
                            </div>
                            <select id="CityId" name="CityId" class="form-control input-sm chosen-select input-validation-error"
                                    placeholder="CityName">
                                <option value="null">---</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col col-md-4 col-xs-12 col-sm-12 col-lg-4">
        <div class="empty-block">&nbsp;</div>
        <button id="btnSearch" name="btnSearch" class="btn btn-default input-sm">
            BtnSearchTitle
        </button>
        <button id="btnReload" name="btnReload" class="btn btn-default input-sm" data-toggle="tooltip" data-placement="top"
                title="BtnReloadTitle">
            <i class="fa fa-refresh"></i>
        </button>
        <button id="btnReset" name="btnReset" class="btn btn-default input-sm" data-toggle="tooltip" data-placement="top"
                title="BtnResetTitle">
            <i class="fa fa-undo"></i>
        </button>
        <button id="btnRemoveSelectedRows" name="btnRemoveSelectedRows" class="btn btn-danger input-sm"
                data-toggle="tooltip" data-placement="top"
                title="BtnRemoveSelectedRowsTitle"
                data-href="/Admin/UsersManagement/CompleteDeleteUsers">
            <i class="fa fa-remove"></i>
        </button>
    </div>
    <div class="col col-md-2 col-xs-2 col-sm-2 col-lg-2">
        &nbsp;
    </div>
</div>

<hr class="full-splitter" />
<div id="listContainer"></div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="myLargeModalLabel">
                    Details
                </h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>

            <div class="modal-body">

                <!-- Data passed is displayed
                    in this part of the
                    modal body -->
                <h6 id="modal_body"></h6>
                <button type="button"
                        class="btn btn-success btn-sm"
                        data-toggle="modal"
                        data-target="#exampleModal"
                        id="submit"
                        style="position: absolute; bottom: 15px; left: 15px;">
                        Close
                </button>
            </div>
        </div>
    </div>

</div>


