@using VM.Public;

<div class="row">
    <div class="col col-md-3 col-xs-12 col-sm-12 col-lg-3">
        <div>
            <label>
                ارزیابی
            </label>
        </div>
        <select id="slcEvaluation" name="slcEvaluation" class="form-control input-sm chosen-select"
                placeholder="ارزیابی">
            <option value="" selected>---</option>
        </select>
    </div>
</div>
<div class="col col-md-2 col-xs-2 col-sm-2 col-lg-2">
    &nbsp;
</div>


<hr class="full-splitter" />

<body>
    <div id="container" style="display:none;">
        <div id="left-container">
            <a id="update" href="#" class="theme button white">بازگشت به والد</a>
        </div>

        <div id="center-container">
            <div id="infovis"></div>
        </div>
        <div id="log"></div>
    </div>
</body>



