@using System.Collections.Generic
@using System.Linq
@using Services.Xml.Entities;

@model dynamic

@{
    string areaName = "";
    if (ViewData["AreaName"] != null)
    {
        areaName = ViewData["AreaName"] as string;
    }

    string controllerName = "";
    if (ViewData["ControllerName"] != null)
    {
        controllerName = ViewData["ControllerName"] as string;
    }

    string actionName = "";
    if (ViewData["ActionName"] != null)
    {
        actionName = ViewData["ActionName"] as string;
    }

    Layout = "_AdminLayout";

    string dataBackUrl = "";
    if (ViewData["DataBackUrl"] != null)
    {
        dataBackUrl = ViewData["DataBackUrl"] as string;
    }
}

@section head{

    @{
        Html.RenderPartial("~/Areas/" + areaName + "/Views/" + controllerName + "/" + actionName + "/_headAddTo.cshtml");
    }

}
    <div class="container body">
        <div class="main_container">
            @await Component.InvokeAsync("AdminNavigation")

            <div class="right_col" role="main">

                @await Component.InvokeAsync("AdminDashboard")
                                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                           
                            <ul class="nav navbar-left panel_toolbox">
                                @*<li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>*@

                                <li>
                                     @{ if (!string.IsNullOrEmpty(dataBackUrl))
                            {
                                <button id="btnBackPage" class="btn btn-app" name="btnSearchBlock" data-back-url="@Html.Raw(dataBackUrl)">
                                            <i class="fa fa-arrow-left"></i>
                                            بازگشت
                                        </button>
                            }
                        }
                            </li>

                        </ul>
                         <h2> @Html.Raw(ViewData["Title"] as string) </h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row justify-content-center">
                            @{
                                Html.RenderPartial("~/Areas/" + areaName + "/Views/" + controllerName + "/" + actionName + "/_htmlAddTo.cshtml");
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

                </div>

                <footer>
        <div class="pull-left">
            2024© تمامی حقوق این سامانه برای تنیاکو محفوظ است.
        </div>
        <div class="clearfix"></div>
    </footer>
                </div>
        



@section scripts{

    @{
        Html.RenderPartial("~/Areas/" + areaName + "/Views/" + controllerName + "/" + actionName + "/_jsAddTo.cshtml");
    }

}


