<script type="text/javascript">

    var propertyId = 0;

    $(document).ready(function () {
        $('#error-alert').hide(100);

        for (var i = 0; i < propertyTypesList.length; i++) {
            debugger;
            var item = propertyTypesList[i];
            $('#PropertyTypeId')
                .append($("<option></option>")
                    .attr("value", item.Value)
                    .text(item.DisplayText));
        }

        $('#PropertyTypeId').chosen({
            placeholder_text_single: ' ',
            placeholder_text_multiple: ' ',
            search_contains: true,
            max_shown_results: numberOfChosenItemsShow,
            rtl: rtl
        });

        for (var i = 0; i < typeOfUsesList.length; i++) {
            debugger;
            var item = typeOfUsesList[i];
            $('#TypeOfUseId')
                .append($("<option></option>")
                    .attr("value", item.Value)
                    .text(item.DisplayText));
        }

        $('#TypeOfUseId').chosen({
            placeholder_text_single: ' ',
            placeholder_text_multiple: ' ',
            search_contains: true,
            max_shown_results: numberOfChosenItemsShow,
            rtl: rtl
        });

        for (var i = 0; i < documentTypesList.length; i++) {
            debugger;
            var item = documentTypesList[i];
            $('#DocumentTypeId')
                .append($("<option></option>")
                    .attr("value", item.Value)
                    .text(item.DisplayText));
        }

        $('#DocumentTypeId').chosen({
            placeholder_text_single: ' ',
            placeholder_text_multiple: ' ',
            search_contains: true,
            max_shown_results: numberOfChosenItemsShow,
            rtl: rtl
        });

        for (var i = 0; i < personsList.length; i++) {
            debugger;
            var item = personsList[i];
            $('#ConsultantUserId')
                .append($("<option></option>")
                    .attr("value", item.Value)
                    .text(item.DisplayText));
        }

        $('#ConsultantUserId').chosen({
            placeholder_text_single: ' ',
            placeholder_text_multiple: ' ',
            search_contains: true,
            max_shown_results: numberOfChosenItemsShow,
            rtl: rtl
        });

        //for (var i = 0; i < documentTypesList.length; i++) {
        //    debugger;
        //    var item = documentTypesList[i];
        //    $('#OwnerId')
        //        .append($("<option></option>")
        //            .attr("value", item.Value)
        //            .text(item.DisplayText));
        //}

        $('#OwnerId').html($('#ConsultantUserId').html());

        $('#OwnerId').chosen({
            placeholder_text_single: ' ',
            placeholder_text_multiple: ' ',
            search_contains: true,
            max_shown_results: numberOfChosenItemsShow,
            rtl: rtl
        });

        //for (var i = 0; i < documentOwnershipTypesList.length; i++) {
        //    debugger;
        //    var item = documentOwnershipTypesList[i];
        //    $('#DocumentOwnershipTypeId')
        //        .append($("<option></option>")
        //            .attr("value", item.Value)
        //            .text(item.DisplayText));
        //}

        //$('#DocumentOwnershipTypeId').chosen({
        //    placeholder_text_single: ' ',
        //    placeholder_text_multiple: ' ',
        //    search_contains: true,
        //    max_shown_results: numberOfChosenItemsShow,
        //    rtl: rtl
        //});

        //for (var i = 0; i < documentRootTypesList.length; i++) {
        //    debugger;
        //    var item = documentRootTypesList[i];
        //    $('#DocumentRootTypeId')
        //        .append($("<option></option>")
        //            .attr("value", item.Value)
        //            .text(item.DisplayText));
        //}

        //$('#DocumentRootTypeId').chosen({
        //    placeholder_text_single: ' ',
        //    placeholder_text_multiple: ' ',
        //    search_contains: true,
        //    max_shown_results: numberOfChosenItemsShow,
        //    rtl: rtl
        //});

        $('#OfferPriceType').chosen({
            placeholder_text_single: ' ',
            placeholder_text_multiple: ' ',
            search_contains: true,
            max_shown_results: numberOfChosenItemsShow,
            rtl: rtl
        });

        for (var i = 0; i < statesList.length; i++) {
            debugger;
            var item = statesList[i];
            $('#MyPropertyAddressVM_StateId')
                .append($("<option></option>")
                    .attr("value", item.Value)
                    .text(item.DisplayText));
        }

        $('#MyPropertyAddressVM_StateId').chosen({
            placeholder_text_single: ' ',
            placeholder_text_multiple: ' ',
            search_contains: true,
            max_shown_results: numberOfChosenItemsShow,
            rtl: rtl
        });

        $('#MyPropertyAddressVM_CityId').chosen({
            placeholder_text_single: ' ',
            placeholder_text_multiple: ' ',
            search_contains: true,
            max_shown_results: numberOfChosenItemsShow,
            rtl: rtl
        });

        $('#MyPropertyAddressVM_ZoneId').chosen({
            placeholder_text_single: ' ',
            placeholder_text_multiple: ' ',
            search_contains: true,
            max_shown_results: numberOfChosenItemsShow,
            rtl: rtl
        });

        //$('#IsPrivate').chosen({
        //    placeholder_text_single: ' ',
        //    placeholder_text_multiple: ' ',
        //    search_contains: true,
        //    max_shown_results: numberOfChosenItemsShow,
        //    rtl: rtl
        //});

        $('body').on('change', '#Area', function (e) {
            var _this = $(this);

            debugger;

            var area = _this.val();

            var offerPrice = $('#OfferPrice').val().trim();
            var offerPriceType = $('#OfferPriceType').val().trim();

            if ((offerPrice != '') &&
                (offerPriceType != null) &&
                (area != '')) {
                switch (offerPriceType) {
                    case '0'://متری
                        $('#CalculatedOfferPrice').val(parseFloat(offerPrice) * parseFloat(area));
                        $('#spnOfferPrice').html('(متری)');
                        $('#spnCalculatedOfferPrice').html('(کل)');
                        break;
                    case '1'://کل
                        $('#CalculatedOfferPrice').val(parseFloat(offerPrice) / parseFloat(area));
                        $('#spnOfferPrice').html('(کل)');
                        $('#spnCalculatedOfferPrice').html('(متری)');
                        break;
                }
            }
            else
                $('#CalculatedOfferPrice').val('');
        });

        $('body').on('change', '#OfferPrice', function (e) {
            var _this = $(this);

            debugger;

            var offerPrice = _this.val();

            var offerPriceType = $('#OfferPriceType').val().trim();
            var area = $('#Area').val().trim();

            if ((offerPrice != '') &&
                (offerPriceType != null) &&
                (area != '')) {
                switch (offerPriceType) {
                    case '0'://متری
                        $('#CalculatedOfferPrice').val(parseFloat(offerPrice) * parseFloat(area));
                        $('#spnOfferPrice').html('(متری)');
                        $('#spnCalculatedOfferPrice').html('(کل)');
                        break;
                    case '1'://کل
                        $('#CalculatedOfferPrice').val(parseFloat(offerPrice) / parseFloat(area));
                        $('#spnOfferPrice').html('(کل)');
                        $('#spnCalculatedOfferPrice').html('(متری)');
                        break;
                }
            }
            else
                $('#CalculatedOfferPrice').val('');
        });

        $('body').on('change', '#OfferPriceType', function (e) {
            var _this = $(this);

            debugger;

            var offerPriceType = _this.val();

            var offerPrice = $('#OfferPrice').val().trim();
            var area = $('#Area').val().trim();

            if ((offerPrice != '') &&
                (offerPriceType != null) &&
                (area != '')) {
                switch (offerPriceType) {
                    case '0'://متری
                        $('#CalculatedOfferPrice').val(parseFloat(offerPrice) * parseFloat(area));
                        $('#spnOfferPrice').html('(متری)');
                        $('#spnCalculatedOfferPrice').html('(کل)');
                        break;
                    case '1'://کل
                        $('#CalculatedOfferPrice').val(parseFloat(offerPrice) / parseFloat(area));
                        $('#spnOfferPrice').html('(کل)');
                        $('#spnCalculatedOfferPrice').html('(متری)');
                        break;
                }
            }
            else
                $('#CalculatedOfferPrice').val('');
        });

        $('body').on('change', '#MyPropertyAddressVM_StateId', function (e) {
            e.preventDefault();

            var _this = $(this);
            var stateId = _this.val();

            $('#MyPropertyAddressVM_CityId').find('option')
                .remove()
                .end()
                .append('<option value="" selected>---</option>');

            for (var i = 0; i < citiesList.length; i++) {
                debugger;
                var item = citiesList[i];
                if (item.Data_StateId == stateId)
                    $('#MyPropertyAddressVM_CityId')
                        .append($("<option></option>")
                            .attr("value", item.Value)
                            .text(item.DisplayText));
            }

            $('#MyPropertyAddressVM_CityId').trigger("chosen:updated");

            $('#MyPropertyAddressVM_CityId').change();
        });

        $('body').on('change', '#MyPropertyAddressVM_CityId', function (e) {
            e.preventDefault();

            var _this = $(this);
            var cityId = _this.val();

            $('#MyPropertyAddressVM_ZoneId').find('option')
                .remove()
                .end()
                .append('<option value="" selected>---</option>');

            for (var i = 0; i < zonesList.length; i++) {
                debugger;
                var item = zonesList[i];
                if (item.Data_CityId == cityId)
                    $('#MyPropertyAddressVM_ZoneId')
                        .append($("<option></option>")
                            .attr("value", item.Value)
                            .text(item.DisplayText));
            }

            $('#MyPropertyAddressVM_ZoneId').trigger("chosen:updated");
        });

        for (var i = 0; i < personTypesList.length; i++) {
            debugger;
            var item = personTypesList[i];
            $('#slcPersonTypeId')
                .append($("<option></option>")
                    .attr("value", item.Value)
                    .text(item.DisplayText));
        }

        $('#slcPersonTypeId').chosen({
            placeholder_text_single: ' ',
            placeholder_text_multiple: ' ',
            search_contains: true,
            max_shown_results: numberOfChosenItemsShow,
            rtl: rtl
        });

        $('body').on('click', '.lblNewPerson', function (e) {
            e.preventDefault();

            $('#txtName').val('');
            $('#txtFamily').val('');
            $('#txtPhone').val('');

            $('#create-person-modal').modal("show");
        });

        $('body').on('click', '.btn-Create-person', function (e) {
            e.preventDefault();

            var name = $('#txtName').val();
            var family = $('#txtFamily').val();
            var phone = $('#txtPhone').val();
            var personTypeId = $('#slcPersonTypeId').val();

            if (family == '' || phone == '') {
                alert('لطفا اطلاعات را وارد کنید');
                return;
            }

            $.ajax({
                cache: false,
                type: "Post",
                url: "/AdminTeniaco/MyPropertiesManagement/AddToPersons",
                //data: JSON.stringify({ 'LevelId': levelId }),
                data: {
                    'Name': name,
                    'Family': family,
                    'Phone': phone,
                    'PersonTypeId': personTypeId
                },
                //contentType: 'application/json',
                //dataType: "json",
                success: function (result) {
                    debugger;
                    if (result.Result == "OK") {
                        $.ajax({
                            cache: false,
                            type: "Post",
                            url: "/AdminTeniaco/MyPropertiesManagement/GetAllPersonsList",
                            success: function (result) {
                                debugger;
                                if (result.Result == "OK") {

                                    personsList = result.Records;

                                    $('#ConsultantUserId').find('option')
                                        .remove()
                                        .end()
                                        .append('<option value="" selected>---</option>');

                                    for (var i = 0; i < personsList.length; i++) {
                                        debugger;
                                        var item = personsList[i];
                                        $('#ConsultantUserId')
                                            .append($("<option></option>")
                                                .attr("value", item.PersonId)
                                                .text(item.Name + ' ' + item.Family + ' - ' + item.Phone));
                                    }

                                    $('#ConsultantUserId').trigger("chosen:updated");

                                    $('#OwnerId').find('option')
                                        .remove()
                                        .end()
                                        .append('<option value="" selected>---</option>');

                                    $('#OwnerId').html($('#ConsultantUserId').html());
                                    $('#OwnerId').trigger("chosen:updated");

                                    $('#create-person-modal').modal("hide");
                                }
                                else
                                    if (result.Result == "ERROR") {
                                        $('#my-warning-modal').find('.modal-title').html('خطا');
                                        $('#my-warning-modal').find('#error').html(result.Message);
                                        $('#my-warning-modal').modal("show");
                                    }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                $('#my-warning-modal').find('.modal-title').html('خطا');
                                $('#my-warning-modal').find('#error').html('خطا');
                                $('#my-warning-modal').modal("show");
                            }
                        });
                    }
                    else
                        if (result.Result == "ERROR") {
                            $('#my-warning-modal').find('.modal-title').html('خطا');
                            $('#my-warning-modal').find('#error').html(result.Message);
                            $('#my-warning-modal').modal("show");
                        }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#my-warning-modal').find('.modal-title').html('خطا');
                    $('#my-warning-modal').find('#error').html('خطا');
                    $('#my-warning-modal').modal("show");
                }
            });
        });

        $('body').on('click', '.btn-Create-properties', function (e) {
            e.preventDefault();

            window.location.reload();
        });

        $('body').on('click', '.btn-Edit-properties', function (e) {
            e.preventDefault();

            //window.location.href = "/AdminTeniaco/PropertiesManagement/UpdateProperties/" + propertyId;

            window.location.href = "/AdminTeniaco/MyPropertiesManagement/UpdateMyProperties/" + propertyId;
        });

        $('body').on('click', '.maps', function (e) {
            e.preventDefault();

            //window.location.href = "/AdminTeniaco/PropertiesManagement/PropertiesMaps/" + propertyId;

            window.open("/AdminTeniaco/MyPropertiesMapsManagement/Index/" + propertyId, '_blank').focus();
        });

        $('body').on('click', '.features', function (e) {
            e.preventDefault();

            //window.location.href = "/AdminTeniaco/PropertiesManagement/PropertiesFeatures/" + propertyId;

            window.open("/AdminTeniaco/MyPropertiesFeaturesManagement/UpdateMyPropertyFeatures/" + propertyId, '_blank').focus();
        });

        $('body').on('click', '.location', function (e) {
            e.preventDefault();

            //window.location.href = "/AdminTeniaco/PropertiesManagement/PropertiesLocation/" + propertyId;

            window.open("/AdminTeniaco/MyPropertiesLocationManagement/UpdateMyPropertyLocation/" + propertyId, '_blank').focus();
        });

        $('body').on('click', '.docs', function (e) {
            e.preventDefault();

            //window.location.href = "/AdminTeniaco/PropertiesManagement/PropertiesDocs/" + propertyId;

            window.open("/AdminTeniaco/MyPropertiesDocsManagement/Index/" + propertyId, '_blank').focus();
        });

        $('body').on('click', '.media', function (e) {
            e.preventDefault();

            //window.location.href = "/AdminTeniaco/PropertiesManagement/PropertiesMedia/" + propertyId;

            window.open("/AdminTeniaco/MyPropertiesMediaManagement/Index/" + propertyId, '_blank').focus();
        });

        //$('#moreInfo-modal').modal("show");

        $('#btnReset').click(function (e) {
            $('#slcPropertyTypeId').val(null);
            $('#slcTypeOfUseId').val(null);
            $('#slcDocumentTypeId').val(null);
            $('#ConsultantUserId').val(null);
            $('#OwnerId').val(null);
            //$('#slcDocumentOwnershipTypeId').val(null);
            //$('#slcDocumentRootTypeId').val(null);
            $('#txtPropertyCodeName').val(null);
            $('#slcStateId').val(null);
            $('#slcCityId').val(null);
            $('#slcZoneId').val(null);
            //$('#txtIntermediary').val(null);
            //$('#slcIsPrivate').val(null);

            e.preventDefault();
        });

    });

    function OnBegin(e) {
        debugger;
        //$('#AjaxLoading').show();
        return true;
    }

    function OnSuccess(response, status, xhr) {
        debugger;
        if (response.Result == 'OK') {
            $('#error-alert').removeClass('alert-danger');
            $('#error-alert').addClass('alert-success');
            $("html, body").animate({ scrollTop: 0 }, "slow");
            $('#error-alert').show(1000);
            $('#error-alert').html(response.Message); //window.setTimeout(function () { window.location.reload(); }, 2500);
            $('#error-alert').show(500);

            console.log(response.Record);

            propertyId = response.Record.PropertyId;

            $('#moreInfo-modal').modal("show");
        }
        else {
            $('#error-alert').removeClass('alert-success');
            $('#error-alert').addClass('alert-danger');

            $("html, body").animate({ scrollTop: 0 }, "slow");
            $('#error-alert').show(1000);
            $('#error-alert').html(response.Message);
            $('#error-alert').show(500);
            //$('#AjaxLoading').hide();
        }
    }

    function OnComplete() {
        clearValidationSummary();
    };

    function OnFailed(context) {
        debugger;
        $('#error-alert').removeClass('alert-success');
        $('#error-alert').addClass('alert-danger');
        $('#error-alert').html(context.Message);
        $('#error-alert').show(500);
        //$('#AjaxLoading').hide();
    };

</script>
