<div class="row col-12" style="height:40px">
    <div class="col col-md-2 col-xs-12 col-lg-2 col-sm-12">
        <div>
            <div id="admins">
                &nbsp;
            </div>
            &nbsp;&nbsp;
            <span>مدیر</span>
        </div>
    </div>
    <div class="col col-md-2 col-xs-12 col-lg-2 col-sm-12">
        <div>
            <div id="users">
                &nbsp;
            </div>
            &nbsp;&nbsp;
            <span>کاربر</span>
        </div>
    </div>
</div>
<div id="center-container" class="col-12">
    <div id="hierarchyOfUsers" class="disable-select col-12"></div>
</div>
