@using Services.Xml.Entities;

@{
    var j = 0;
}

<div class="header-diagrams-section w-full">

    <div class="diagram-item  col-xs-6 col-sm-6 col-lg-4">

        <div class="diagram-col-right">
            <h2>مجموع بازدید مناطق</h2>
            <div class="col-righ-dowm-sec">
                <h3>1024</h3>
                <h4>+8.5%</h4>
            </div>
        </div>

        <div class="diagram-col-left">
            <a href="">
                <span class="icon-info"></span>
            </a>
            <img src="~/outter_theme/assets/img/indicator.png" alt="">
        </div>

    </div>
    <div class="diagram-item col-xs-6 col-sm-6 col-lg-4">

        <div class="diagram-col-right">
            <h2>مجموع بازدید مناطق</h2>
            <div class="col-righ-dowm-sec">
                <h3>1024</h3>
                <h4>+8.5%</h4>
            </div>
        </div>

        <div class="diagram-col-left">
            <a href="">
                <span class="icon-info"></span>
            </a>
            <img src="~/outter_theme/assets/img/indicator.png" alt="">
        </div>

    </div>
    <div class="diagram-item col-xs-6 col-sm-6 col-lg-4">

        <div class="diagram-col-right">
            <h2>مجموع بازدید مناطق</h2>
            <div class="col-righ-dowm-sec">
                <h3>1024</h3>
                <h4>+8.5%</h4>
            </div>
        </div>

        <div class="diagram-col-left">
            <a href="">
                <span class="icon-info"></span>
            </a>
            <img src="~/outter_theme/assets/img/indicator.png" alt="">
        </div>

    </div>
    <div class="diagram-item  col-xs-6 col-sm-6 col-lg-4">

        <div class="diagram-col-right">
            <h2>مجموع بازدید مناطق</h2>
            <div class="col-righ-dowm-sec">
                <h3>1024</h3>
                <h4>+8.5%</h4>
            </div>
        </div>

        <div class="diagram-col-left">
            <a href="">
                <span class="icon-info"></span>
            </a>
            <img src="~/outter_theme/assets/img/indicator.png" alt="">
        </div>

    </div>

</div>
