@using VM.Teniaco;

<form class="col-12" data-ajax-begin="OnBegin" data-ajax-complete="OnComplete" data-ajax-failure="OnFailed" data-ajax-success="OnSuccess"
      data-ajax="true" data-ajax-method="POST">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
                <div class="row text-center justify-content-center">
        <div class="form-group w-100">
            @{
                <div class="alert alert-danger alert-dismissible " id="error-alert" style="display: block;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close">  <span aria-hidden="true">×</span></button> </div>
            }
        </div>
    </div>
 <div class="row col-12">
        <div id="map" class="col-md-6 col-lg-6"></div>
        <div id="mapSatellite" class="col-md-6 col-lg-6"></div>
    </div>
    

    <div class="ln_solid"></div>

    <div class="form-group row">
        <div class="col-md-9 col-sm-9  offset-md-3">
             <button type="submit" id="btnSubmit" class="btn btn-success btn-md" disabled>ثبت</button>
            <button class="btn btn-primary btn-md" type="reset">پاک کردن فرم</button>
            <button type="button" class="btn btn-primary btn-md">لغو</button>
        </div>
    </div>
</form>
