@using VM.Public;
<form class="col-12" data-ajax-begin="OnBegin" data-ajax-complete="OnComplete" data-ajax-failure="OnFailed" data-ajax-success="OnSuccess"
      data-ajax="true" data-ajax-method="POST">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
      <div class="row text-center justify-content-center">
        <div class="form-group w-100">
            @{
                <div class="alert alert-danger alert-dismissible " id="error-alert" style="display: block;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close">  <span aria-hidden="true">×</span></button> </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                عنوان
            </div>
            <input type="text" id="ZoneFileTitle1" name="ZoneFileTitle1" class="form-control "
                   placeholder="عنوان" />
        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
               فایل 1
            </div>
            <input type="file" id="file1" name="file1"
                   placeholder="فایل 1"  />
        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                مرتب سازی
            </div>
            <input type="number" id="ZoneFileOrder1" name="ZoneFileOrder1" class="form-control"
                   placeholder="مرتب سازی" value="0" />
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                عنوان
            </div>
            <input type="text" id="ZoneFileTitle2" name="ZoneFileTitle2" class="form-control "
                   placeholder="عنوان" />
        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                 فایل 2
            </div>
            <input type="file" id="file2" name="file2"
                   placeholder="فایل 2"  />
        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                مرتب سازی
            </div>
            <input type="number" id="ZoneFileOrder2" name="ZoneFileOrder2" class="form-control"
                   placeholder="مرتب سازی" value="0" />
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                عنوان
            </div>
            <input type="text" id="ZoneFileTitle3" name="ZoneFileTitle3" class="form-control "
                   placeholder="عنوان" />
        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
               فایل 3
            </div>
            <input type="file" id="file3" name="file3"
                   placeholder="فایل 3"  />
        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                مرتب سازی
            </div>
            <input type="number" id="ZoneFileOrder3" name="ZoneFileOrder3" class="form-control"
                   placeholder="مرتب سازی" value="0" />
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                عنوان
            </div>
            <input type="text" id="ZoneFileTitle4" name="ZoneFileTitle4" class="form-control "
                   placeholder="عنوان" />
        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                 فایل 4
            </div>
            <input type="file" id="file4" name="file4"
                   placeholder="فایل 4"  />
        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                مرتب سازی
            </div>
            <input type="number" id="ZoneFileOrder4" name="ZoneFileOrder4" class="form-control"
                   placeholder="مرتب سازی" value="0" />
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                عنوان
            </div>
            <input type="text" id="ZoneFileTitle5" name="ZoneFileTitle5" class="form-control "
                   placeholder="عنوان" />
        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                 فایل 5
            </div>
            <input type="file" id="file5" name="file5"
                   placeholder="فایل 5"  />
        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                مرتب سازی
            </div>
            <input type="number" id="ZoneFileOrder5" name="ZoneFileOrder5" class="form-control"
                   placeholder="مرتب سازی" value="0" />
        </div>
    </div>

    <div class="ln_solid"></div>

    <div class="form-group row">
        <div class="col-md-9 col-sm-9  offset-md-3">
            <button type="submit" id="btnSubmit" class="btn btn-success btn-md">ثبت</button>
            <button class="btn btn-primary btn-md" type="reset">پاک کردن فرم</button>
            <button type="button" class="btn btn-primary btn-md">لغو</button>
        </div>
    </div>
</form>
@*
<form onsubmit="return false;">
    <div class="row">
        <div class="row">
            <div class="form-group col col-md-12">
                @{
                    <div id='error-alert' class="form-group alert alert-danger">
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="ZoneFileTitle1">
                        عنوان
                    </label>
                </div>
                <input type="text" id="ZoneFileTitle1" name="ZoneFileTitle1" class="form-control input-sm"
                       placeholder="عنوان" />
            </div>
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="file1">
                        فایل 1
                    </label>
                </div>
                <input type="file" id="file1" name="file1" class="form-control input-sm"
                       placeholder="فایل 1"  />
            </div>
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="ZoneFileOrder1">
                        مرتب سازی
                    </label>
                </div>
                <input type="number" id="ZoneFileOrder1" name="ZoneFileOrder1" class="form-control input-sm"
                       placeholder="مرتب سازی" value="0" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="ZoneFileTitle2">
                        عنوان
                    </label>
                </div>
                <input type="text" id="ZoneFileTitle2" name="ZoneFileTitle2" class="form-control input-sm"
                       placeholder="عنوان" />
            </div>
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="file2">
                        فایل 2
                    </label>
                </div>
                <input type="file" id="file2" name="file2" class="form-control input-sm"
                       placeholder="فایل 2"  />
            </div>
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="ZoneFileOrder2">
                        مرتب سازی
                    </label>
                </div>
                <input type="number" id="ZoneFileOrder2" name="ZoneFileOrder2" class="form-control input-sm"
                       placeholder="مرتب سازی" value="0" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="ZoneFileTitle3">
                        عنوان
                    </label>
                </div>
                <input type="text" id="ZoneFileTitle3" name="ZoneFileTitle3" class="form-control input-sm"
                       placeholder="عنوان" />
            </div>
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="file3">
                        فایل 3
                    </label>
                </div>
                <input type="file" id="file3" name="file3" class="form-control input-sm"
                       placeholder="فایل 3"  />
            </div>
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="ZoneFileOrder3">
                        مرتب سازی
                    </label>
                </div>
                <input type="number" id="ZoneFileOrder3" name="ZoneFileOrder3" class="form-control input-sm"
                       placeholder="مرتب سازی" value="0" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="ZoneFileTitle4">
                        عنوان
                    </label>
                </div>
                <input type="text" id="ZoneFileTitle4" name="ZoneFileTitle4" class="form-control input-sm"
                       placeholder="عنوان" />
            </div>
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="file4">
                        فایل 4
                    </label>
                </div>
                <input type="file" id="file4" name="file4" class="form-control input-sm"
                       placeholder="فایل 4"  />
            </div>
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="ZoneFileOrder4">
                        مرتب سازی
                    </label>
                </div>
                <input type="number" id="ZoneFileOrder4" name="ZoneFileOrder4" class="form-control input-sm"
                       placeholder="مرتب سازی" value="0" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="ZoneFileTitle5">
                        عنوان
                    </label>
                </div>
                <input type="text" id="ZoneFileTitle5" name="ZoneFileTitle5" class="form-control input-sm"
                       placeholder="عنوان" />
            </div>
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="file5">
                        فایل 5
                    </label>
                </div>
                <input type="file" id="file5" name="file5" class="form-control input-sm"
                       placeholder="فایل 5"  />
            </div>
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="ZoneFileOrder5">
                        مرتب سازی
                    </label>
                </div>
                <input type="number" id="ZoneFileOrder5" name="ZoneFileOrder5" class="form-control input-sm"
                       placeholder="مرتب سازی" value="0" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="ZoneFileTitle6">
                        عنوان
                    </label>
                </div>
                <input type="text" id="ZoneFileTitle6" name="ZoneFileTitle6" class="form-control input-sm"
                       placeholder="عنوان" />
            </div>
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="file6">
                        فایل 6
                    </label>
                </div>
                <input type="file" id="file6" name="file6" class="form-control input-sm"
                       placeholder="فایل 6"  />
            </div>
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="ZoneFileOrder6">
                        مرتب سازی
                    </label>
                </div>
                <input type="number" id="ZoneFileOrder6" name="ZoneFileOrder6" class="form-control input-sm"
                       placeholder="مرتب سازی" value="0" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="ZoneFileTitle7">
                        عنوان
                    </label>
                </div>
                <input type="text" id="ZoneFileTitle7" name="ZoneFileTitle7" class="form-control input-sm"
                       placeholder="عنوان" />
            </div>
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="file7">
                        فایل 7
                    </label>
                </div>
                <input type="file" id="file7" name="file7" class="form-control input-sm"
                       placeholder="فایل 7"  />
            </div>
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="ZoneFileOrder7">
                        مرتب سازی
                    </label>
                </div>
                <input type="number" id="ZoneFileOrder7" name="ZoneFileOrder7" class="form-control input-sm"
                       placeholder="مرتب سازی" value="0" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="ZoneFileTitle8">
                        عنوان
                    </label>
                </div>
                <input type="text" id="ZoneFileTitle8" name="ZoneFileTitle8" class="form-control input-sm"
                       placeholder="عنوان" />
            </div>
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="file8">
                        فایل 8
                    </label>
                </div>
                <input type="file" id="file8" name="file8" class="form-control input-sm"
                       placeholder="فایل 8"  />
            </div>
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="ZoneFileOrder8">
                        مرتب سازی
                    </label>
                </div>
                <input type="number" id="ZoneFileOrder8" name="ZoneFileOrder8" class="form-control input-sm"
                       placeholder="مرتب سازی" value="0" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="ZoneFileTitle9">
                        عنوان
                    </label>
                </div>
                <input type="text" id="ZoneFileTitle9" name="ZoneFileTitle9" class="form-control input-sm"
                       placeholder="عنوان" />
            </div>
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="file9">
                        فایل 9
                    </label>
                </div>
                <input type="file" id="file9" name="file9" class="form-control input-sm"
                       placeholder="فایل 9"  />
            </div>
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="ZoneFileOrder9">
                        مرتب سازی
                    </label>
                </div>
                <input type="number" id="ZoneFileOrder9" name="ZoneFileOrder9" class="form-control input-sm"
                       placeholder="مرتب سازی" value="0" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="ZoneFileTitle10">
                        عنوان
                    </label>
                </div>
                <input type="text" id="ZoneFileTitle10" name="ZoneFileTitle10" class="form-control input-sm"
                       placeholder="عنوان" />
            </div>
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="file10">
                        فایل 10
                    </label>
                </div>
                <input type="file" id="file10" name="file10" class="form-control input-sm"
                       placeholder="فایل 10"  />
            </div>
            <div class="form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12">
                <div>
                    <label for="ZoneFileOrder10">
                        مرتب سازی
                    </label>
                </div>
                <input type="number" id="ZoneFileOrder10" name="ZoneFileOrder10" class="form-control input-sm"
                       placeholder="مرتب سازی" value="0" />
            </div>
        </div>
        <div class="form-group col col-md-4 col-lg-4 col-xs-12 col-sm-12">
            <label class="col-lg-12">
                &nbsp;
            </label>
            <button id="btnSubmit" name="btnSubmit" class="btn btn-default input-sm" type="button">
                آپلود
            </button>
            <button id="btnReset" name="btnReset" class="btn btn-default input-sm" data-toggle="tooltip" data-placement="top"
                    title="پاک کردن فرم">
                <i class="fa fa-undo"></i>
            </button>
        </div>
    </div>

</form>*@