@using Services.Xml.Entities;

@{
}
<div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
    <div class="panel panel-primary boxShadow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-comments fa-2x"></i>
                </div>
                <div class="col-xs-9 text-left">
@*                    <div class="huge">
                        5
                    </div>*@
                    <div style="font-size: 16px;height: 25px;">
                        پیامهای من (5)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
    <div class="panel panel-primary boxShadow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-tasks fa-2x"></i>
                </div>
                <div class="col-xs-9 text-left">
@*                    <div class="huge">
                        8
                    </div>*@
                    <div style="font-size: 16px;height: 25px;">
                        وظایف (8)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
    <div class="panel panel-primary boxShadow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-home fa-2x"></i>
                </div>
                <div class="col-xs-9 text-left">
@*                    <div class="huge">
                        150
                    </div>*@
                    <div style="font-size: 16px;height: 25px;">
                        املاک (150)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
    <div class="panel panel-primary boxShadow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-cube fa-2x"></i>
                </div>
                <div class="col-xs-9 text-left">
@*                    <div class="huge">
                        150
                    </div>*@
                    <div style="font-size: 16px;height: 25px;">
                        پروژه ها (17)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
