@using Services.Xml.Entities;

@{
}

@*<div class="row" style="display: inline-block;">
    <div class="tile_count">
        <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> تعداد کاربران</span>
            <div class="count">۲۵۰۰</div>
            <span class="count_bottom"><i class="green">4% </i> در هفته اخیر</span>
        </div>
        <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> میانگین</span>
            <div class="count">۱۲۳.۵۰</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> در هفته اخیر</span>
        </div>
        <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> آقایان</span>
            <div class="count green">۲،۵۰۰</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> در هفته اخیر</span>
        </div>
        <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> خانمها</span>
            <div class="count">۱۲۳.۵۰</div>
            <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> در هفته اخیر</span>
        </div>
        <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> تعداد</span>
            <div class="count">۲۵۰۰</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> در هفته اخیر</span>
        </div>
        <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> ارتباطات</span>
            <div class="count">۲،۵۰۰</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> در هفته اخیر</span>
        </div>
    </div>
</div>*@

@*<div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
    <div class="panel panel-primary boxShadow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-comments fa-2x"></i>
                </div>
                <div class="col-xs-9 text-left">
                    <div style="font-size: 16px;height: 25px;">
                        پیامهای من (5)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
    <div class="panel panel-primary boxShadow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-tasks fa-2x"></i>
                </div>
                <div class="col-xs-9 text-left">
                    <div style="font-size: 16px;height: 25px;">
                        وظایف (8)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
    <div class="panel panel-primary boxShadow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-home fa-2x"></i>
                </div>
                <div class="col-xs-9 text-left">
                    <div style="font-size: 16px;height: 25px;">
                        املاک (150)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
    <div class="panel panel-primary boxShadow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-cube fa-2x"></i>
                </div>
                <div class="col-xs-9 text-left">
                    <div style="font-size: 16px;height: 25px;">
                        پروژه ها (17)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
