@using VM.Public;

@{
    string domainName = "";
    if (ViewData["DomainName"] != null)
        domainName = ViewData["DomainName"] as string;
}


<div class="d-flex align-items-center justify-content-between mb-auto p-3 osahan-header bg-white shadow-sm osahan-header">

    @*<div class="d-flex align-items-center gap-2">
    <a class="toggle bg-white shadow rounded-circle icon d-flex align-items-center justify-content-center"
    href="#"><i class="bi bi-list text-primary fs-5 d-flex"></i></a>
    </div>*@
    <h6 class="mb-0 ms-3 me-auto fw-bold">قوانین ملکاوان</h6>
    <a id="backButton" class="text-dark bg-white shadow rounded-circle icon">
        <span class="mdi mdi-arrow-left mdi-18px"></span>
    </a>
</div>
<div class="vh-100 my-auto overflow-auto body-fix-osahan-footer">
    <div class="matn p-3 mt-3 ">
        <h6 class="mb-3 fw-bold" id="title"> قوانین ملکاوان</h6>

        <p class="text-dark mb-2" id="description">
            <span class="fw-bold">ممنوعات:</span><br>
            <span class="text-muted">
                درج هر نوع آگهی که شامل موارد زیر باشد ممنوع بوده و مسئولین سایت بدون کسب اجازه از آگهی دهنده، آن را حذف کرده و هزینه آن آگهی قابل استرداد نخواهد بود.

                آگهی دهندگان محترم طبق قوانین، مسؤلیت محتوای آگهی با آگهی دهنده میباشد لذا سایت ملکاوان در جهت ترویج فرهنگ اطلاع رسانی شفاف و صحیح قبل از نمایش آگهی، اقدام به بررسی متون و تصاویر می نماید. بنابراین خواهشمند است قبل ازدرج آگهی خود حتما ضوابط ثبت آگهی را مطالعه و مراعات نمایید درغیر اینصورت بدون تذکر قبلی، آگهی بلافاصله حذف خواهد شد و سایت ملکاوان هیچگونه مسئولیتی در قبال آن نخواهد داشت.همچنین اگر آگهی در هر زمان مشخص شود که با قوانین مغایرت دارد نمایش آن بلافاصله قطع خواهد شد و آگهی دهنده حق هرگونه اعتراضی را از خود سلب می نماید. همچنین ملکاوان مى تواند با به روز کردن قوانین درج آگهی در هر زمان این قوانین را مورد تجدید نظر قرار دهد. آگهی دهندگان محترم نیز مقید و متعهد به چنین تجدید نظرهایى هستند.

            </span>
        </p>
        <p class="text-dark mb-2" id="description">
            <span class="fw-bold">ظوابط ثبت آگهی</span><br>
            <span class="text-muted">



                انتخاب تیترها، واژگان و متن‌هایی که با ارزشهای اسلامی و شئونات جامعه اسلامی مغایر باشد.
                استفاده از لوگوهای نامتعارف و لوگوهای جراید و سایر نشریات.

                آگهی‌هایی که شائبه هرگونه کلاهبرداری در آنها مشاهده شود.

                درج آدرس سایتهایی که محتوای آن مغایر با شئونات اسلامی و سیاسی باشد.

                درج شماره حساب در متن آگهی.

                نشر مطالب الحادی و مخالف موازین اسلامی و قانون اساسی جمهوری اسلامی ایران.

                اشاعه و تبلیغ گروهها و احزاب غیر قانونی.

                اشاعه فحشا و منکرات و انتشار مطالب خلاف اخلاق و عفت عمومی.

                ایراد افترا و توهین به اشخاص حقیقی و حقوقی.

                فعالیت های تجاری و مالی غیر قانونی و غیر مجاز از طریق شبکه های اطلاع رسانی و اینترنت از قبیل جعل، اختلاس، قمار و یا مباحثی شامل پولدار شدن و نتورک مارکتینگ، سیستمهای هرمی و …

                خرید و فروش و تبلیغات کلیه کالاهایی که عرضه آنها منع قانونی دارد.
                آموزش و ارائه هر نوع روش مقابله با مسدود سازی پایگاه های اطلاع رسانی غیر مجاز

                هر گونه محتوای سیاسی مخالف موازین اسلامی و مخالف قوانین جمهوری اسلامی ایران

                انتشار اطلاعات حاوی کلیدهای رمز بانک های اطلاعاتی ، نرم افزارهای خاص ، صندوق های پست الکترونیک و یا روش شکستن آنها

                عرضه هر گونه محصول نرم افزاری ثبت شده ایرانی بدون در نظر گرفتن حق مولف
                درج آگهی مربوط به هر گونه فیلم یا موسیقی که مغایر با فرهنگ اسلامی و قوانین جاری کشور باشد.

                به منظور مشاهده آگهی‌ها و استفاده از قابلیت‌های ملکاوان، شما می‌بایست شماره تلفن همراه فعال خود را که کد تایید به آن ارسال می‌شود، ثبت نموده و حساب کاربری خود را ایجاد کنید.

                به منظور ثبت آگهی در ملکاوان ، شما می‌بایست ابتدا با استفاده از شماره تلفن همراهی که به نامتان ثبت شده شما انطباق دارد، حساب کاربری ایجاد کنید.

                برای هرگونه فعالیت در ملکاوان ، می‌بایست شرایط زیر را رعایت کنید:
                الف) داشتن ۱۸ سال تمام. فعالیت افراد زیر ۱۸ سال می‌بایست با نظارت والدین صورت بگیرد.
                ب) انطباق فعالیت شما و آگهی‌هایتان با قوانین، آیین‌نامه‌ها، بخشنامه‌ها، مصوبات، دستورالعمل‌های جاری جمهوری اسلامی ایران، دستورات مقامات قضایی، عرف و نظم عمومی.
                پ) انطباق فعالیت شما و آگهی‌هایتان با شرایط و قوانین ملکاوان.
                ت) استفاده از زبان فارسی برای انتشار هر گونه محتوا.

            </span>
        </p>
        <p class="text-dark mb-2" id="description">
            <span class="fw-bold">سیاست‌های چت در ملکاوان</span><br>
            <span class="text-muted">
                چت ملکاوان یک فضای ارتباطی عمومی بین آگهی‌گذار و آگهی‌بیننده است که با هدف تسهیل ارتباط و معاملات ارائه شده‌ است. هرگونه استفاده از چت ملکاوان به معنی پذیرفتن شرایط زیر است:
                1) مکاتبات شما در چت ملکاوان باید مرتبط با آگهی و در خصوص ارائه و دریافت کالا و خدمات مورد اشاره باشد. استفاده از چت ملکاوان برای مقاصد دیگر از جمله ارتباطات خصوصی و امور سیاسی و اجتماعی مجاز نیست.

                2) برای ایجاد محیطی ایمن و جلوگیری از سوءاستفاده، مزاحمت و کلاهبرداری، ملکاوان در صورت لزوم ممکن است با سیستم‌های ماشینی یا انسانی بر مکاتبات نظارت کند..
                3) مواردی از قبیل فرستادن پیام و محتوای غیراخلاقی یا نامربوط به معامله، استفاده از ادبیات غیر مؤدبانه، هرگونه تبلیغات، ارائه‌ی اجناس و خدماتی که خلاف  قوانین کشور و شرایط و مقررات ملکاوان هستند، ارسال پیام‌های انبوه، در صورت گزارش شدن توسط کاربران، با دقت بررسی خواهند شد. طبق شرایط و مقررات ملکاوان ، این اقدامات می‌تواند مسدود شدن دائمی حساب کاربر متخلف منجر شود.
                ت) شما متعهد هستید تمام قوانین و مقررات جاری کشور را در محیط چت رعایت کنید و ممنوعیت هرگونه مزاحمت، توهین، فحاشی، افترا، نشر اکاذیب و سایر عناوین کیفری را در ملکاوان بپذیرید. در صورت نقض این موارد، شما شخصاً مسئول بوده و ملکاوان علاوه بر حمایت از اشخاص زیان‌دیده، حق پیگیری کیفری موضوع و یا مطالبه‌ی جبران خسارت خود را محفوظ می‌داند. در چنین مواردی، ملکاوان به تشخیص خود اقدامات لازم (از جمله تعلیق یا مسدود کردن دائم حساب اشخاص متخلف) را اجرا می‌کند. کاربرانی که از نقض شرایط و قوانین فوق صدمه دیده‌اند، رضایت می‌دهند که موضوع را فقط علیه کاربر متخلف پیگیری نموده و هیچ‌گونه ادعایی علیه ملکاوان نداشته باشند. هرگاه در خصوص موارد فوق، مراجع قانونی و قضایی به ملکاوان مراجعه کنند، ملکاوان تمام اطلاعات لازم را در اختیارشان قرار خواهد داد. اگر بابت پیگیری‌های مراجع صالح، هزینه‌هایی به دیوار تحمیل شود، ملکاوان حق رجوع به کاربر متخلف را دارد.

            </span>
        </p>
        <p class="text-dark mb-2" id="description">
            <span class="fw-bold">سیاست‌های مرتبط با کلاهبرداری و مزاحمت</span><br>
            <span class="text-muted">
                شما باید در هنگام معامله هویت طرف قرارداد را  احراز نموده و از امن بودن و صحت شرایط قرارداد مطمئن شوید. ملکاوان مسئولیتی در قبال صحت‌سنجی معاملات ندارد؛ با این حال، حق پیگیری و اقدامات لازم در موارد وقوع تخلف برای ملکاوان محفوظ است. در راستای مقابله با کلاهبرداری، ملکاوان در حد توان خود، کاربران متخلفی را که قصد اقدامات مجرمانه دارند، مسدود کرده و در صورت تشکیل پرونده و درخواست مقامات، گزارش و اطلاعات مربوط به تخلفات را در اختیار مقامات ذی‌صلاح قرار می‌دهد. شما ضمن استفاده از ملکاوان صراحتاً موافقت خود را با این سند اعلام می‌کنید، بنابراین در صورت ارتکاب هرگونه تخلف از محتوای آن، دیوار حق هرگونه اقدام بازدارنده به منظور مقابله با تخلف را دارد. همچنین، در برابر وقوع جرم از قبیل کلاهبرداری، ایجاد مزاحمت برای کاربران و هرگونه سوء رفتار که موجب خدشه‌دار شدن آرامش کاربران یا ضرر به ایشان شود، ملکاوان حق واکنش به اقدام فرد خاطی و پیگرد او را برای خود محفوظ می‌داند. با علم بر عدم مسئولیت ملکاوان ، مجموعه اقدامات ذکر شده به منظور احترام به قوانین، جلب رضایت کاربران و در راستای حفظ سیاست‌ها و ارزش‌های ملکاوان است.
            </span>
        </p>
        <p class="text-dark mb-2" id="description">
            <span class="fw-bold">حفاظت از حریم خصوصی </span><br>
            <span class="text-muted">

                ۱) موارد عمومی

                <br />
                الف) اصل حفاظت از حریم خصوصی، قواعد رفتاری ما در حوزهٔ استفاده، جمع‌آوری و ذخیره‌سازی قانونی اطلاعات شخصی کاربران و چارچوب محافظت از این اطلاعات را تبیین می‌کند.
                <br />
                ب) با استفاده از سایت و اپلیکیشن ملکاوان ، شما صراحتاً رضایت خود را از جمع‌آوری، ذخیره‌سازی و حفظ اطلاعات شخصی و استفاده از این اطلاعات توسط ملکاوان اعلام می‌کنید.
                <br />

                ۲) اطلاعات جمع آوری شده از کاربران
                <br />
                الف) همهٔ افراد می‌توانند بدون ثبت نام، به سایت یا اپلیکیشن ملکاوان مراجعه کنند. شما به محض ثبت نام در سایت یا اپلیکیشن ملکاوان از طریق شمارهٔ تلفن همراه خود، صراحتاً موافقتتان را با ذخیره‌سازی قانونی اطلاعات شخصی خود و استفاده و محافظت ملکاوان از این اطلاعات، اعلام می‌دارید.
                <br />
                ب) اطلاعات وارد شده توسط شما، مربوط به محتوای آگهی و اطلاعات مربوط به تصاویری که توسط شما در سایت/اپلیکیشن بارگذاری می‌شود، به منظور حفظ سطح خدمات و جلوگیری از تخلف و کلاهبرداری، جمع آوری و ذخیره سازی خواهد شد.
                <br />

                ۳) نحوه استفاده ملکاوان از اطلاعات شخصی کاربران
                <br />

                شما با ایجاد حساب کاربری در سایت یا اپلیکیشن ملکاوان ، صراحتاً با استفادهٔ ملکاوان از اطلاعات شخصی خود برای اهداف زیر موافقت می کنید:
                •	 ارتباط با کاربران
                <br />
                •	  جلوگیری از کلاهبرداری، مزاحمت و …
                <br />
                •	  بهبود تجربه‌ی کاربری
                <br />
                •	  به منظور مباحث پژوهشی و توسعه‌ای، به صورت بی‌نام و با صلاحدید و تشخیص ملکاوان
                <br />
                •	 سایر اهدافی که به صورت مشروع و قانونی توسط ملکاوان تعیین می‌شود
                <br />
                •
                ۴) نگهداری و حفاظت از داده‌های کاربران

                <br />
                الف) در راستای تطابق عملکرد با قوانین و مقررات کشور، ملکاوان تنها در پاسخ به دستور مراجع ذی‌صلاح ممکن است اطلاعات موضوع این سند را در اختیار نهادهای مربوط قرار دهد
                <br />
                ب) اشخاص ثالثی که به نحوی در ارائهٔ خدمات با ملکاوان همکاری کرده یا وابسته به ملکاوان هستند، فقط در چارچوب این سند اجازهٔ پردازش اطلاعات شخصی و استفاده از آن را دارند.
                <br />
                پ) ملکاوان در راستای حفظ و نگهداری داده‌های شخصی کاربرانش تمام تلاش خود را به کار می‌بندد، اما در صورت وقوع حوادث غیر قابل پیش‌بینی و خارج از کنترل یا اختلال در بستر اینترنت کشور، هیچ گونه مسئولیتی در قبال مخدوش شدن داده‌های کاربران ندارد.
                <br />


            </span>
        </p>
        <p class="text-dark mb-2" id="description">
            <span class="fw-bold">ماده۸- حل و فصل اختلافات  </span><br>
            <span class="text-muted">
                در صورت بروز هرگونه اختلاف بین کاربران با یکدیگر:
                در صورتی که بین شما و کاربر دیگری اختلاف ایجاد شود، ابتدا تلاش به حل مسالمت آمیز آن کرده و در صورت عدم توافق، می‌توانید به مراجع قضایی مراجعه کنید. لازم به ذکر است، ما در این زمینه مسئولیتی نداریم ولی تلاش می‌کنیم در حد امکان با شما همکاری کنیم.

            </span>
        </p>



    </div>
</div>

<div class="footer mt-auto  pt-1 fix-osahan-footer" style="position: fixed;">
    <div class="mx-1 my-1 d-flex align-items-center justify-content-between rounded-4 shadow overflow-hidden bottom-nav-main">
        <a id="melkavan-icon" class="col footer-bottom-nav active">
            <span class="mdi mdi-home-variant-outline mdi-24px footer-bottom-nav-span-mdi"></span>
            <span>ملکاوان</span>
        </a>

        @if (User.Identity.IsAuthenticated)
        {
            <a asp-action="AdvertisementRegistration" class="col footer-bottom-nav">
                <span class="mdi mdi-application-edit-outline mdi-24px footer-bottom-nav-span-mdi"></span>
                <span>ثبت</span>
            </a>
            <a id="chat-icon" class="col footer-bottom-nav">
                <span class="mdi md mdi-message-processing-outline mdi-24px footer-bottom-nav-span-mdi"></span>
                <span>چت</span>
            </a>
            <a asp-action="MelkavanProfile" class="col footer-bottom-nav ">
                <span class="mdi mdi-account-outline mdi-24px footer-bottom-nav-span-mdi"></span>
                <span>پروفایل</span>
            </a>
        }
        else
        {
            <button type="button" style="background-color: transparent;" id="openSignin" class="col footer-bottom-nav border-0 "
                    data-bs-toggle="modal" data-bs-target="#loginModal">
                <span class="mdi   mdi-application-edit-outline mdi-24px footer-bottom-nav-span-mdi"></span>
                <span>ثبت</span>
            </button>
            <button type="button" style="background-color: transparent;" id="openSignin" class="col footer-bottom-nav border-0 "
                    data-bs-toggle="modal" data-bs-target="#loginModal">
                <span class="mdi  mdi-message-processing-outline mdi-24px footer-bottom-nav-span-mdi"></span>
                <span>چت</span>
            </button>
            <button type="button" style="background-color: transparent;" id="openSignin" class="col footer-bottom-nav border-0 "
                    data-bs-toggle="modal" data-bs-target="#loginModal">
                <span class="mdi  mdi-account-key-outline mdi-24px footer-bottom-nav-span-mdi"></span>
                <span>ورود</span>
            </button>
        }
    </div>
</div>