@{
    Layout = null;
    IgnoreSection("head");
    IgnoreSection("scripts");
}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link rel="icon" href="img/logo.svg" type="image/png">*@

    <meta name="apple-mobile-web-app-title" content="Add to Home">
    <link rel="shortcut icon" sizes="16x16" href="~/malkavan.png">
    <link rel="shortcut icon" sizes="196x196" href="~/malkavan.png">
    <link rel="apple-touch-icon-precomposed" href="~/malkavan.png">
    <link rel="icon" href="~/malkavan.png" type="image/png">

    <title>ملکاوان</title>
    <link href="~/dactorapp/vender/jquery-ui-themes-1.13.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/dactorapp/vender/bootstrap/css/bootstrap.min.css">
    <!-- Bootstrap icon -->
    <link href="~/dactorapp/vender/bootstrap/css/bootstrap-icons.css" rel="stylesheet" />
    <!-- Slick slider css -->
    <link rel="stylesheet" href="~/dactorapp/vender/slick/slick/slick.css" />
    <link rel="stylesheet" href="~/dactorapp/vender/slick/slick/slick-theme.css" />
    <!-- Sidebar css -->
    <link rel="stylesheet" href="~/dactorapp/vender/sidebar/demo.css">
    <!-- Matrial Icons -->
    <link rel="stylesheet" href="~/dactorapp/vender/materialdesign/css/materialdesignicons.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="~/dactorapp/css/style.css">
    <style>

        #melkavanImage {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        h3{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }


    </style>

</head>
<body class="bg-light" dir="rtl">
    <div class="col-lg-12 mt-5">
        <img src="~/images/melkavan-new.png" style="max-width:500px;" class="img-fluid" id="melkavanImage" alt="Responsive image">
    </div>
    <div class="card-body p-4 mt-5" id="title">
        <h3 class="text-center mb-2 lh-base">لطفا از پلتفرم موبایل استفاده کنید</h3>
    </div>
        <div class="col-lg-12 mt-2">
        <img src="~/images/qr-code.png" style="width:13%; min-width:150px;" id="melkavanImage" alt="Responsive image">
        </div>

    <!-- Bootstrap bundle js -->
    <script src="~/dactorapp/vender/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Jquery js -->
    <script src="~/dactorapp/vender/jquery/jquery.min.js"></script>
    <script src="~/dactorapp/vender/jquery-ui-1.13.2/jquery-ui.js"></script>
    <!-- Slick slider js -->
    <script src="~/dactorapp/vender/slick/slick/slick.min.js"></script>
    <!-- Sidebar js -->
    <script src="~/dactorapp/vender/sidebar/hc-offcanvas-nav.js"></script>
    <!-- Custom js -->
    <script src="~/dactorapp/js/script.js"></script>
</body>

</html>
