<div class="x_panel" id="searchBlock">

    <div class="x_content">
        <!-- start accordion -->
        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
                @* <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h4 class="panel-title">جستجو</h4>
                </a>*@
                <div id="collapseOne" class="panel-collapse  in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body row">
                        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3">
                            <div class="mx-2">
                                  نام کاربرد فرم
                            </div>
                             <input id="txtFormUsageTitle" name="txtFormUsageTitle" class="form-control"
                   placeholder="نام کاربرد فرم" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="clearfix"></div>
            <div class="col col-md-4 col-xs-12 col-sm-12 col-lg-4">
                <div class="empty-block">&nbsp;</div>
                <button id="btnSearch" name="btnSearch" class="btn btn-success btn-sm">
                    جستجو
                </button>
                <button id="btnReload" name="btnReload" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top"
                        title="بارگذاری مجدد">
                    <i class="fa fa-refresh"></i>
                </button>
                <button id="btnReset" name="btnReset" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top"
                        title="پاک کردن فرم">
                    <i class="fa fa-undo"></i>
                </button>
                <button id="btnRemoveSelectedRows" name="btnRemoveSelectedRows" class="btn btn-danger btn-sm"
                        data-toggle="tooltip" data-placement="top"
                        title="حذف سطرهای انتخاب شده"
                        data-href="/Admin/UsersManagement/CompleteDeleteUsers">
                    <i class="fa fa-remove "></i>
                </button>
            </div>
        </div>
        <!-- end of accordion -->


    </div>
</div>
<hr class="full-splitter" />
<div id="listContainer"></div>
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="formPreview-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-start">
              <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">پیش نمایش فرم</h4>

            </div>
            <div class="modal-body">
                <div class="col-12 formPreviewBlock">
                   @* <div class='col-xl-6 col-md-6 col-xs-12 col-sm-12 col-lg-6 my-3'>
                        <div class="mx-2">
                            شماره تماس
                        </div>

                        <input type='text' class="form-control" id="txtPhone" name="txtPhone" />
                    </div>*@
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-success btn-Create-person btn-sm" id="modal-btn-yes">ثبت</button>
                <button type="button" class="btn btn-primary btn-sm" id="modal-btn-no" data-dismiss="modal">لغو</button>
            </div>
        </div>
    </div>
</div>
