<script type="text/javascript">

    $(document).ready(function () {

        $('#searchBlock').hide(1000);

        $('#listContainer').jtable({
            //messages: persianMessages,
            title: 'فرمها', toolbarType: 'both',
            paging: true,
            pageSize: 10, selecting: true,
            //selecting: true,
            sorting: true,
            //defaultSorting: 'Name ASC',
            actions: {
                listAction: '/AdminAutomation/FormsManagement/GetListOfForms',
                createAction: '/AdminAutomation/FormsManagement/AddToForms',
                updateAction: '/AdminAutomation/FormsManagement/UpdateForms',
                deleteAction: '/AdminAutomation/FormsManagement/CompleteDeleteForms'
            },
            toolbar: {
                /*hoverAnimation: true,
                hoverAnimationDuration: 60,
                hoverAnimationEasing: 'swing',*/
                items: [
                    {
                        icon: '',
                        text: 'تغییر نمایش',
                        click: function () {
                            $.ajax({
                                cache: false,
                                type: "Post",
                                url: '/Admin/AdminPanel/ChangeViewMode',
                                //data: /*JSON.stringify(*/{
                                //    'lang': lang
                                //}/*)*/,
                                //contentType: 'application/json',
                                //dataType: "json",
                                success: function (result) {
                                    if (result.Result == "OK") {
                                        window.setTimeout(function () {
                                            location.reload(true);
                                        }, 500);
                                    }
                                    else
                                        if (result.Result == "ERROR") {
                                            alert('error');
                                        }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                }
                            });
                        }
                    }]
            },
            fields: {
                FormId: {
                    key: true,
                    list: false
                },
                FormName: {
                    title: 'نام&nbsp;فرم',
                    sorting: false,
                    inputClass: 'validate[required]'
                },
                FormUsageIds: {
                    title: 'کاربرد',
                    sorting: false,
                    options: formUsagesList,
                    input: function (data) {
                        return '<select id="Edit-FormUsageIds" name="FormUsageIds" multiple>' +
                            '</select>';
                    },
                    display: function (data) {
                        debugger;
                        if (data.record.FormUsageIds != null) {
                            var returnResult = '';

                            var formUsageIds = data.record.FormUsageIds.split(",");
                            if (formUsageIds != null) {
                                if (formUsageIds.length > 0) {
                                    for (var i = 0; i < formUsageIds.length; i++) {
                                        var formUsageId = formUsageIds[i];

                                        var formUsage = formUsagesList.filter(function (item) {
                                            debugger;
                                            return (item.Value + '') === formUsageId;
                                        });

                                        if (formUsage != null)
                                            if (formUsage.length > 0)
                                                returnResult += formUsage[0].DisplayText + '';
                                    }
                                }
                            }

                            return returnResult;
                        }
                    }
                },
                FormElement: {
                    title: 'فیلدها',
                    sorting: false,
                    create: false,
                    edit: false,
                    display: function (data) {
                        return '<i class="fa fa-list-ul pointer formElement" data-FormId="' + data.record.FormId + '">&nbsp;</i>';
                    }
                },
                FormPreview: {
                    title: 'پیش&nbsp;نمایش',
                    sorting: false,
                    create: false,
                    edit: false,
                    display: function (data) {
                        return '<i class="fa fa-cube pointer formPreview" data-FormId="' + data.record.FormId + '">&nbsp;</i>';
                    }
                },
                UserCreatorName: {
                    title: 'ایجاد&nbsp;کننده',
                    sorting: false,
                    create: false,
                    edit: false,
                    //list: false
                },
                IsActivated: {
                    title: 'فعال&nbsp;/&nbsp;غیر&nbsp;فعال',
                    sorting: false,
                    input: function (data) {
                        if (data.record != undefined) { //if (data.record != '') {
                            if (data.record.IsActivated == true) {
                                return '<select id="Edit-IsActivated" name="IsActivated">' +
                                    '<option value="true" selected>بله</option>' +
                                    '<option value="false">خیر</option>' +
                                    '</select>';
                            }
                            else {
                                return '<select id="Edit-IsActivated" name="IsActivated">' +
                                    '<option value="true">بله</option>' +
                                    '<option value="false" selected>خیر</option>' +
                                    '</select>';
                            }
                        }
                        else {
                            return '<select id="Edit-IsActivated" name="IsActivated">' +
                                '<option value="true">بله</option>' +
                                '<option value="false">خیر</option>' +
                                '</select>';
                        }
                    },
                    options: {
                        true: 'بله',
                        false: 'خیر'
                    },
                    display: function (data) {
                        ////debugger;
                        if (data.record.IsActivated)
                            return '<div class="isActivated pointer" data-FormId="' +
                                data.record.FormId + '"><i class="fa fa-check-square"></i></div>';
                        else
                            return '<div class="isActivated pointer" data-FormId="' +
                                data.record.FormId + '"><i class="fa fa-square-o"></i></div>';
                    }
                },
                IsDeleted: {
                    title: 'حذف&nbsp;شده',
                    sorting: false,
                    input: function (data) {
                        if (data.record != undefined) { //if (data.record != '') {
                            if (data.record.IsDeleted == true) {
                                return '<select id="Edit-IsDeleted" name="IsDeleted">' +
                                    '<option value="true" selected>بله</option>' +
                                    '<option value="false">خیر</option>' +
                                    '</select>';
                            }
                            else {
                                return '<select id="Edit-IsDeleted" name="IsDeleted">' +
                                    '<option value="true">بله</option>' +
                                    '<option value="false" selected>خیر</option>' +
                                    '</select>';
                            }
                        }
                        else {
                            return '<select id="Edit-IsDeleted" name="IsDeleted">' +
                                '<option value="true">بله</option>' +
                                '<option value="false" selected>خیر</option>' +
                                '</select>';
                        }
                    },
                    options: {
                        true: 'بله',
                        false: 'خیر'
                    },
                    display: function (data) {
                        ////debugger;
                        if (data.record.IsDeleted)
                            return '<div class="isDeleted" data-FormId="' + data.record.FormId + '"><i class="fa fa-check-square"></i></div>';
                        else
                            return '<div class="isDeleted" data-FormId="' + data.record.FormId + '"><i class="fa fa-square-o"></i></div>';
                    }
                },
            },
            formCreated: function (event, data) {

                data.form.validationEngine({
                    validateNonVisibleFields: true,
                    updatePromptsPosition: true,
                    autoPositionUpdate: true,
                    //prettySelect: true,
                    //useSuffix: "chosen-"
                    //updatePromptsPosition: true,
                    //autoPositionUpdate: true,
                    //updatePromptsPosition: true,
                    //inlineValidation: true,
                    //prettySelect: true,
                    //useSuffix: "_chosen"
                });

                $('.ui-dialog-titlebar-close').contents().filter(function () {
                    return this.nodeType === 3;
                }).remove();

                $(".jtable-dialog-form .jtable-input-field-container").each(function () {
                    var block = $(this);
                    block.addClass('col col-md-6 col-sm-12 col-xs-12');
                });

                $(".jtable-dialog-form :input").each(function () {
                    var input = $(this);
                    input.addClass('form-control ');
                });

                var formName = '';
                if (data.formType == 'create')
                    formName = 'create';
                else
                    formName = 'edit';

                $('#jtable-' + formName + '-form select').chosen({
                    placeholder_text_single: ' ',
                    placeholder_text_multiple: ' ',
                    rtl: rtl
                });

                $('#Edit-FormUsageIds').find('option')
                    .remove()
                    .end()
                    .append('<option value="" disabled>---</option>');

                for (var i = 0; i < formUsagesList.length; i++) {
                    var item = formUsagesList[i];
                    $('#Edit-FormUsageIds')
                        .append($("<option></option>")
                            .attr("value", item.Value)
                            .text(item.DisplayText));
                }

                $('#Edit-FormUsageIds').chosen({
                    placeholder_text_single: ' ',
                    placeholder_text_multiple: ' ',
                    search_contains: true,
                    max_shown_results: numberOfChosenItemsShow,
                    rtl: rtl
                });

                debugger;
                if (formName == 'edit') {

                    $('#Edit-FormUsageIds').val(data.record.FormUsageIds).trigger("chosen:updated");

                    $('#Edit-IsActivated').chosen({
                        placeholder_text_single: ' ',
                        placeholder_text_multiple: ' ',
                        search_contains: true,
                        max_shown_results: numberOfChosenItemsShow,
                        rtl: rtl
                    });
                    $('#Edit-IsActivated').val(data.record.IsActivated + '').trigger("chosen:updated");

                    $('#Edit-IsDeleted').chosen({
                        placeholder_text_single: ' ',
                        placeholder_text_multiple: ' ',
                        search_contains: true,
                        max_shown_results: numberOfChosenItemsShow,
                        rtl: rtl
                    });
                    $('#Edit-IsDeleted').val(data.record.IsDeleted + '').trigger("chosen:updated");
                }
                else
                    if (formName == 'create') {

                        $('#Edit-FormUsageIds').trigger("chosen:updated");

                        $('#Edit-IsActivated').chosen({
                            placeholder_text_single: ' ',
                            placeholder_text_multiple: ' ',
                            search_contains: true,
                            max_shown_results: numberOfChosenItemsShow,
                            rtl: rtl
                        });
                        $('#Edit-IsActivated').trigger("chosen:updated");

                        $('#Edit-IsDeleted').chosen({
                            placeholder_text_single: ' ',
                            placeholder_text_multiple: ' ',
                            search_contains: true,
                            max_shown_results: numberOfChosenItemsShow,
                            rtl: rtl
                        });
                        $('#Edit-IsDeleted').trigger("chosen:updated");
                    }
            },
            formSubmitting: function (event, data) {

                var validate = data.form.validationEngine('validate');
                return validate;
            },
            formClosed: function (event, data) {

                data.form.validationEngine('hide');
                data.form.validationEngine('detach');

                //$('#listContainer').jtable('load');
            },
            selectionChanged: function () {

            },
            recordAdded: function (event, data) {


            },
            recordUpdated: function (event, data) {

            },
            recordDeleted: function (event, data) {

            },
            recordsLoaded(event, data) {

                var isResponsiveList = $.cookie("IsResponsiveList");

                if (isResponsiveList == "") {

                    if ($('.jtable').data('basictable') != null)
                        $('.jtable').basictable('destroy');

                    //$('.jtable').basictable({
                    //    breakpoint: 2000
                    //});

                    $('.jtable').basictable({
                        //containerBreakpoint: 1024
                        breakpoint: 1024
                    });

                    //$('div.jtable-main-container').css('display', 'inherit');

                }
                else
                    if (isResponsiveList == 'True') {
                        if ($('.jtable').data('basictable') != null)
                            $('.jtable').basictable('destroy');

                        $('.jtable').basictable({
                            breakpoint: 2000
                        });

                        $('div.jtable-main-container').css('width', '100%');
                        $('div.jtable-main-container').css('display', 'inline-block');

                        //$('.jtable').basictable({
                        //    containerBreakpoint: 800
                        //});
                    }
                    else
                        if (isResponsiveList == 'False') {
                            $('.jtable').css('overflow-x', 'scroll');
                            $('.jtable').css('width', 'inherit');
                            $('div.jtable-main-container').css('display', 'inline-block');
                        }

                var $selectedRows = $('#listContainer').jtable('selectedRows');
                if ($selectedRows.length > 0) {
                    $selectedRows.click();
                }
            }
        });

        $('#listContainer').jtable('load');

        var isResponsiveList = $.cookie("IsResponsiveList");

        if (isResponsiveList == 'True')
            $('.jtable-toolbar-item:nth-child(1) .jtable-toolbar-item-text').prepend('<div style="display: inline-block;vertical-align: middle;line-height: 0;"><i class="fa fa-toggle-on"></i>&nbsp;&nbsp;</div>');
        else
            $('.jtable-toolbar-item:nth-child(1) .jtable-toolbar-item-text').prepend('<div style="display: inline-block;vertical-align: middle;line-height: 0;"><i class="fa fa-toggle-off"></i>&nbsp;&nbsp;</div>');

        $('body').on('click', '.formElement', function (e) {
            debugger;
            var _this = $(this);
            var formId = _this.attr('data-FormId');
            window.open("/AdminAutomation/FormElementsManagement/Index/" + formId, '_blank');

        });

        $('body').on('click', '.isActivated', function () {
            debugger;
            var _this = $(this);
            var formId = _this.attr('data-FormId');

            $.ajax({
                cache: false,
                type: "Post",
                url: "/AdminAutomation/FormsManagement/ToggleActivationForms",
                //data: JSON.stringify({ 'LevelId': levelId }),
                data: { 'FormId': formId },
                //contentType: 'application/json',
                //dataType: "json",
                success: function (result) {
                    if (result.Result == "OK") {
                        var txtFormName = $('#txtFormName').val();

                        if (txtFormName != null) {

                            $('#listContainer').jtable('load', {
                                currentPage: $('#listContainer').jtable('getCurrentPage'),
                                'formName': txtFormName,
                            });

                        }
                        else {

                            $('#listContainer').jtable('load', {
                                currentPage: $('#listContainer').jtable('getCurrentPage')
                            });

                        }
                    }
                    else
                        if (result.Result == "ERROR") {
                            $('#my-warning-modal').find('.modal-title').html('خطا');
                            $('#my-warning-modal').find('#error').html('خطا');
                            $('#my-warning-modal').modal("show");
                        }
                },
                //error: function (xhr, ajaxOptions, thrownError) {
                //    $('#my-warning-modal').find('.modal-title').html('خطا');
                //    $('#my-warning-modal').find('#error').html('خطا');
                //    $('#my-warning-modal').modal("show");
                // }
            });
        });

        $('body').on('click', '.isDeleted', function () {
            debugger;
            var _this = $(this);
            var formId = _this.attr('data-FormId');

            $.ajax({
                cache: false,
                type: "Post",
                url: "/AdminAutomation/FormsManagement/TemporaryDeleteForms",
                //data: JSON.stringify({ 'LevelId': levelId }),
                data: { 'FormId': formId },
                //contentType: 'application/json',
                //dataType: "json",
                success: function (result) {
                    if (result.Result == "OK") {
                        var txtFormName = $('#txtFormName').val();

                        if (txtFormName != null) {

                            $('#listContainer').jtable('load', {
                                currentPage: $('#listContainer').jtable('getCurrentPage'),
                                'formName': txtFormName,
                            });

                        }
                        else {

                            $('#listContainer').jtable('load', {
                                currentPage: $('#listContainer').jtable('getCurrentPage')
                            });

                        }
                    }
                    else
                        if (result.Result == "ERROR") {
                            $('#my-warning-modal').find('.modal-title').html('خطا');
                            $('#my-warning-modal').find('#error').html('خطا');
                            $('#my-warning-modal').modal("show");
                        }
                },
                //error: function (xhr, ajaxOptions, thrownError) {
                //    $('#my-warning-modal').find('.modal-title').html('خطا');
                //    $('#my-warning-modal').find('#error').html('خطا');
                //    $('#my-warning-modal').modal("show");
                // }
            });
        });

        $('body').on('click', '.formPreview', function () {
            debugger;
            var _this = $(this);
            var formId = _this.attr('data-FormId');

            $.ajax({
                cache: false,
                type: "Post",
                url: "/AdminAutomation/FormsManagement/GetFormAndFieldsWithFormId",
                //data: JSON.stringify({ 'LevelId': levelId }),
                data: { 'FormId': formId },
                //contentType: 'application/json',
                //dataType: "json",
                success: function (result) {
                    debugger;
                    if (result.Result == "OK") {

                        var formHtml = '<div class=\"row\">';

                        var form = result.Record;

                        for (var i = 0; i < form.FormElementsVM.length; i++) {
                            var formElement = form.FormElementsVM[i];

                            var isRequired = "";

                            if (formElement.IsRequired + '' == 'true')
                                isRequired = "<span class=\"text-danger field-validation-valid\" data-valmsg-for=\"" + formElement.FormElementId + "\" data-valmsg-replace=\"true\"></span>";

                            switch (formElement.ElementTypeId + '') {
                                case '1'://متنی
                                    formHtml += "<div class=\"mt-2 col-xl-4  col-md-" + formElement.FormElementSize + " col-lg-" + formElement.FormElementSize + " col-xs-12 col-sm-12 my-3 \">" +
                                        "<div class=\"mx-2\">" +
                                        formElement.FormElementTitle +
                                        "</div>" +
                                        "<input class=\"form-control\" placeholder=\"" + formElement.FormElementTitle + "\" type=\"text\" id=\"" + formElement.FormElementId + "\" name=\"" +
                                        formElement.FormElementId +
                                        "\" value=\"\">" +
                                        isRequired +
                                        "</div>";
                                    break;
                                case '2'://تک انتخابی
                                    var options = "";

                                    if (formElement.FormElementOptionsVM != undefined) {
                                        if (formElement.FormElementOptionsVM.length > 0) {
                                            for (var j = 0; j < form.FormElementOptionsVM; j++) {
                                                var option = form.FormElementOptionsVM[j];
                                                options += "<option value=\"" + option.FormElementOptionValue + "\">" + option.FormElementOptionText + "</option>";
                                            }
                                        }
                                    }

                                    formHtml += "<div class=\"mt-2 col-xl-4 col-md-" + formElement.FormElementSize + " col-lg-" + formElement.FormElementSize + " col-xs-12 col-sm-12\">" +
                                        "<div>" +
                                        formElement.FormElementTitle +
                                        "</div>" +
                                        "<select id=\"" + formElement.FormElementId + "\" name=\"" + formElement.FormElementId + "\" class=\"form-control ml-3\"" +
                                        "placeholder=\"" + formElement.FormElementTitle + "\">" +
                                        "<option value=\"\">---</option>" +
                                        options +
                                        "</select>" +
                                        isRequired +
                                        "</div>";
                                    break;
                                case '3'://چند انتخابی
                                    var options = "";

                                    if (formElement.FormElementOptionsVM != undefined) {
                                        if (formElement.FormElementOptionsVM.length > 0) {
                                            for (var j = 0; j < form.FormElementOptionsVM; j++) {
                                                var option = form.FormElementOptionsVM[j];
                                                options += "<option value=\"" + option.FormElementOptionValue + "\">" + option.FormElementOptionText + "</option>";
                                            }
                                        }
                                    }

                                    formHtml += "<div class=\"mt-2 col-xl-4 col-md-" + formElement.FormElementSize + " col-lg-" + formElement.FormElementSize + " col-xs-12 col-sm-12\">" +
                                         "<div>" +
                                        formElement.FormElementTitle +
                                        "</div>" +
                                        "<select id=\"" + formElement.FormElementId + "\" name=\"" + formElement.FormElementId + "\" class=\"form-control \"" +
                                        "placeholder=\"" + formElement.FormElementTitle + "\" multiple >" +
                                        "<option value=\"\">---</option>" +
                                        options +
                                        "</select>" +
                                        isRequired +
                                        "</div>";
                                    break;
                                case '4'://توضیحات
                                    formHtml += "<div class=\"mt-2 col-md-" + formElement.FormElementSize + " col-lg-" + formElement.FormElementSize + " col-xs-12 col-sm-12\">" +
                                        "<div>" +
                                        formElement.FormElementTitle +
                                        "</div>" +
                                        "<textarea class=\"form-control\" rows=\"5\" placeholder=\"" + formElement.FormElementTitle + "\" id=\"" + formElement.FormElementId +
                                        "\" name=\"" + formElement.FormElementId + "\"></textarea>" +
                                        isRequired +
                                        "</div>";
                                    break;
                                case '5'://چک باکس
                                    break;
                                case '6'://تاریخ
                                    formHtml += "<div class=\"mt-2 col-xl-4 col-md-" + formElement.FormElementSize + " col-lg-" + formElement.FormElementSize + " col-xs-12 col-sm-12\">" +
                                        "<div>" +
                                        formElement.FormElementTitle +
                                        "</div>" +
                                        "<input type=\"text\" id=\"" + formElement.FormElementId + "\" name=\"" + formElement.FormElementId + "\" class=\"form-control \"" +
                                        "data-mddatetimepicker=\"true\" onkeydown=\"return false\" data-placement=\"bottom\"" +
                                        "placeholder=\"" + formElement.FormElementTitle + "\" />" +
                                        isRequired +
                                        "</div>";
                                    break;
                                case '7'://ساعت
                                    formHtml += "<div class=\"mt-2 col-xl-4 col-md- col-md-" + formElement.FormElementSize + " col-lg-" + formElement.FormElementSize + " col-xs-12 col-sm-12\">" +
                                         "<div>" +
                                        formElement.FormElementTitle +
                                        "</div>" +
                                        "<input type=\"text\" id=\"" + formElement.FormElementId + "\" name=\"" + formElement.FormElementId + "\" class=\"form-control \"" +
                                        "data-mddatetimepicker=\"true\" onkeydown=\"return false\" data-placement=\"bottom\"" +
                                        "placeholder=\"" + formElement.FormElementTitle + "\" />" +
                                        isRequired +
                                        "</div>";
                                    break;
                                case '8'://ویرایشگر متن
                                    formHtml += "<div class=\"mt-2 col-md-" + formElement.FormElementSize + " col-lg-" + formElement.FormElementSize + " col-xs-12 col-sm-12\">" +
                                         "<div>" +
                                        formElement.FormElementTitle +
                                        "</div>" +
                                        "<textarea class=\"form-control \" rows=\"5\" placeholder=\"" + formElement.FormElementTitle + "\" id=\"" + formElement.FormElementId +
                                        "\" name=\"" + formElement.FormElementId + "\"></textarea>" +
                                        isRequired +
                                        "</div>";
                                    break;
                                case '9'://عددی
                                    formHtml += "<div class=\"mt-2 col-xl-4 col-md-" + formElement.FormElementSize + " col-lg-" + formElement.FormElementSize + " col-xs-12 col-sm-12\">" +
                                        "<div>" +
                                        formElement.FormElementTitle +
                                        "</div>" +
                                        "<input class=\"form-control \" placeholder=\"" + formElement.FormElementTitle + "\" type=\"number\" id=\"" + formElement.FormElementId + "\" name=\"" +
                                        formElement.FormElementId +
                                        "\" value=\"\">" +
                                        isRequired +
                                        "</div>";
                                    break;
                                case '10'://فایل
                                    formHtml += "<div class=\"mt-2 col-xl-4 col-md- col-md-" + formElement.FormElementSize + " col-lg-" + formElement.FormElementSize + " col-xs-12 col-sm-12\">" +
                                        "<div>" +
                                        formElement.FormElementTitle +
                                        "</div>" +
                                        "<input class=\"form-control \" placeholder=\"" + formElement.FormElementTitle + "\" type=\"file\" id=\"" + formElement.FormElementId + "\" name=\"" +
                                        formElement.FormElementId +
                                        "\" value=\"\">" +
                                        isRequired +
                                        "</div>";
                                    break;
                            }
                        }

                        formHtml += "</div>";

                        $('.formPreviewBlock').html(formHtml);
                        $('#formPreview-modal').modal("show");
                    }
                    else
                        if (result.Result == "ERROR") {
                            $('#my-warning-modal').find('.modal-title').html('خطا');
                            $('#my-warning-modal').find('#error').html('خطا');
                            $('#my-warning-modal').modal("show");
                        }
                },
                //error: function (xhr, ajaxOptions, thrownError) {
                //    $('#my-warning-modal').find('.modal-title').html('خطا');
                //    $('#my-warning-modal').find('#error').html('خطا');
                //    $('#my-warning-modal').modal("show");
                // }
            });
        });

        $('#btnSearch').click(function (e) {
            e.preventDefault();

            var txtFormName = $('#txtFormName').val();

            if (formId != null) {

                $('#listContainer').jtable('load', {
                    'formName': txtFormName,
                });

            }
            else {

                $('#listContainer').jtable('load');

            }
        });

        $('#btnReload').click(function (e) {
            $('#formName').val(null);

            e.preventDefault();
            $('#btnSearch').click();

        });

        $('#btnReset').click(function (e) {
            $('#formName').val(null);

            e.preventDefault();
        });
    });


</script>