<div class="content">
    <h2 class="intro-y text-lg font-medium mt-10">
    </h2>



    <div dir="ltr" class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">
            <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">

                    <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" alt="">
                </div>
                <div class="blog-slider__content">
                    <span class="blog-slider__code">بهمن 1403</span>
                    <div class="blog-slider__title">پروژه گلچین شماره یک</div>
                    <div class="blog-slider__text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. </div>
                    <a href="#" class="blog-slider__button">جزئیات</a>
                </div>
            </div>
            <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                    <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/jason-leung-798979-unsplash.webp" alt="">
                </div>
                <div class="blog-slider__content">
                    <span class="blog-slider__code">بهمن 1403</span>
                    <div class="blog-slider__title">پروژه گلچین شماره یک</div>
                    <div class="blog-slider__text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</div>
                    <a href="#" class="blog-slider__button">جزئیات</a>
                </div>
            </div>

            <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                    <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/alessandro-capuzzi-799180-unsplash.webp" alt="">
                </div>
                <div class="blog-slider__content">
                    <span class="blog-slider__code">بهمن 1403</span>
                    <div class="blog-slider__title">پروژه گلچین شماره یک</div>
                    <div class="blog-slider__text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</div>
                    <a href="#" class="blog-slider__button">جزئیات</a>
                </div>
            </div>

        </div>
        <div class="blog-slider__pagination"></div>
    </div>


    <div dir="ltr" class="detailSection" style="">
        <div class="grid grid-cols-12 gap-6">
            <h2 class="col-span-12 font-bold text-right text-lg">بهترین گزینه برای افراد خاص</h2>

            <div class=" intro-y col-span-6 lg:col-span-12 xl:col-span-6 md:col-span-12 sm:col-span-12" style="height: fit-content;">
                <img class="HalfImage" src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" alt="">
            </div>

            <div dir="rtl" class="text-justify intro-y col-span-4 lg:col-span-12 xl:col-span-6 md:col-span-12 sm:col-span-12" style=" line-height: 25px;">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
            </div>


            <div class=" intro-y col-span-12" style="height: fit-content;">
                <img class="FullImage" src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/alessandro-capuzzi-799180-unsplash.webp" alt="">
            </div>

            <div dir="rtl" class="text-justify intro-y col-span-12" style=" line-height: 25px;">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
            </div>



            <div dir="rtl" class="text-justify intro-y col-span-4 lg:col-span-12 xl:col-span-6 md:col-span-12 sm:col-span-12 xl:order-2" style=" line-height: 25px;">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
            </div>


            <div class=" intro-y col-span-6 lg:col-span-12 xl:col-span-6 md:col-span-12 sm:col-span-12 xl:order-1" style="height: fit-content;">
                <img class="HalfImage" src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" alt="">
            </div>



            <div dir="rtl" class="text-center intro-y col-span-12 xl:order-3" style=" line-height: 25px; margin:0 auto;">


                <div class="grid grid-cols-12 gap-6 items-center" style="margin-block:2rem; row-gap:3rem;">
                    <div class="xxl:col-span-4 xl:col-span-6 col-span-12">
                        <label>ارزش جاری ملک:</label>
                        <span class="text-primary" style="font-weight:600; font-size:25px;">۲۲,۸۵۰,۰۰۰,۰۰۰ تومان</span>
                    </div>

                    <div class="xxl:col-span-4 xl:col-span-6 col-span-12">
                        <label>برآورد هزینه ساخت:</label>
                        <span class="text-primary" style="font-weight:600; font-size:25px;">۱۶,۳۰۰,۰۰۰,۰۰۰ تومان</span>
                    </div>

                    <div class="xxl:col-span-4 xl:col-span-6 col-span-12">
                        <label>ارزش برآورد پایان پروژه:</label>
                        <span class="text-primary" style="font-weight:600; font-size:25px;">۱۶,۳۰۰,۰۰۰,۰۰۰ تومان</span>
                    </div>


                    <div class="xxl:col-span-4 xl:col-span-6 col-span-12">
                        <div>
                            <div class="flex" style="justify-content:space-between;">
                                <label>شروع پروژه</label>
                                <label>پایان پروژه</label>
                            </div>

                            <div class="progress3">
                                <div style="width:50%;" class="progress-value"></div>
                            </div>
                        </div>
                    </div>

                    <div class="xxl:col-span-4 xl:col-span-6 col-span-12">

                        <div class="progress-main-all">
                            <div class="progressdiv" data-percent="30" total-data="100" offuse-data="0">
                                <svg class="progress2" width="200" height="200" viewport="0 0 150 150" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <path class="grey" d="M 45 156 A 80 80 124 1 1 137 155" fill='none' stroke-dasharray="404" stroke-dashoffset="0" />
                                    <path class="grey-path-2" d="M 45 156 A 80 80 124 1 1 137 155" fill='none' stroke-dasharray="404" stroke-dashoffset="0" />
                                    <path class="offline" fill='transparent' stroke-dasharray="404.5" stroke-dashoffset="404" d="M 45 156 A 80 80 124 1 1 137 155" />
                                    <path class="online" fill='transparent' stroke-dasharray="404.5" stroke-dashoffset="404" d="M 45 156 A 80 80 124 1 1 137 155" />
                                    <path class="white1" fill='transparent' stroke-dasharray="0 408" stroke-dashoffset="404" d="M 45 156 A 80 80 124 1 1 137 155" />
                                </svg>
                            </div>
                        </div>


                    </div>


                    <div class="xxl:col-span-4 xl:col-span-6 col-span-12">
                        <div id="map1"></div>
                    </div>


                    <div class="xxl:col-span-4 xl:col-span-6 col-span-12">
                        <div class="flex justify-center">
                            <i class="material-symbols-outlined text-primary location_on ml-1" style="font-size: 40px;">location_on</i>
                            <span class="text-primary mt-1" style="font-size: 26px;">مازندران/ نمک آبرود/ کیاکلا</span>
                        </div>
                    </div>

                    <div class="xxl:col-span-4 xl:col-span-6 col-span-12">
                        <label>آدرس:</label>
                        <span class="text-primary" style="font-size:26px;">محله خوشامیان، جنب کوچه سی و هشتم</span>
                    </div>


                </div>

            </div>




            <div class=" intro-y col-span-12 xl:order-4" style="height: fit-content;">
                <img class="FullImage" src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/alessandro-capuzzi-799180-unsplash.webp" alt="">
            </div>

            <div dir="rtl" class="text-justify intro-y col-span-12 xl:order-5" style=" line-height: 25px;">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
            </div>



            <div class=" intro-y col-span-6 lg:col-span-12 xl:col-span-6 md:col-span-12 sm:col-span-12 xl:order-6" style="height: fit-content;">
                <img class="HalfImage" src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" alt="">
            </div>


            <div dir="rtl" class="text-justify intro-y col-span-4 lg:col-span-12 xl:col-span-6 md:col-span-12 sm:col-span-12 xl:order-7" style=" line-height: 25px;">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
            </div>






        </div>
    </div>



</div>
