@using VM.Public;


@{
    ZoneFeaturesVM zoneFeature = new ZoneFeaturesVM();

    if (ViewData["ZoneFeatures"] != null)
    {
        zoneFeature = (ZoneFeaturesVM)ViewData["ZoneFeaturesVM"];

    }
}
<div id="searchBlock">
    <div class="row">
        <div class="col col-md-4 col-xs-12 col-sm-12 col-lg-4">
            <div>
                <label>
                    نام منطقه:
                </label>
                @Html.Raw(zoneFeature.ZoneName)
            </div>
        </div>
    </div>
</div>
<hr class="full-splitter" />
<div id="listContainer"></div>