<script type="text/javascript">

    $(document).ready(function () {

        $('#searchBlock').hide(1000);

        for (var i = 0; i < statesList.length; i++) {
            debugger;
            var item = statesList[i];
            $('#slcStateId')
                .append($("<option></option>")
                    .attr("value", item.Value)
                    .text(item.DisplayText));
        }


        $('#listContainer').jtable({
            title: 'ویژگی های منطقه', toolbarType: 'both',
            paging: true,
            pageSize: 10, selecting: true,
            sorting: true,
            actions: {
                listAction: '/AdminPublic/DistrictsManagement/GetListOfDistrictsWithOutStrPolygon',
                createAction: '/AdminPublic/DistrictsManagement/AddToDistricts',
                updateAction: '/AdminPublic/DistrictsManagement/UpdateDistricts',
                deleteAction: '/AdminPublic/DistrictsManagement/CompleteDeleteDistricts'
            },
            toolbar: {
                items: [
                    {
                        icon: '',
                        text: 'تغییر نمایش',
                        click: function () {
                            $.ajax({
                                cache: false,
                                type: "Post",
                                url: '/Admin/AdminPanel/ChangeViewMode',
                                success: function (result) {
                                    if (result.Result == "OK") {
                                        window.setTimeout(function () {
                                            location.reload(true);
                                        }, 500);
                                    }
                                    else
                                        if (result.Result == "ERROR") {
                                            alert('error');
                                        }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                }
                            });
                        }
                    }]
            },
            fields: {
                ZoneFeaturesId: {
                    key: true,
                    list: false,
                    edit: false,

                },
                ZoneFeaturesTitle: {
                    title: 'عنوان',
                    sorting: false,

                },
                ZoneFeaturesDiscription: {
                    title: 'توضیحات',
                    sorting: false,

                },
                ZoneFeaturesFileTitle: {
                    title: 'عنوان',
                    sorting: false,
                },
                ZoneFeaturesFilePath: {
                    title: 'فایل',
                    sorting: false,
                    edit: false,
                    display: function (data) {
                        debugger;
                        switch (data.record.ZoneFeaturesFileExt) {
                            case ".jpeg":
                            case ".jpg":
                            case ".png":
                            case ".gif":
                            case ".bmp":
                                return '<div style="position: relative; display: inline-block;">' +
                                    '<a class="fancybox mediaThumbImage" href="/Files/ZoneFeaturesFiles/' + domainName + '/' +
                                    data.record.ZoneFeaturesId + '/Docs/' + data.record.ZoneFeaturesFilePath + '" data-fancybox-group="gallery" ' +
                                    'title=""><img src="/Files/ZoneFeaturesFiles/' + domainName + '/' +
                                    data.record.ZoneFeaturesId + '/Docs/thumb_' + data.record.ZoneFeaturesFilePath + '" alt="" ' +
                                    'data-caption="' + data.record.ZoneFeaturesFilePath + '" data-url="#" /></a>' + '</div>'
                                break;
                            case ".pdf":
                                return '<div class="pdfThumbImage pointer" data-file-url="/Files/ZoneFeaturesFiles/' + domainName + '/' +
                                    data.record.ZoneFeaturesId + '/Docs/' + data.record.ZoneFeaturesFilePath + '"><img src="/images/pdf.png" /></div>';
                                break;
                            default:
                                return '<div class="fileThumbImage pointer" data-ZoneFeaturesId="' + data.record.ZoneFeaturesId + '"><img src="/images/File.png" /></div>';
                        }
                    }
                },
                ZoneFeaturesFileExt: {
                    title: 'فرمت',
                    sorting: false,
                    edit: false,
                },
                ZoneFeaturesFileOrder: {
                    title: 'مرتب&nbsp;سازی',
                    sorting: false,
                },
                UserCreatorName: {
                    title: 'ایجاد&nbsp;کننده',
                    sorting: false,
                    create: false,
                    edit: false,
                    //list: false
                },
                IsActivated: {
                    title: 'فعال&nbsp;/&nbsp;غیر&nbsp;فعال',
                    sorting: false,
                    options: {
                        true: 'بله',
                        false: 'خیر'
                    },
                    input: function (data) {
                        if (data.record != undefined) { //if (data.record != '') {
                            if (data.record.IsActivated == true) {
                                return '<select id="Edit-IsActivated" name="IsActivated">' +
                                    '<option value="true" selected>بله</option>' +
                                    '<option value="false">خیر</option>' +
                                    '</select>';
                            }
                            else {
                                return '<select id="Edit-IsActivated" name="IsActivated">' +
                                    '<option value="true">بله</option>' +
                                    '<option value="false" selected>خیر</option>' +
                                    '</select>';
                            }
                        }
                        else {
                            return '<select id="Edit-IsActivated" name="IsActivated">' +
                                '<option value="true" selected>بله</option>' +
                                '<option value="false">خیر</option>' +
                                '</select>';
                        }
                    },
                    display: function (data) {
                        debugger;
                        if (data.record.IsActivated)
                            return '<div class="isActivated pointer" data-ZoneFeaturesId="' +
                                data.record.ZoneFeaturesId + '"><i class="fa fa-check-square"></i></div>';
                        else
                            return '<div class="isActivated pointer" data-ZoneFeaturesId="' +
                                data.record.ZoneFeaturesId + '"><i class="fa fa-square-o"></i></div>';
                    }
                },
                IsDeleted: {
                    title: 'حذف&nbsp;شده',
                    sorting: false,
                    options: {
                        true: 'بله',
                        false: 'خیر'
                    },
                    input: function (data) {
                        if (data.record != undefined) { //if (data.record != '') {
                            if (data.record.IsDeleted == true) {
                                return '<select id="Edit-IsDeleted" name="IsDeleted">' +
                                    '<option value="true" selected>بله</option>' +
                                    '<option value="false">خیر</option>' +
                                    '</select>';
                            }
                            else {
                                return '<select id="Edit-IsDeleted" name="IsDeleted">' +
                                    '<option value="true">بله</option>' +
                                    '<option value="false" selected>خیر</option>' +
                                    '</select>';
                            }
                        }
                        else {
                            return '<select id="Edit-IsDeleted" name="IsDeleted">' +
                                '<option value="true">بله</option>' +
                                '<option value="false" selected>خیر</option>' +
                                '</select>';
                        }
                    },
                    display: function (data) {
                        if (data.record.IsDeleted)
                            return '<div class="isDeleted" data-ZoneFeaturesId="' + data.record.ZoneFeaturesId + '"><i class="fa fa-check-square"></i></div>';
                        else
                            return '<div class="isDeleted" data-ZoneFeaturesId="' + data.record.ZoneFeaturesId + '"><i class="fa fa-square-o"></i></div>';
                    }
                },
            },
            formCreated: function (event, data) {

    
                data.form.validationEngine({
                    validateNonVisibleFields: true,
                    updatePromptsPosition: true,
                    autoPositionUpdate: true,
                });

                $('.ui-dialog-titlebar-close').contents().filter(function () {
                    return this.nodeType === 3;
                }).remove();
                      //$('.ui-dialog-titlebar-close').html('X');

                $(".jtable-dialog-form .jtable-input-field-container").each(function () {
                    var block = $(this);
                    block.addClass('col col-md-6 col-sm-12 col-xs-12');
                });

                $(".jtable-dialog-form :input").each(function () {
                    var input = $(this);
                    input.addClass('form-control input-sm');
                });

                var formName = '';
                if (data.formType == 'create')
                    formName = 'create';
                else
                    formName = 'edit';

                $('#jtable-' + formName + '-form select').chosen({
                    placeholder_text_single: ' ',
                    placeholder_text_multiple: ' ',
                    rtl: rtl
                });



                var latlonBlock;

                debugger;
                if (formName == 'edit') {

                    latlonBlock = $(".jtable-dialog-form .jtable-input-field-container:nth-child(8)");

                  
                    $('#Edit-IsActivated').chosen({
                        placeholder_text_single: ' ',
                        placeholder_text_multiple: ' ',
                        search_contains: true,
                        max_shown_results: numberOfChosenItemsShow,
                        rtl: rtl
                    });
                    $('#Edit-IsActivated').val(data.record.IsActivated + '').trigger("chosen:updated");

                    $('#Edit-IsDeleted').chosen({
                        placeholder_text_single: ' ',
                        placeholder_text_multiple: ' ',
                        search_contains: true,
                        max_shown_results: numberOfChosenItemsShow,
                        rtl: rtl
                    });
                    $('#Edit-IsDeleted').val(data.record.IsDeleted + '').trigger("chosen:updated");

                    $('#Edit-StrPolygon').val(data.record.StrPolygon);
                }
                else
                    if (formName == 'create') {

                        latlonBlock = $(".jtable-dialog-form .jtable-input-field-container:nth-child(7)");

                     
                        $('#Edit-IsActivated').chosen({
                            placeholder_text_single: ' ',
                            placeholder_text_multiple: ' ',
                            search_contains: true,
                            max_shown_results: numberOfChosenItemsShow,
                            rtl: rtl
                        });
                        $('#Edit-IsActivated').trigger("chosen:updated");

                        $('#Edit-IsDeleted').chosen({
                            placeholder_text_single: ' ',
                            placeholder_text_multiple: ' ',
                            search_contains: true,
                            max_shown_results: numberOfChosenItemsShow,
                            rtl: rtl
                        });
                        $('#Edit-IsDeleted').trigger("chosen:updated");

                        $('#Edit-StateId').change();
                    }

                latlonBlock.removeAttr('class');
                latlonBlock.attr('class', 'jtable-input-field-container col col-md-12 col-sm-12 col-xs-12');
                latlonBlock.css('width', '100%');
                latlonBlock.css('height', '90px');
                latlonBlock.find('textarea').css('width', '100%');
                latlonBlock.find('textarea').css('height', '165px !important');
            },
            formSubmitting: function (event, data) {

                debugger;
                var districtName = data.form.find('input[name="DistrictName"]').val();
                var villageName = data.form.find('input[name="VillageName"]').val();
                var townName = data.form.find('input[name="TownName"]').val();


                if ((districtName !== "") && (villageName !== "")) {
                    var error = $('#my-warning-modal').find('.modal-title').html('فقط یکی از فیلدهای ناحیه،روستا،شهرک میتواند پر باشد');
                    $('#my-warning-modal').modal("show");
                    return error;
                } else if ((districtName !== "") && (townName !== "")) {
                    var error = $('#my-warning-modal').find('.modal-title').html('فقط یکی از فیلدهای ناحیه،روستا،شهرک میتواند پر باشد');
                    $('#my-warning-modal').modal("show");
                    return error;
                } else if ((townName !== "") && (villageName !== "")) {
                    var error = $('#my-warning-modal').find('.modal-title').html('فقط یکی از فیلدهای ناحیه،روستا،شهرک میتواند پر باشد');
                    $('#my-warning-modal').modal("show");
                    return error;
                } else if ((districtName !== "") && (villageName !== "") && (townName !== "")) {
                    var error = $('#my-warning-modal').find('.modal-title').html('فقط یکی از فیلدهای ناحیه،روستا،شهرک میتواند پر باشد');
                    $('#my-warning-modal').modal("show");
                    return error;
                } else if ((districtName == "") && (villageName == "") && (townName == "")) {
                    var error = $('#my-warning-modal').find('.modal-title').html('فقط یکی از فیلدهای ناحیه،روستا،شهرک میتواند پر باشد');
                    $('#my-warning-modal').modal("show");
                    return error;
                }
                //}else{
                //   var success = $('#my-success-modal').find('.modal-title').html('ثبت شد');
                //    $('#my-success-modal').modal("show");
                //    return success;
                //}
                var validate = data.form.validationEngine('validate');
                return validate;
            },
            formClosed: function (event, data) {

                data.form.validationEngine('hide');
                data.form.validationEngine('detach');
            },
            selectionChanged: function () {

            },
            recordAdded: function (event, data) {

                //window.location.reload();
            },
            recordUpdated: function (event, data) {

            },
            recordDeleted: function (event, data) {

            },
            recordsLoaded(event, data) {

                var isResponsiveList = $.cookie("IsResponsiveList");

                if (isResponsiveList == "") {

                    if ($('.jtable').data('basictable') != null)
                        $('.jtable').basictable('destroy');

                    $('.jtable').basictable({

                        breakpoint: 1024
                    });
                }
                else
                    if (isResponsiveList == 'True') {
                        if ($('.jtable').data('basictable') != null)
                            $('.jtable').basictable('destroy');

                        $('.jtable').basictable({
                            breakpoint: 2000
                        });

                        $('div.jtable-main-container').css('width', '100%');
                        $('div.jtable-main-container').css('display', 'inline-block');

                    }
                    else
                        if (isResponsiveList == 'False') {
                            $('.jtable').css('overflow-x', 'scroll');
                            $('.jtable').css('width', 'inherit');
                            $('div.jtable-main-container').css('display', 'inline-block');
                        }

                var $selectedRows = $('#listContainer').jtable('selectedRows');
                if ($selectedRows.length > 0) {
                    $selectedRows.click();
                }
            }
        });

        $('#listContainer').jtable('load');

        var isResponsiveList = $.cookie("IsResponsiveList");

        if (isResponsiveList == 'True')
            $('.jtable-toolbar-item:nth-child(1) .jtable-toolbar-item-text').prepend('<div style="display: inline-block;vertical-align: middle;line-height: 0;"><i class="fa fa-toggle-on"></i>&nbsp;&nbsp;</div>');
        else
            $('.jtable-toolbar-item:nth-child(1) .jtable-toolbar-item-text').prepend('<div style="display: inline-block;vertical-align: middle;line-height: 0;"><i class="fa fa-toggle-off"></i>&nbsp;&nbsp;</div>');


   

        $('body').on('click', '.isActivated', function () {
            debugger;
            var _this = $(this);
            var districtId = _this.attr('data-DistrictId');
            $.ajax({
                cache: false,
                type: "Post",
                url: "/AdminPublic/DistrictsManagement/ToggleActivationDistricts",
                data: { 'DistrictId': districtId },

                success: function (result) {
                    if (result.Result == "OK") {


                        var slcStateId = $('#slcStateId').val();
                        var slcCityId = $('#slcCityId').val();
                        var slcZoneId = $('#slcZoneId').val();
                        var slcDistrictId = $('#slcDistrictId').val();

                        if ((slcStateId != null) &&
                            (slcCityId != null) &&
                            (slcZoneId != null) &&
                            (slcDistrictId != null)) {

                            $('#listContainer').jtable('load', {
                                currentPage: $('#listContainer').jtable('getCurrentPage'),
                                'StateId': slcStateId,
                                'CityId': slcCityId,
                                'ZoneId': slcZoneId,
                                'DistrictId': slcDistrictId
                            });

                        }
                        else {

                            $('#listContainer').jtable('load', {
                                currentPage: $('#listContainer').jtable('getCurrentPage')
                            });

                        }
                    }
                    else
                        if (result.Result == "ERROR") {
                            $('#my-warning-modal').find('.modal-title').html('خطا');
                            $('#my-warning-modal').find('#error').html('خطا');
                            $('#my-warning-modal').modal("show");
                        }
                },
            });
        });

        $('body').on('click', '.isDeleted', function () {
            debugger;
            var _this = $(this);
            var districtId = _this.attr('data-DistrictId');

            $.ajax({
                cache: false,
                type: "Post",
                url: "/AdminPublic/DistrictsManagement/TemporaryDeleteDistricts",
                data: { 'DistrictId': districtId },
                success: function (result) {
                    if (result.Result == "OK") {
                        var slcStateId = $('#slcStateId').val();
                        var slcCityId = $('#slcCityId').val();
                        var slcZoneId = $('#slcZoneId').val();
                        var slcDistrictId = $('#slcDistrictId').val();

                        if ((slcStateId != null) &&
                            (slcCityId != null) &&
                            (slcZoneId != null) &&
                            (slcDistrictId != null)) {

                            $('#listContainer').jtable('load', {
                                currentPage: $('#listContainer').jtable('getCurrentPage'),
                                'StateId': slcStateId,
                                'CityId': slcCityId,
                                'ZoneId': slcZoneId,
                                'DistrictId': slcDistrictId,
                            });

                        }
                        else {

                            $('#listContainer').jtable('load', {
                                currentPage: $('#listContainer').jtable('getCurrentPage')
                            });

                        }
                    }
                    else
                        if (result.Result == "ERROR") {
                            $('#my-warning-modal').find('.modal-title').html('خطا');
                            $('#my-warning-modal').find('#error').html('خطا');
                            $('#my-warning-modal').modal("show");
                        }
                },
            });
        });

        $('#btnSearch').click(function (e) {
            e.preventDefault();

            var slcStateId = $('#slcStateId').val();
            var slcCityId = $('#slcCityId').val();
            var slcZoneId = $('#slcZoneId').val();
            var slcDistrictId = $('#slcDistrictId').val();

            if ((slcStateId != null) &&
                (slcCityId != null) &&
                (slcZoneId != null) &&
                (slcDistrictId != null)) {

                $('#listContainer').jtable('load', {
                    'StateId': slcStateId,
                    'CityId': slcCityId,
                    'ZoneId': slcZoneId,
                    'DistrictId': slcDistrictId
                });

            }
            else {

                $('#listContainer').jtable('load');

            }
        });

        $('#btnReload').click(function (e) {
            $('#slcStateId').val(null);
            $('#slcCityId').val(null);
            $('#slcZoneId').val(null);
            $('#slcDistrictId').val(null);

            e.preventDefault();
            $('#btnSearch').click();

        });

        $('#btnReset').click(function (e) {
            $('#slcStateId').val(null);
            $('#slcCityId').val(null);
            $('#slcZoneId').val(null);
            $('#slcDistrictId').val(null);

            e.preventDefault();
        });
    });


</script>