<div class="content">
    <div class="relative flex flex-col w-full h-full text-gray-700 bg-white shadow-md rounded-xl bg-clip-border modal_project_error bg-fit">
        <div class="relative mx-4 mt-4 text-gray-700 bg-white rounded-none bg-clip-border">
            <div class="flex items-center justify-between gap-8 mb-8 thead-usb">
                <div>
                    <h5 class="block font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900 list-of-project">
                        لیست پروژه های من
                    </h5>

                </div>

            </div>
            <div class="flex flex-col items-center justify-between gap-4 md:flex-row mr-2 mb-5 container_project">



                <div class="flex gap-2 md:w-full">

                    <button id="dropdown-button" data-dropdown-toggle="dropdown" class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-e-0 border-gray-300 dark:border-gray-700 dark:text-white rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800" type="button">
                        دسته بندی کارگاه <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                        </svg>
                    </button>
                    <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button">
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Shopping</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Images</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">News</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Finance</a>
                            </li>
                        </ul>
                    </div>
                    <div class="relative w-full">
                        <input type="search" id="search-dropdown" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg rounded-s-gray-100 rounded-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" placeholder="جستجو" required />
                        <button id="iconbtn-search" type="submit" class="absolute top-0 end-0 p-2.5 h-full text-sm font-medium text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                            </svg>
                        </button>
                    </div>
                </div>


            </div>
        </div>

        <div class="flex flex-col">
            <!-- Table Header -->
            <div class="flex bg-gray-200  border-b border-gray-300 text-gray-800 font-bold mb-5 mt-5 theader-usb flex justify-center container1_project">

                <div class="w-1/5 p-2 text-center">نام پروژه</div>
                <div class="w-1/5 p-2 text-center">میزان مالکیت</div>
                <div class="w-1/5 p-2 text-center">مانده حساب</div>
                <div class="w-1/5 p-2 text-center">درصد پیشرفت پروژه</div>
            </div>

            <!-- Table Row 1 -->
            <div id="mainDiv">
            </div>




            <!-- Table Row 2 -->

        </div>
    </div>


    <!-- BEGIN : Contracts modal -->
    <div id="contractsModal" class="modal contractsModalC" tabindex="-1" aria-hidden="true">

        <div class="modal-dialog modal-xl">

            <div class="modal-content">
                <div class="modal-body text-center" id="Contracts-ModalDiv" tabindex="2">
                    <div class="font-medium text-base contractsModalTitle">
                    </div>
                    <!-- BEGIN : Add Contrcat Section -->
                    <!-- END: Add Contrcat Section -->
                    <div class="col-span-12 mt-4 mb-4">
                        <div class="intro-y block sm:flex items-center h-10" id="AddContractBtn">
                        </div>




                        <!--Document Project Area + Actions-->
                        <!--Popup Confrim-->
                        <!--Popup Confrim ENDS-->



                    </div>
                    <div class="intro-y  mt-8 sm:mt-0" id="titelAndRecords">
                        <table class="table table-report sm:mt-2 table-striped" id="titelAndRecords">
                            <thead>
                                <tr>

                                    <th class="text-center whitespace-nowrap cl1">مشاهده</th>
                                    <th class="text-center whitespace-nowrap cl2">وضعیت</th>

                                    <th class="whitespace-nowrap cl3">عنوان</th>

                                    <th class="whitespace-nowrap cl4">توضیحات</th>

                                    <th class="text-center whitespace-nowrap cl5">عملیات</th>

                                </tr>
                            </thead>
                            <tbody id="Records" class="tablerecord">
                            </tbody>

                        </table>

                        <!--ROWSEC START-->
                        <!--ROW ENDS-->
                        <!--Document Project Area + Actions ENDS-->
                        @*     <div id="titelAndRecords">
                        <!-- BEGIN : Table headers -->
                        <div class="grid grid-cols-12 mb-3 mt-3 flex requestHeaderTitle">
                        <div class="col-span-1 xxl:col-span-1 xl:col-span-1 llg:col-span-1 lg:col-span-1 mt-3 md:col-span-12 sm:col-span-1 xs:col-span-1 font-medium py-3 px-3 ">
                        </div>
                        <div class="col-span-2 xxl:col-span-2 xl:col-span-2 llg:col-span-2 lg:col-span-2 mt-3 md:col-span-12 sm:col-span-12 xs:col-span-12 font-medium py-3 px-3 ">
                        آخرین الحاقیه ها
                        </div>
                        <div class="col-span-2 xxl:col-span-2 xl:col-span-2 llg:col-span-2 lg:col-span-2 mt-3 md:col-span-12 sm:col-span-12 xs:col-span-12 text-right font-medium py-3 px-3 ">
                        عنوان
                        </div>
                        <div class="col-span-4 xxl:col-span-4 xl:col-span-4 llg:col-span-4 lg:col-span-4 mt-3 md:col-span-12 sm:col-span-12 xs:col-span-12 text-right font-medium py-3 px-3 ">
                        توضیحات
                        </div>
                        <div class="col-span-1 xxl:col-span-1 xl:col-span-1 llg:col-span-1 lg:col-span-1 mt-3 md:col-span-12 sm:col-span-12 xs:col-span-12 font-medium py-3 px-1">
                        دیده شده
                        </div>
                        <div class="col-span-1 xxl:col-span-1 xl:col-span-1 llg:col-span-1 lg:col-span-1 mt-3 md:col-span-12 sm:col-span-6 xs:col-span-6 font-medium py-3 px-3">
                        مکاتبه
                        </div>
                        <div class="col-span-1 xxl:col-span-1 xl:col-span-1 llg:col-span-1 lg:col-span-1 mt-3 md:col-span-12 sm:col-span-12 xs:col-span-12 font-medium py-3 px-3">
                        وضعیت
                        </div>
                        </div>
                        <!-- END : Table headers -->
                        <!-- BEGIN : Table Records-->
                        <div class="tablerecord" id="Records">
                        </div>
                        <!-- END : Table Records-->
                        </div>*@
                        <!-- BEGIN : Contract Addendum Modal-->
                        <!-- END: Contract Detail Modal-->
                        <!-- BEGIN : Contract Chat Modal-->
                        <!-- END : Contract Chat Modal-->
                    </div>
                    <!-- End: Table content -->
                </div>
            </div>
            <div id="ascrail2001" class="nicescroll-rails nicescroll-rails-vr" style="width: 12px; z-index: auto; cursor: default; position: absolute; top: -26px; left: 1398px; height: 500px; opacity: 0; display: block;">
                <div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 10px; height: 253px; background-color: rgb(47, 79, 79); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px;"></div>
            </div>
        </div>
        <!-- END : Contracts modal -->
        <!-- BEGIN: File Upload Modal -->
      @*   <div id="fileUpload" class="modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <button data-tw-dismiss="modal"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="x" data-lucide="x" class="lucide lucide-x w-8 h-8 text-slate-400"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> </button>
                <div class="modal-content" id="fileUploadModal">
                    <div class="modal-body p-5 text-center">
                        <form action="/file-upload" class="dropzone dz-clickable">
                            <div class="dz-message" data-dz-message="">
                                <div class="text-lg font-medium"> .لطفا برای آپلود فایل خود کلیک کنید یا فایل خود را روی صفحه بکشید </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> *@
        <!-- END: File Upload Modal -->
        <!-- BEGIN: progressProcessChart Modal -->
        <div id="progressProcessChartModal" class="modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-body p-10 text-center">
                        <div id="progressProcessChart-2" data-highcharts-chart="3" aria-hidden="false" role="region" aria-label="Chart. Highcharts interactive chart." style="overflow: hidden;"><div id="highcharts-screen-reader-region-before-3" aria-hidden="false" style="position: relative;"><div aria-hidden="false" style="position: absolute; width: 1px; height: 1px; overflow: hidden; white-space: nowrap; clip: rect(1px, 1px, 1px, 1px); margin-top: -3px; opacity: 0.01;"><p>Chart</p><div>Chart with 2 data series.</div><div>The chart has a two-part X axis showing time in both week numbers and days.</div><div>The chart has one Y axis showing task categories.</div></div></div><div aria-hidden="false" class="highcharts-announcer-container" style="position: relative;"><div aria-hidden="false" aria-live="polite" style="position: absolute; width: 1px; height: 1px; overflow: hidden; white-space: nowrap; clip: rect(1px, 1px, 1px, 1px); margin-top: -3px; opacity: 0.01;"></div><div aria-hidden="false" aria-live="assertive" style="position: absolute; width: 1px; height: 1px; overflow: hidden; white-space: nowrap; clip: rect(1px, 1px, 1px, 1px); margin-top: -3px; opacity: 0.01;"></div><div aria-hidden="false" aria-live="polite" style="position: absolute; width: 1px; height: 1px; overflow: hidden; white-space: nowrap; clip: rect(1px, 1px, 1px, 1px); margin-top: -3px; opacity: 0.01;"></div></div><div aria-hidden="false" style="position: relative; height: 0px; z-index: 1;"><select aria-hidden="true" aria-label="Zoom" tabindex="-1" style="position: absolute; width: 1px; height: 1px; padding: 0px; border: 0px; top: -9999em; cursor: pointer; opacity: 0.0001; margin-top: 0px;"><option disabled="">Zoom</option><option>View 1 month</option><option>View 3 months</option><option>View 6 months</option><option>View year to date</option><option>View 1 year</option><option>View all</option></select><input name="min" class="highcharts-range-selector" type="date" min="2017-12-01" data-hc-time="1543161600000" max="2018-12-20" data-hc-time-previous="1543161600000" aria-hidden="false" tabindex="-1" aria-label="Select start date." style="position: absolute; border: 0px; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px; width: 1px; height: 1px; padding: 0px; text-align: center; font-size: 0.8em; font-family: Helvetica, Arial, sans-serif; top: -9999em; color: rgb(51, 78, 255); cursor: pointer; margin-top: 0px;"><input name="max" class="highcharts-range-selector" type="date" max="2018-12-25" data-hc-time="1545753600000" min="2018-11-30" data-hc-time-previous="1545753600000" aria-hidden="false" tabindex="-1" aria-label="Select end date." style="position: absolute; border: 0px; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px; width: 1px; height: 1px; padding: 0px; text-align: center; font-size: 0.8em; font-family: Helvetica, Arial, sans-serif; top: -9999em; color: rgb(51, 78, 255); cursor: pointer; margin-top: 0px;"></div><div id="highcharts-hcurhef-23" dir="ltr" style="position: relative; overflow: hidden; width: 800px; height: 427px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); user-select: none; touch-action: manipulation; outline: none;" class="highcharts-container " aria-hidden="false" tabindex="0"><div aria-hidden="false" class="highcharts-a11y-proxy-container-before" style="top: 0px; left: 0px; white-space: nowrap; position: absolute;"></div><svg version="1.1" class="highcharts-root" style="font-family: Helvetica, Arial, sans-serif; font-size: 1rem;" xmlns="http://www.w3.org/2000/svg" width="800" height="427" viewBox="0 0 800 427" aria-hidden="false" aria-label="Interactive chart"><desc aria-hidden="true">Created with Highcharts 11.1.0</desc><defs aria-hidden="true"><filter id="highcharts-drop-shadow-3"><feDropShadow dx="1" dy="1" flood-color="#000000" flood-opacity="0.75" stdDeviation="2.5"></feDropShadow></filter><clipPath id="highcharts-hcurhef-24-"><rect x="0" y="0" width="659" height="200" fill="none"></rect></clipPath><clipPath id="highcharts-hcurhef-31-"><rect x="0" y="0" width="659" height="200" fill="none"></rect></clipPath><clipPath id="highcharts-hcurhef-34-"><rect x="-9.5" y="13.5" rx="0" ry="0" width="0" height="24" fill="none"></rect></clipPath><clipPath id="highcharts-hcurhef-35-"><rect x="-9.5" y="63.5" rx="0" ry="0" width="0" height="24" fill="none"></rect></clipPath><clipPath id="highcharts-hcurhef-36-"><rect x="270.5" y="113.5" rx="0" ry="0" width="3" height="24" fill="none"></rect></clipPath><clipPath id="highcharts-hcurhef-37-"><rect x="292.5" y="63.5" rx="0" ry="0" width="66" height="24" fill="none"></rect></clipPath><clipPath id="highcharts-hcurhef-47-"><rect x="0.5" y="7.5" rx="0" ry="0" width="101" height="6" fill="none"></rect></clipPath><clipPath id="highcharts-hcurhef-48-"><rect x="106.5" y="17.5" rx="0" ry="0" width="259" height="6" fill="none"></rect></clipPath><clipPath id="highcharts-hcurhef-49-"><rect x="629.5" y="27.5" rx="0" ry="0" width="0" height="6" fill="none"></rect></clipPath><clipPath id="highcharts-hcurhef-50-"><rect x="630.5" y="17.5" rx="0" ry="0" width="5" height="6" fill="none"></rect></clipPath><clipPath id="highcharts-hcurhef-51-"><rect x="0" y="0" width="659" height="40" fill="none"></rect></clipPath></defs><rect fill="#ffffff" class="highcharts-background" filter="none" x="0" y="0" width="800" height="427" rx="0" ry="0" aria-hidden="true"></rect><rect fill="none" class="highcharts-plot-background" x="131" y="137" width="659" height="200" filter="none" aria-hidden="true"></rect><g class="highcharts-pane-group" data-z-index="0" aria-hidden="true"></g><g class="highcharts-grid highcharts-xaxis-grid highcharts-grid-axis" data-z-index="1" aria-hidden="true"><path fill="none" stroke="#e6e6e6" stroke-width="0" stroke-dasharray="none" data-z-index="1" class="highcharts-grid-line" d="M 137.5 137 L 137.5 337" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="0" stroke-dasharray="none" data-z-index="1" class="highcharts-grid-line" d="M 291.5 137 L 291.5 337" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="0" stroke-dasharray="none" data-z-index="1" class="highcharts-grid-line" d="M 445.5 137 L 445.5 337" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="0" stroke-dasharray="none" data-z-index="1" class="highcharts-grid-line" d="M 599.5 137 L 599.5 337" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="0" stroke-dasharray="none" data-z-index="1" class="highcharts-grid-line" d="M 752.5 137 L 752.5 337" opacity="1"></path></g><g class="highcharts-grid highcharts-xaxis-grid highcharts-grid-axis" data-z-index="1" aria-hidden="true"><path fill="none" stroke="#e6e6e6" stroke-width="0" stroke-dasharray="none" data-z-index="1" class="highcharts-grid-line" d="M 130.5 137 L 130.5 337" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="0" stroke-dasharray="none" data-z-index="1" class="highcharts-grid-line" d="M 247.5 137 L 247.5 337" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="0" stroke-dasharray="none" data-z-index="1" class="highcharts-grid-line" d="M 789.5 137 L 789.5 337" opacity="1"></path></g><g class="highcharts-grid highcharts-xaxis-grid highcharts-navigator-xaxis" data-z-index="1" aria-hidden="true"><path fill="none" stroke="#e6e6e6" stroke-width="1" stroke-dasharray="none" data-z-index="1" class="highcharts-grid-line" d="M 182.5 359 L 182.5 399" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="1" stroke-dasharray="none" data-z-index="1" class="highcharts-grid-line" d="M 385.5 359 L 385.5 399" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="1" stroke-dasharray="none" data-z-index="1" class="highcharts-grid-line" d="M 593.5 359 L 593.5 399" opacity="1"></path></g><g class="highcharts-grid highcharts-yaxis-grid highcharts-grid-axis" data-z-index="1" aria-hidden="true"><path fill="none" stroke="#e6e6e6" stroke-width="1" stroke-dasharray="none" data-z-index="1" class="highcharts-grid-line" d="M 131 187.5 L 790 187.5" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="1" stroke-dasharray="none" data-z-index="1" class="highcharts-grid-line" d="M 131 237.5 L 790 237.5" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="1" stroke-dasharray="none" data-z-index="1" class="highcharts-grid-line" d="M 131 287.5 L 790 287.5" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="1" stroke-dasharray="none" data-z-index="1" class="highcharts-grid-line" d="M 131 337.5 L 790 337.5" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="1" stroke-dasharray="none" data-z-index="1" class="highcharts-grid-line" d="M 131 136.5 L 790 136.5" opacity="1"></path></g><g class="highcharts-grid highcharts-yaxis-grid highcharts-navigator-yaxis" data-z-index="1" aria-hidden="true"><path fill="none" stroke="#e6e6e6" stroke-width="0" stroke-dasharray="none" data-z-index="1" class="highcharts-grid-line" d="M 131 364.5 L 790 364.5" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="0" stroke-dasharray="none" data-z-index="1" class="highcharts-grid-line" d="M 131 384.5 L 790 384.5" opacity="1"></path></g><rect fill="none" class="highcharts-plot-border" data-z-index="1" stroke="#cccccc" stroke-width="0" x="131" y="137" width="659" height="200" aria-hidden="true"></rect><g class="highcharts-axis highcharts-xaxis highcharts-grid-axis" data-z-index="2" aria-hidden="true"><path fill="none" class="highcharts-tick" stroke="#333333" stroke-width="1" d="M 137.5 137 L 137.5 91" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#333333" stroke-width="1" d="M 291.5 137 L 291.5 91" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#333333" stroke-width="1" d="M 445.5 137 L 445.5 91" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#333333" stroke-width="1" d="M 599.5 137 L 599.5 91" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#333333" stroke-width="1" d="M 752.5 137 L 752.5 91" opacity="1"></path><path fill="none" class="highcharts-axis-line" stroke="#333333" stroke-width="1" data-z-index="7" d="M 131 136.5 L 790 136.5"></path></g><g class="highcharts-axis highcharts-xaxis highcharts-grid-axis" data-z-index="2" aria-hidden="true"><path fill="none" class="highcharts-tick" stroke="#333333" stroke-width="1" d="M 130.5 91 L 130.5 45" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#333333" stroke-width="1" d="M 247.5 91 L 247.5 45" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#333333" stroke-width="1" d="M 790.5 91 L 790.5 45" opacity="1"></path><path fill="none" class="highcharts-axis-line" stroke="#333333" stroke-width="1" data-z-index="7" d="M 131 90.5 L 790 90.5"></path></g><g class="highcharts-axis highcharts-xaxis highcharts-navigator-xaxis" data-z-index="2" aria-hidden="true"><path fill="none" class="highcharts-axis-line" stroke="#333333" stroke-width="0" data-z-index="7" d="M 131 399 L 790 399"></path></g><g class="highcharts-axis highcharts-yaxis highcharts-grid-axis" data-z-index="2" aria-hidden="true"><path fill="none" class="highcharts-tick" stroke="#333333" stroke-width="1" d="M 131 187.5 L 10 187.5" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#333333" stroke-width="1" d="M 131 237.5 L 10 237.5" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#333333" stroke-width="1" d="M 131 287.5 L 10 287.5" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#333333" stroke-width="1" d="M 131 337.5 L 10 337.5" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#333333" stroke-width="1" d="M 131 136.5 L 10 136.5" opacity="1"></path><path fill="none" class="highcharts-axis-line" stroke="#333333" stroke-width="1" data-z-index="7" d="M 130.5 137 L 130.5 337"></path></g><g class="highcharts-axis highcharts-yaxis highcharts-navigator-yaxis" data-z-index="2" aria-hidden="true"><path fill="none" class="highcharts-axis-line" stroke="#333333" stroke-width="0" data-z-index="7" d="M 131 359 L 131 399"></path></g><g class="highcharts-scrollbar" data-z-index="3" transform="translate(131,403)" aria-hidden="true"><rect fill="rgba(255, 255, 255, 0.001)" class="highcharts-scrollbar-track" rx="5" ry="5" height="10" width="659" stroke="#cccccc" stroke-width="1" x="-0.5" y="-0.5"></rect><g transform="translate(609,0)"><rect fill="#cccccc" class="highcharts-scrollbar-thumb" height="9" width="50" rx="5" ry="5" stroke="#cccccc" stroke-width="0"></rect><path fill="none" d="M -3 2.5 L -3 6.666666666666667 M 0 2.5 L 0 6.666666666666667 M 3 2.5 L 3 6.666666666666667" class="highcharts-scrollbar-rifles" stroke="none" stroke-width="1" transform="translate(24.5,0)"></path></g><g></g><g transform="translate(659,0)"></g></g><g class="highcharts-series-group" data-z-index="3" filter="none" aria-hidden="false"><g class="highcharts-series highcharts-series-0 highcharts-gantt-series highcharts-tracker" data-z-index="0.1" opacity="1" transform="translate(131,137) scale(1 1)" clip-path="url(#highcharts-hcurhef-31-)" aria-hidden="false" role="region" tabindex="-1" aria-label="" style="outline: none;"><g class="highcharts-point highcharts-color-0" tabindex="-1" role="img" aria-label="Prototyping. Task 95.0% completed. Start 2017-12-01, end 2018-02-02." style="outline: none;"><path fill="#2caffe" d="M -6.5 13.5 L -12.5 13.5 A 3 3 0 0 1 -9.5 16.5 L -9.5 34.5 A 3 3 0 0 1 -12.5 37.5 L -6.5 37.5 A 3 3 0 0 1 -9.5 34.5 L -9.5 16.5 A 3 3 0 0 1 -6.5 13.5 Z" class="highcharts-point highcharts-color-0 highcharts-partfill-original" stroke="#ffffff" stroke-width="1" filter="none"></path><path fill="rgb(0,99,178)" d="M -6.5 13.5 L -12.5 13.5 A 3 3 0 0 1 -9.5 16.5 L -9.5 34.5 A 3 3 0 0 1 -12.5 37.5 L -6.5 37.5 A 3 3 0 0 1 -9.5 34.5 L -9.5 16.5 A 3 3 0 0 1 -6.5 13.5 Z" class="highcharts-partfill-overlay" clip-path="url(#highcharts-hcurhef-34-)" stroke="#ffffff" stroke-width="1" opacity="1" filter="none"></path></g><g class="highcharts-point highcharts-color-1" tabindex="-1" role="img" aria-label="Development. Task 50.0% completed. Start 2018-02-02, end 2018-12-05." style="outline: none;"><path fill="#544fc5" d="M -6.5 63.5 L 202.5 63.5 A 3 3 0 0 1 205.5 66.5 L 205.5 84.5 A 3 3 0 0 1 202.5 87.5 L -6.5 87.5 A 3 3 0 0 1 -9.5 84.5 L -9.5 66.5 A 3 3 0 0 1 -6.5 63.5 Z" class="highcharts-point highcharts-color-1 highcharts-partfill-original" stroke="#ffffff" stroke-width="1" filter="none"></path><path fill="rgb(8,3,121)" d="M -6.5 63.5 L 202.5 63.5 A 3 3 0 0 1 205.5 66.5 L 205.5 84.5 A 3 3 0 0 1 202.5 87.5 L -6.5 87.5 A 3 3 0 0 1 -9.5 84.5 L -9.5 66.5 A 3 3 0 0 1 -6.5 63.5 Z" class="highcharts-partfill-overlay" clip-path="url(#highcharts-hcurhef-35-)" stroke="#ffffff" stroke-width="1" opacity="1" filter="none"></path></g><g class="highcharts-point highcharts-color-2" tabindex="-1" role="img" aria-label="Testing. Task 15.0% completed. Start 2018-12-08, end 2018-12-09." style="outline: none;"><path fill="#00e272" d="M 273.5 113.5 L 289.5 113.5 A 3 3 0 0 1 292.5 116.5 L 292.5 134.5 A 3 3 0 0 1 289.5 137.5 L 273.5 137.5 A 3 3 0 0 1 270.5 134.5 L 270.5 116.5 A 3 3 0 0 1 273.5 113.5 Z" class="highcharts-point highcharts-color-2 highcharts-partfill-original" stroke="#ffffff" stroke-width="1" filter="none"></path><path fill="rgb(0,150,38)" d="M 273.5 113.5 L 289.5 113.5 A 3 3 0 0 1 292.5 116.5 L 292.5 134.5 A 3 3 0 0 1 289.5 137.5 L 273.5 137.5 A 3 3 0 0 1 270.5 134.5 L 270.5 116.5 A 3 3 0 0 1 273.5 113.5 Z" class="highcharts-partfill-overlay" clip-path="url(#highcharts-hcurhef-36-)" stroke="#ffffff" stroke-width="1" opacity="1" filter="none"></path></g><g class="highcharts-point highcharts-color-1" tabindex="-1" role="img" aria-label="Development. Task 30.0% completed. Start 2018-12-09, end 2018-12-19." style="outline: none;"><path fill="#544fc5" d="M 295.5 63.5 L 509.5 63.5 A 3 3 0 0 1 512.5 66.5 L 512.5 84.5 A 3 3 0 0 1 509.5 87.5 L 295.5 87.5 A 3 3 0 0 1 292.5 84.5 L 292.5 66.5 A 3 3 0 0 1 295.5 63.5 Z" class="highcharts-point highcharts-color-1 highcharts-partfill-original" stroke="#ffffff" stroke-width="1" filter="none"></path><path fill="#fa0" d="M 295.5 63.5 L 509.5 63.5 A 3 3 0 0 1 512.5 66.5 L 512.5 84.5 A 3 3 0 0 1 509.5 87.5 L 295.5 87.5 A 3 3 0 0 1 292.5 84.5 L 292.5 66.5 A 3 3 0 0 1 295.5 63.5 Z" class="highcharts-partfill-overlay" clip-path="url(#highcharts-hcurhef-37-)" stroke="#ffffff" stroke-width="1" opacity="1" filter="none"></path></g><g class="highcharts-point highcharts-color-2" tabindex="-1" role="img" aria-label="Testing. Start 2018-12-10, end 2018-12-23." style="outline: none;"><path fill="#00e272" d="M 317.5 113.5 L 597.5 113.5 A 3 3 0 0 1 600.5 116.5 L 600.5 134.5 A 3 3 0 0 1 597.5 137.5 L 317.5 137.5 A 3 3 0 0 1 314.5 134.5 L 314.5 116.5 A 3 3 0 0 1 317.5 113.5 Z" class="highcharts-point highcharts-color-2 highcharts-partfill-original" stroke="#ffffff" stroke-width="1" filter="none"></path></g><g class="highcharts-point highcharts-color-3" tabindex="-1" role="img" aria-label="Release. Start 2018-12-25, end 2018-12-25." style="outline: none;"><path fill="#fe6a35" d="M 654.5 163.5 L 656.5 163.5 A 3 3 0 0 1 659.5 166.5 L 659.5 184.5 A 3 3 0 0 1 656.5 187.5 L 654.5 187.5 A 3 3 0 0 1 651.5 184.5 L 651.5 166.5 A 3 3 0 0 1 654.5 163.5 Z" class="highcharts-point highcharts-color-3 highcharts-partfill-original" stroke="#ffffff" stroke-width="1" filter="none"></path></g></g><g class="highcharts-markers highcharts-series-0 highcharts-gantt-series" data-z-index="0.1" opacity="1" transform="translate(131,137) scale(1 1)" clip-path="none" aria-hidden="true"></g><g class="highcharts-series highcharts-series-1 highcharts-gantt-series highcharts-navigator-series highcharts-dense-data" data-z-index="0.1" opacity="1" transform="translate(131,359) scale(1 1)" clip-path="url(#highcharts-hcurhef-51-)" aria-hidden="true"><g class="highcharts-point highcharts-color-0"><path fill="#2caffe" d="M 3.5 7.5 L 103.5 7.5 A 3 3 0 0 1 106.5 10.5 L 106.5 10.5 A 3 3 0 0 1 103.5 13.5 L 3.5 13.5 A 3 3 0 0 1 0.5 10.5 L 0.5 10.5 A 3 3 0 0 1 3.5 7.5 Z" class="highcharts-point highcharts-color-0 highcharts-partfill-original" stroke="#ffffff" filter="none"></path><path fill="rgb(0,99,178)" d="M 3.5 7.5 L 103.5 7.5 A 3 3 0 0 1 106.5 10.5 L 106.5 10.5 A 3 3 0 0 1 103.5 13.5 L 3.5 13.5 A 3 3 0 0 1 0.5 10.5 L 0.5 10.5 A 3 3 0 0 1 3.5 7.5 Z" class="highcharts-partfill-overlay" clip-path="url(#highcharts-hcurhef-47-)" stroke="#ffffff" stroke-width="0" opacity="1" filter="none"></path></g><g class="highcharts-point highcharts-color-1"><path fill="#544fc5" d="M 109.5 17.5 L 621.5 17.5 A 3 3 0 0 1 624.5 20.5 L 624.5 20.5 A 3 3 0 0 1 621.5 23.5 L 109.5 23.5 A 3 3 0 0 1 106.5 20.5 L 106.5 20.5 A 3 3 0 0 1 109.5 17.5 Z" class="highcharts-point highcharts-color-1 highcharts-partfill-original" stroke="#ffffff" filter="none"></path><path fill="rgb(8,3,121)" d="M 109.5 17.5 L 621.5 17.5 A 3 3 0 0 1 624.5 20.5 L 624.5 20.5 A 3 3 0 0 1 621.5 23.5 L 109.5 23.5 A 3 3 0 0 1 106.5 20.5 L 106.5 20.5 A 3 3 0 0 1 109.5 17.5 Z" class="highcharts-partfill-overlay" clip-path="url(#highcharts-hcurhef-48-)" stroke="#ffffff" stroke-width="0" opacity="1" filter="none"></path></g><g class="highcharts-point highcharts-color-2"><path fill="#00e272" d="M 632.5 27.5 L 627.5 27.5 A 3 3 0 0 1 630.5 30.5 L 630.5 30.5 A 3 3 0 0 1 627.5 33.5 L 632.5 33.5 A 3 3 0 0 1 629.5 30.5 L 629.5 30.5 A 3 3 0 0 1 632.5 27.5 Z" class="highcharts-point highcharts-color-2 highcharts-partfill-original" stroke="#ffffff" filter="none"></path><path fill="rgb(0,150,38)" d="M 632.5 27.5 L 627.5 27.5 A 3 3 0 0 1 630.5 30.5 L 630.5 30.5 A 3 3 0 0 1 627.5 33.5 L 632.5 33.5 A 3 3 0 0 1 629.5 30.5 L 629.5 30.5 A 3 3 0 0 1 632.5 27.5 Z" class="highcharts-partfill-overlay" clip-path="url(#highcharts-hcurhef-49-)" stroke="#ffffff" stroke-width="0" opacity="1" filter="none"></path></g><g class="highcharts-point highcharts-color-1"><path fill="#544fc5" d="M 633.5 17.5 L 644.5 17.5 A 3 3 0 0 1 647.5 20.5 L 647.5 20.5 A 3 3 0 0 1 644.5 23.5 L 633.5 23.5 A 3 3 0 0 1 630.5 20.5 L 630.5 20.5 A 3 3 0 0 1 633.5 17.5 Z" class="highcharts-point highcharts-color-1 highcharts-partfill-original" stroke="#ffffff" filter="none"></path><path fill="#fa0" d="M 633.5 17.5 L 644.5 17.5 A 3 3 0 0 1 647.5 20.5 L 647.5 20.5 A 3 3 0 0 1 644.5 23.5 L 633.5 23.5 A 3 3 0 0 1 630.5 20.5 L 630.5 20.5 A 3 3 0 0 1 633.5 17.5 Z" class="highcharts-partfill-overlay" clip-path="url(#highcharts-hcurhef-50-)" stroke="#ffffff" stroke-width="0" opacity="1" filter="none"></path></g><g class="highcharts-point highcharts-color-2"><path fill="#00e272" d="M 635.5 27.5 L 651.5 27.5 A 3 3 0 0 1 654.5 30.5 L 654.5 30.5 A 3 3 0 0 1 651.5 33.5 L 635.5 33.5 A 3 3 0 0 1 632.5 30.5 L 632.5 30.5 A 3 3 0 0 1 635.5 27.5 Z" class="highcharts-point highcharts-color-2 highcharts-partfill-original" stroke="#ffffff" filter="none"></path></g><g class="highcharts-point highcharts-color-3"><path fill="#fe6a35" d="M 661.5 37.5 L 656.5 37.5 A 3 3 0 0 1 659.5 40.5 L 659.5 40.5 A 3 3 0 0 1 656.5 43.5 L 661.5 43.5 A 3 3 0 0 1 658.5 40.5 L 658.5 40.5 A 3 3 0 0 1 661.5 37.5 Z" class="highcharts-point highcharts-color-3 highcharts-partfill-original" stroke="#ffffff" filter="none"></path></g></g><g class="highcharts-markers highcharts-series-1 highcharts-gantt-series highcharts-navigator-series" data-z-index="0.1" opacity="1" transform="translate(131,359) scale(1 1)" clip-path="none" aria-hidden="true"></g></g><g class="highcharts-exporting-group" data-z-index="3" aria-hidden="true"><g class="highcharts-no-tooltip highcharts-button highcharts-contextbutton" stroke-linecap="round" style="cursor: pointer;" transform="translate(762,10)"><title>Chart context menu</title><rect fill="#ffffff" class="highcharts-button-box" x="0.5" y="0.5" width="28" height="28" rx="2" ry="2" stroke="none" stroke-width="1"></rect><path fill="#666666" d="M 8 9.5 L 22 9.5 M 8 14.5 L 22 14.5 M 8 19.5 L 22 19.5" class="highcharts-button-symbol" data-z-index="1" stroke="#666666" stroke-width="3"></path><text x="0" data-z-index="1" y="18.5" style="color: rgb(51, 51, 51); font-size: 0.8em; font-weight: normal; fill: rgb(51, 51, 51);"></text></g></g><text x="400" text-anchor="middle" class="highcharts-title" data-z-index="4" style="font-size: 1.2em; color: rgb(51, 51, 51); font-weight: bold; fill: rgb(51, 51, 51);" y="25" aria-hidden="true"></text><text x="400" text-anchor="middle" class="highcharts-subtitle" data-z-index="4" style="color: rgb(102, 102, 102); font-size: 0.8em; fill: rgb(102, 102, 102);" y="24" aria-hidden="true"></text><text x="10" text-anchor="start" class="highcharts-caption" data-z-index="4" style="color: rgb(102, 102, 102); font-size: 0.8em; fill: rgb(102, 102, 102);" y="424" aria-hidden="true"></text><g class="highcharts-data-labels highcharts-series-0 highcharts-gantt-series highcharts-tracker" data-z-index="6" opacity="1" transform="translate(131,137) scale(1 1)" aria-hidden="true"><g class="highcharts-label highcharts-data-label highcharts-data-label-color-0" data-z-index="1" filter="none" transform="translate(0,0)" visibility="hidden"><text x="5" data-z-index="1" y="16" style="color: rgb(0, 0, 0); font-size: 0.7em; font-weight: bold; fill: rgb(0, 0, 0);"><tspan class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2px" stroke-linejoin="round">95%<tspan x="5" dy="0">​</tspan></tspan>95%</text></g><g class="highcharts-label highcharts-data-label highcharts-data-label-color-1" data-z-index="1" filter="none" transform="translate(87,65)"><text x="5" data-z-index="1" y="16" style="color: rgb(255, 255, 255); font-size: 0.7em; font-weight: bold; fill: rgb(255, 255, 255);"><tspan class="highcharts-text-outline" fill="#000000" stroke="#000000" stroke-width="2px" stroke-linejoin="round">50%<tspan x="5" dy="0">​</tspan></tspan>50%</text></g><g class="highcharts-label highcharts-data-label highcharts-data-label-color-2" data-z-index="1" filter="none" transform="translate(265,115)"><text x="5" data-z-index="1" y="16" style="color: rgb(0, 0, 0); font-size: 0.7em; font-weight: bold; fill: rgb(0, 0, 0);"><tspan class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2px" stroke-linejoin="round">15%<tspan x="5" dy="0">​</tspan></tspan>15%</text></g><g class="highcharts-label highcharts-data-label highcharts-data-label-color-1" data-z-index="1" filter="none" transform="translate(386,65)"><text x="5" data-z-index="1" y="16" style="color: rgb(255, 255, 255); font-size: 0.7em; font-weight: bold; fill: rgb(255, 255, 255);"><tspan class="highcharts-text-outline" fill="#000000" stroke="#000000" stroke-width="2px" stroke-linejoin="round">30%<tspan x="5" dy="0">​</tspan></tspan>30%</text></g></g><g class="highcharts-data-labels highcharts-series-1 highcharts-gantt-series highcharts-navigator-series" data-z-index="6" opacity="1" transform="translate(131,359) scale(1 1)" aria-hidden="true"></g><g class="highcharts-axis-labels highcharts-xaxis-labels highcharts-grid-axis" data-z-index="7" aria-hidden="true"><text x="214.5" text-anchor="middle" transform="translate(0,0)" style="color: rgb(51, 51, 51); cursor: default; font-size: 0.9em; fill: rgb(51, 51, 51);" y="119.5" opacity="1">Week 48</text><text x="368.5" text-anchor="middle" transform="translate(0,0)" style="color: rgb(51, 51, 51); cursor: default; font-size: 0.9em; fill: rgb(51, 51, 51);" y="119.5" opacity="1">Week 49</text><text x="522.5" text-anchor="middle" transform="translate(0,0)" style="color: rgb(51, 51, 51); cursor: default; font-size: 0.9em; fill: rgb(51, 51, 51);" y="119.5" opacity="1">Week 50</text><text x="676" text-anchor="middle" transform="translate(0,0)" style="color: rgb(51, 51, 51); cursor: default; font-size: 0.9em; fill: rgb(51, 51, 51);" y="119.5" opacity="1">Week 51</text><text x="0" text-anchor="middle" transform="translate(0,0)" style="color: rgb(51, 51, 51); cursor: default; font-size: 0.9em; fill: rgb(51, 51, 51);" visibility="hidden">W52</text></g><g class="highcharts-axis-labels highcharts-xaxis-labels highcharts-grid-axis" data-z-index="7" aria-hidden="true"><text x="189" text-anchor="middle" transform="translate(0,0)" style="color: rgb(51, 51, 51); cursor: default; font-size: 0.9em; fill: rgb(51, 51, 51);" y="73.5" opacity="1">November</text><text x="0" text-anchor="middle" transform="translate(0,0)" style="color: rgb(51, 51, 51); cursor: default; font-size: 0.9em; fill: rgb(51, 51, 51);" visibility="hidden"></text><text x="518.5" text-anchor="middle" transform="translate(0,0)" style="color: rgb(51, 51, 51); cursor: default; font-size: 0.9em; fill: rgb(51, 51, 51);" y="73.5" opacity="1">December</text></g><g class="highcharts-axis-labels highcharts-xaxis-labels highcharts-navigator-xaxis" data-z-index="7" aria-hidden="true"><text x="186.42686056459" text-anchor="start" transform="translate(0,0)" style="color: rgb(0, 0, 0); cursor: default; font-size: 0.7em; opacity: 0.6; fill: rgb(0, 0, 0);" y="395" opacity="1"><tspan class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="4px" stroke-linejoin="round" style="">Jan '18<tspan x="186.42686056459" dy="0">​</tspan></tspan>Jan '18</text><text x="389.36954662104" text-anchor="start" transform="translate(0,0)" style="color: rgb(0, 0, 0); cursor: default; font-size: 0.7em; opacity: 0.6; fill: rgb(0, 0, 0);" y="395" opacity="1"><tspan class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="4px" stroke-linejoin="round" style="">May '18<tspan x="389.36954662104" dy="0">​</tspan></tspan>May '18</text><text x="597.38579982891" text-anchor="start" transform="translate(0,0)" style="color: rgb(0, 0, 0); cursor: default; font-size: 0.7em; opacity: 0.6; fill: rgb(0, 0, 0);" y="395" opacity="1"><tspan class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="4px" stroke-linejoin="round" style="">Sep '18<tspan x="597.38579982891" dy="0">​</tspan></tspan>Sep '18</text></g><g class="highcharts-axis-labels highcharts-xaxis-labels highcharts-navigator-xaxis">salam</g><g class="highcharts-axis-labels highcharts-yaxis-labels highcharts-grid-axis" data-z-index="7" aria-hidden="true"><text x="30" text-anchor="start" transform="translate(0,0)" style="color: rgb(51, 51, 51); cursor: default; font-size: 0.9em; font-weight: bold; fill: rgb(51, 51, 51);" class="highcharts-treegrid-node-level-1" y="167.5" opacity="1">Prototyping</text><text x="30" text-anchor="start" transform="translate(0,0)" style="color: rgb(51, 51, 51); cursor: default; font-size: 0.9em; font-weight: bold; fill: rgb(51, 51, 51);" class="highcharts-treegrid-node-level-1" y="217.5" opacity="1">Development</text><text x="30" text-anchor="start" transform="translate(0,0)" style="color: rgb(51, 51, 51); cursor: default; font-size: 0.9em; font-weight: bold; fill: rgb(51, 51, 51);" class="highcharts-treegrid-node-level-1" y="267.5" opacity="1">Testing</text><text x="30" text-anchor="start" transform="translate(0,0)" style="color: rgb(51, 51, 51); cursor: default; font-size: 0.9em; font-weight: bold; fill: rgb(51, 51, 51);" class="highcharts-treegrid-node-level-1" y="317.5" opacity="1">Release</text></g><g class="highcharts-axis-labels highcharts-yaxis-labels highcharts-navigator-yaxis" data-z-index="7" aria-hidden="true"></g><g class="highcharts-range-selector-group" data-z-index="7" transform="translate(0,0)" aria-hidden="false"><g class="highcharts-range-selector-buttons" transform="translate(0,10)" aria-hidden="false"><g class="highcharts-label" transform="translate(131,0)" aria-hidden="true"><text x="0" data-z-index="1" y="15.5" style="color: rgb(102, 102, 102); font-size: 0.8em; fill: rgb(102, 102, 102);">Zoom</text></g><g class="highcharts-no-tooltip highcharts-button highcharts-button-pressed" data-z-index="7" transform="translate(170,0)" style="cursor: pointer;" aria-hidden="false" tabindex="-1" role="button"><title>View 1 month</title><rect fill="#e6e9ff" class="highcharts-button-box" x="0" y="0" width="32" height="22" rx="2" ry="2" stroke-width="0" stroke="#cccccc"></rect><text x="6.75" data-z-index="1" y="15.5" style="color: rgb(0, 0, 0); font-size: 0.8em; font-weight: bold; fill: rgb(0, 0, 0);">1m</text></g><g class="highcharts-no-tooltip highcharts-button highcharts-button-normal" data-z-index="7" transform="translate(207,0)" style="cursor: pointer;" aria-hidden="false" tabindex="-1" role="button"><title>View 3 months</title><rect fill="#f7f7f7" class="highcharts-button-box" x="0" y="0" width="32" height="22" rx="2" ry="2" stroke-width="0" stroke="#cccccc"></rect><text x="6.9406280517578125" data-z-index="1" y="15.5" style="color: rgb(51, 51, 51); font-size: 0.8em; font-weight: normal; fill: rgb(51, 51, 51);">3m</text></g><g class="highcharts-no-tooltip highcharts-button highcharts-button-normal" data-z-index="7" transform="translate(244,0)" style="cursor: pointer;" aria-hidden="false" tabindex="-1" role="button"><title>View 6 months</title><rect fill="#f7f7f7" class="highcharts-button-box" x="0" y="0" width="32" height="22" rx="2" ry="2" stroke-width="0" stroke="#cccccc"></rect><text x="6.9406280517578125" data-z-index="1" y="15.5" style="color: rgb(51, 51, 51); font-size: 0.8em; font-weight: normal; fill: rgb(51, 51, 51);">6m</text></g><g class="highcharts-no-tooltip highcharts-button highcharts-button-normal" data-z-index="7" transform="translate(281,0)" style="cursor: pointer;" aria-hidden="false" tabindex="-1" role="button"><title>View year to date</title><rect fill="#f7f7f7" class="highcharts-button-box" x="0" y="0" width="32" height="22" rx="2" ry="2" stroke-width="0" stroke="#cccccc"></rect><text x="2.6953125" data-z-index="1" y="15.5" style="color: rgb(51, 51, 51); font-size: 0.8em; font-weight: normal; fill: rgb(51, 51, 51);">YTD</text></g><g class="highcharts-no-tooltip highcharts-button highcharts-button-normal" data-z-index="7" transform="translate(318,0)" style="cursor: pointer;" aria-hidden="false" tabindex="-1" role="button"><title>View 1 year</title><rect fill="#f7f7f7" class="highcharts-button-box" x="0" y="0" width="32" height="22" rx="2" ry="2" stroke-width="0" stroke="#cccccc"></rect><text x="8.940628051757812" data-z-index="1" y="15.5" style="color: rgb(51, 51, 51); font-size: 0.8em; font-weight: normal; fill: rgb(51, 51, 51);">1y</text></g><g class="highcharts-no-tooltip highcharts-button highcharts-button-normal" data-z-index="7" transform="translate(355,0)" style="cursor: pointer;" aria-hidden="false" tabindex="-1" role="button"><title>View all</title><rect fill="#f7f7f7" class="highcharts-button-box" x="0" y="0" width="32" height="22" rx="2" ry="2" stroke-width="0" stroke="#cccccc"></rect><text x="8.309379577636719" data-z-index="1" y="15.5" style="color: rgb(51, 51, 51); font-size: 0.8em; font-weight: normal; fill: rgb(51, 51, 51);">All</text></g></g><g class="highcharts-input-group" transform="translate(567,10)" aria-hidden="true"><g class="highcharts-label highcharts-range-label" transform="translate(0,0)"><text x="0" data-z-index="1" y="12" style="color: rgb(102, 102, 102); font-family: Helvetica, Arial, sans-serif; font-size: 0.8em; fill: rgb(102, 102, 102);"></text></g><g class="highcharts-label highcharts-range-input" transform="translate(0,0)" style="cursor: pointer;"><rect fill="none" class="highcharts-label-box" x="0.5" y="0.5" width="77" height="21" stroke="none" stroke-width="1"></rect><text x="2" data-z-index="1" y="15" style="color: rgb(51, 78, 255); font-family: Helvetica, Arial, sans-serif; font-size: 0.8em; fill: rgb(51, 78, 255);">25 Nov 2018</text></g><g class="highcharts-label highcharts-range-label" transform="translate(82,0)"><text x="2" data-z-index="1" y="15" style="color: rgb(102, 102, 102); font-family: Helvetica, Arial, sans-serif; font-size: 0.8em; fill: rgb(102, 102, 102);">→</text></g><g class="highcharts-label highcharts-range-input" transform="translate(104,0)" style="cursor: pointer;"><rect fill="none" class="highcharts-label-box" x="0.5" y="0.5" width="77" height="21" stroke="none" stroke-width="1"></rect><text x="2" data-z-index="1" y="15" style="color: rgb(51, 78, 255); font-family: Helvetica, Arial, sans-serif; font-size: 0.8em; fill: rgb(51, 78, 255);">25 Dec 2018</text></g></g></g><path fill="none" d="M 131 45.5 L 790 45.5" class="highcharts-axis-line" stroke="#333333" stroke-width="1" data-z-index="7" aria-hidden="true"></path><path fill="none" d="M 10.5 137 L 10.5 337" class="highcharts-axis-line" stroke="#333333" stroke-width="1" data-z-index="7" aria-hidden="true"></path><g class="highcharts-navigator" data-z-index="8" aria-hidden="true"><rect fill="rgba(0,0,0,0)" class="highcharts-navigator-mask-outside" x="131" y="359" width="608" height="40"></rect><rect fill="rgba(102,122,255,0.3)" class="highcharts-navigator-mask-inside" style="cursor: ew-resize;" x="739" y="359" width="51" height="40"></rect><rect fill="rgba(0,0,0,0)" class="highcharts-navigator-mask-outside" x="790" y="359" width="0" height="40"></rect><path fill="none" class="highcharts-navigator-outline" stroke-width="1" stroke="#999999" d="M 131 358.5 L 738.5 358.5 L 738.5 399 M 789.5 399 L 789.5 358.5 L 790 359.5 M 738 358.5 L 790 358.5"></path><path fill="#f2f2f2" d="M -4.5 0.5 L 3.5 0.5 L 3.5 15.5 L -4.5 15.5 L -4.5 0.5 M -1.5 4 L -1.5 12 M 0.5 4 L 0.5 12" data-z-index="6" class="highcharts-navigator-handle highcharts-navigator-handle-right" stroke="#999999" stroke-width="1" style="cursor: ew-resize;" transform="translate(790,371)"></path><path fill="#f2f2f2" d="M -4.5 0.5 L 3.5 0.5 L 3.5 15.5 L -4.5 15.5 L -4.5 0.5 M -1.5 4 L -1.5 12 M 0.5 4 L 0.5 12" data-z-index="7" class="highcharts-navigator-handle highcharts-navigator-handle-left" stroke="#999999" stroke-width="1" style="cursor: ew-resize;" transform="translate(739,371)"></path></g></svg><div aria-hidden="false" class="highcharts-a11y-proxy-container-after" style="top: 0px; left: 0px; white-space: nowrap; position: absolute;"><div class="highcharts-a11y-proxy-group highcharts-a11y-proxy-group-zoom"></div><div class="highcharts-a11y-proxy-group highcharts-a11y-proxy-group-chartMenu"><button class="highcharts-a11y-proxy-button highcharts-no-tooltip" aria-label="View chart menu, Chart" aria-expanded="false" title="Chart context menu" style="border-width: 0px; background-color: transparent; cursor: pointer; outline: none; opacity: 0.001; z-index: 999; overflow: hidden; padding: 0px; margin: 0px; display: block; position: absolute; width: 28px; height: 28px; left: 763px; top: 11px;"></button></div></div></div><div id="highcharts-screen-reader-region-after-3" aria-hidden="false" style="position: relative;"><div aria-hidden="false" style="position: absolute; width: 1px; height: 1px; overflow: hidden; white-space: nowrap; clip: rect(1px, 1px, 1px, 1px); margin-top: -3px; opacity: 0.01;"><div id="highcharts-end-of-chart-marker-3" class="highcharts-exit-anchor" tabindex="0" aria-hidden="false">End of interactive chart.</div></div></div></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: progressProcessChart Modal -->
        <!-- BEGIN: Financial-Report Modal -->
        <div id="Financial-Report" class="modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <button data-tw-dismiss="modal">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round" icon-name="x" data-lucide="x" class="lucide lucide-x w-8 h-8 text-slate-400">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </button>
                    <div class="modal-body text-center" id="financialProjectReport" tabindex="1" style="overflow-y: hidden; outline: none;">
                        <div class="">&nbsp;</div>
                        <div class="">&nbsp;</div>
                        <div class="font-medium text-base mb-3 financialProjectReportTitle">
                            گزارش مالی پروژه
                        </div>
                        <div class="grid grid-cols-12 mb-3 flex">
                            <div class="col-span-2 font-medium py-3 px-3">
                                تاریخ
                            </div>
                            <div class="col-span-5 font-medium py-3 px-3">
                                شرح عملیات
                            </div>
                            <div class="col-span-3 font-medium py-3 px-3">
                                درصد پیشرفت
                            </div>
                            <div class="col-span-2 font-medium py-3 px-3">
                                تاییدیه ها
                            </div>

                            <div class="col-span-2 font-medium py-3 px-3">
                                1402/06/09
                            </div>
                            <div class="col-span-5 font-medium py-3 px-3">
                                مراحل ساخت ساختمان را میتوان از نقطه نظر های گوناگون تقسیم بندی کرد
                            </div>
                            <div class="col-span-3 font-medium py-3 px-3">
                                <div class="progress w-48 h-4">
                                    <div class="progress-bar bg-success w-3/4" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">70%</div>
                                </div>
                            </div>
                            <div class="col-span-2 font-medium py-3 px-3">
                                <a data-theme="light" data-tooltip-content="#accpets-tooltip" class="tooltip btn btn-secondary">
                                    <div class="flex items-center justify-center">
                                        <div class="flex items-center justify-center text-success">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="check" data-lucide="check" class="lucide lucide-check w-4 h-4"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                        </div>
                                        <div class="flex items-center justify-center text-danger">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="x" data-lucide="x" class="lucide lucide-x w-4 h-4"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                        </div>
                                        <div class="flex items-center justify-center text-success">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="check" data-lucide="check" class="lucide lucide-check w-4 h-4"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-span-2 font-medium py-3 px-3">
                                1402/06/09
                            </div>
                            <div class="col-span-5 font-medium py-3 px-3">
                                مراحل ساخت ساختمان را میتوان از نقطه نظر های گوناگون تقسیم بندی کرد
                            </div>
                            <div class="col-span-3 font-medium py-3 px-3">
                                <div class="progress w-48 h-4">
                                    <div class="progress-bar bg-success w-3/4" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">70%</div>
                                </div>
                            </div>
                            <div class="col-span-2 font-medium py-3 px-3">
                                <a data-theme="light" data-tooltip-content="#accpets-tooltip" class="tooltip btn btn-secondary">
                                    <div class="flex items-center justify-center">
                                        <div class="flex items-center justify-center text-success">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="check" data-lucide="check" class="lucide lucide-check w-4 h-4"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                        </div>
                                        <div class="flex items-center justify-center text-danger">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="x" data-lucide="x" class="lucide lucide-x w-4 h-4"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                        </div>
                                        <div class="flex items-center justify-center text-success">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="check" data-lucide="check" class="lucide lucide-check w-4 h-4"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-span-2 font-medium py-3 px-3">
                                1402/06/09
                            </div>
                            <div class="col-span-5 font-medium py-3 px-3">
                                مراحل ساخت ساختمان را میتوان از نقطه نظر های گوناگون تقسیم بندی کرد
                            </div>
                            <div class="col-span-3 font-medium py-3 px-3">
                                <div class="progress w-48 h-4">
                                    <div class="progress-bar bg-success w-3/4" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">70%</div>
                                </div>
                            </div>
                            <div class="col-span-2 font-medium py-3 px-3">
                                <a data-theme="light" data-tooltip-content="#accpets-tooltip" class="tooltip btn btn-secondary">
                                    <div class="flex items-center justify-center">
                                        <div class="flex items-center justify-center text-success">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="check" data-lucide="check" class="lucide lucide-check w-4 h-4"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                        </div>
                                        <div class="flex items-center justify-center text-danger">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="x" data-lucide="x" class="lucide lucide-x w-4 h-4"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                        </div>
                                        <div class="flex items-center justify-center text-success">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="check" data-lucide="check" class="lucide lucide-check w-4 h-4"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-span-2 font-medium py-3 px-3">
                                1402/06/09
                            </div>
                            <div class="col-span-5 font-medium py-3 px-3">
                                مراحل ساخت ساختمان را میتوان از نقطه نظر های گوناگون تقسیم بندی کرد
                            </div>
                            <div class="col-span-3 font-medium py-3 px-3">
                                <div class="progress w-48 h-4">
                                    <div class="progress-bar bg-success w-3/4" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">70%</div>
                                </div>
                            </div>
                            <div class="col-span-2 font-medium py-3 px-3">
                                <a data-theme="light" data-tooltip-content="#accpets-tooltip" class="tooltip btn btn-secondary">
                                    <div class="flex items-center justify-center">
                                        <div class="flex items-center justify-center text-success">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="check" data-lucide="check" class="lucide lucide-check w-4 h-4"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                        </div>
                                        <div class="flex items-center justify-center text-danger">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="x" data-lucide="x" class="lucide lucide-x w-4 h-4"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                        </div>
                                        <div class="flex items-center justify-center text-success">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="check" data-lucide="check" class="lucide lucide-check w-4 h-4"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-span-2 font-medium py-3 px-3">
                                1402/06/09
                            </div>
                            <div class="col-span-5 font-medium py-3 px-3">
                                مراحل ساخت ساختمان را میتوان از نقطه نظر های گوناگون تقسیم بندی کرد
                            </div>
                            <div class="col-span-3 font-medium py-3 px-3">
                                <div class="progress w-48 h-4">
                                    <div class="progress-bar bg-success w-3/4" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">70%</div>
                                </div>
                            </div>
                            <div class="col-span-2 font-medium py-3 px-3">
                                <a data-theme="light" data-tooltip-content="#accpets-tooltip" class="tooltip btn btn-secondary">
                                    <div class="flex items-center justify-center">
                                        <div class="flex items-center justify-center text-success">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="check" data-lucide="check" class="lucide lucide-check w-4 h-4"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                        </div>
                                        <div class="flex items-center justify-center text-danger">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="x" data-lucide="x" class="lucide lucide-x w-4 h-4"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                        </div>
                                        <div class="flex items-center justify-center text-success">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="check" data-lucide="check" class="lucide lucide-check w-4 h-4"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-span-2 font-medium py-3 px-3">
                                1402/06/09
                            </div>
                            <div class="col-span-5 font-medium py-3 px-3">
                                مراحل ساخت ساختمان را میتوان از نقطه نظر های گوناگون تقسیم بندی کرد
                            </div>
                            <div class="col-span-3 font-medium py-3 px-3">
                                <div class="progress w-48 h-4">
                                    <div class="progress-bar bg-success w-3/4" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">70%</div>
                                </div>
                            </div>
                            <div class="col-span-2 font-medium py-3 px-3">
                                <a data-theme="light" data-tooltip-content="#accpets-tooltip" class="tooltip btn btn-secondary">
                                    <div class="flex items-center justify-center">
                                        <div class="flex items-center justify-center text-success">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="check" data-lucide="check" class="lucide lucide-check w-4 h-4"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                        </div>
                                        <div class="flex items-center justify-center text-danger">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="x" data-lucide="x" class="lucide lucide-x w-4 h-4"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                        </div>
                                        <div class="flex items-center justify-center text-success">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="check" data-lucide="check" class="lucide lucide-check w-4 h-4"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-span-2 font-medium py-3 px-3">
                                1402/06/09
                            </div>
                            <div class="col-span-5 font-medium py-3 px-3">
                                مراحل ساخت ساختمان را میتوان از نقطه نظر های گوناگون تقسیم بندی کرد
                            </div>
                            <div class="col-span-3 font-medium py-3 px-3">
                                <div class="progress w-48 h-4">
                                    <div class="progress-bar bg-success w-3/4" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">70%</div>
                                </div>
                            </div>
                            <div class="col-span-2 font-medium py-3 px-3">
                                <a data-theme="light" data-tooltip-content="#accpets-tooltip" class="tooltip btn btn-secondary">
                                    <div class="flex items-center justify-center">
                                        <div class="flex items-center justify-center text-success">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="check" data-lucide="check" class="lucide lucide-check w-4 h-4"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                        </div>
                                        <div class="flex items-center justify-center text-danger">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="x" data-lucide="x" class="lucide lucide-x w-4 h-4"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                        </div>
                                        <div class="flex items-center justify-center text-success">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="check" data-lucide="check" class="lucide lucide-check w-4 h-4"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-span-2 font-medium py-3 px-3">
                                1402/06/09
                            </div>
                            <div class="col-span-5 font-medium py-3 px-3">
                                مراحل ساخت ساختمان را میتوان از نقطه نظر های گوناگون تقسیم بندی کرد
                            </div>
                            <div class="col-span-3 font-medium py-3 px-3">
                                <div class="progress w-48 h-4">
                                    <div class="progress-bar bg-success w-3/4" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">70%</div>
                                </div>
                            </div>
                            <div class="col-span-2 font-medium py-3 px-3">
                                <a data-theme="light" data-tooltip-content="#accpets-tooltip" class="tooltip btn btn-secondary">
                                    <div class="flex items-center justify-center">
                                        <div class="flex items-center justify-center text-success">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="check" data-lucide="check" class="lucide lucide-check w-4 h-4"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                        </div>
                                        <div class="flex items-center justify-center text-danger">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="x" data-lucide="x" class="lucide lucide-x w-4 h-4"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                        </div>
                                        <div class="flex items-center justify-center text-success">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="check" data-lucide="check" class="lucide lucide-check w-4 h-4"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-span-2 font-medium py-3 px-3">
                                1402/06/09
                            </div>
                            <div class="col-span-5 font-medium py-3 px-3">
                                مراحل ساخت ساختمان را میتوان از نقطه نظر های گوناگون تقسیم بندی کرد
                            </div>
                            <div class="col-span-3 font-medium py-3 px-3">
                                <div class="progress w-48 h-4">
                                    <div class="progress-bar bg-success w-3/4" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">70%</div>
                                </div>
                            </div>
                            <div class="col-span-2 font-medium py-3 px-3">
                                <a data-theme="light" data-tooltip-content="#accpets-tooltip" class="tooltip btn btn-secondary">
                                    <div class="flex items-center justify-center">
                                        <div class="flex items-center justify-center text-success">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="check" data-lucide="check" class="lucide lucide-check w-4 h-4"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                        </div>
                                        <div class="flex items-center justify-center text-danger">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="x" data-lucide="x" class="lucide lucide-x w-4 h-4"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                        </div>
                                        <div class="flex items-center justify-center text-success">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="check" data-lucide="check" class="lucide lucide-check w-4 h-4"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-span-2 font-medium py-3 px-3">
                                1402/06/09
                            </div>
                            <div class="col-span-5 font-medium py-3 px-3">
                                مراحل ساخت ساختمان را میتوان از نقطه نظر های گوناگون تقسیم بندی کرد
                            </div>
                            <div class="col-span-3 font-medium py-3 px-3">
                                <div class="progress w-48 h-4">
                                    <div class="progress-bar bg-success w-3/4" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">70%</div>
                                </div>
                            </div>
                            <div class="col-span-2 font-medium py-3 px-3">
                                <a data-theme="light" data-tooltip-content="#accpets-tooltip" class="tooltip btn btn-secondary">
                                    <div class="flex items-center justify-center">
                                        <div class="flex items-center justify-center text-success">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="check" data-lucide="check" class="lucide lucide-check w-4 h-4"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                        </div>
                                        <div class="flex items-center justify-center text-danger">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="x" data-lucide="x" class="lucide lucide-x w-4 h-4"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                        </div>
                                        <div class="flex items-center justify-center text-success">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="check" data-lucide="check" class="lucide lucide-check w-4 h-4"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-span-2 font-medium py-3 px-3">
                                1402/06/09
                            </div>
                            <div class="col-span-5 font-medium py-3 px-3">
                                مراحل ساخت ساختمان را میتوان از نقطه نظر های گوناگون تقسیم بندی کرد
                            </div>
                            <div class="col-span-3 font-medium py-3 px-3">
                                <div class="progress w-48 h-4">
                                    <div class="progress-bar bg-success w-3/4" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">70%</div>
                                </div>
                            </div>
                            <div class="col-span-2 font-medium py-3 px-3">
                                <a data-theme="light" data-tooltip-content="#accpets-tooltip" class="tooltip btn btn-secondary">
                                    <div class="flex items-center justify-center">
                                        <div class="flex items-center justify-center text-success">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="check" data-lucide="check" class="lucide lucide-check w-4 h-4"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                        </div>
                                        <div class="flex items-center justify-center text-danger">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="x" data-lucide="x" class="lucide lucide-x w-4 h-4"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                        </div>
                                        <div class="flex items-center justify-center text-success">
                                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="check" data-lucide="check" class="lucide lucide-check w-4 h-4"><polyline points="20 6 9 17 4 12"></polyline></svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ascrail2000" class="nicescroll-rails nicescroll-rails-vr" style="width: 12px; z-index: auto; cursor: default; position: absolute; top: -26px; left: 1398px; height: 500px; opacity: 0; display: block;"><div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 10px; height: 301px; background-color: rgb(47, 79, 79); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px;"></div></div>
        </div>
        <!-- END: Financial-Report Modal -->
        <!-- BEGIN: Daily-Report Modal -->
        <div id="Daily-Report" class="modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-body text-center dailyProjectReportClass" id="dailyDataProjectReport" tabindex="1">
                        <div style="position: relative;" id="dailyReportContentDiv">
                            <div class="modal-header">
                                <h2 class="font-medium text-base mx-auto TotalPublicCostTitle"> گزارش روزانه پروژه</h2>
                            </div>
                            <div class="grid grid-cols-12 mt-3 flex" style="" id="elementTitle">
                                <div class="col-span-2 font-medium py-3 px-3">
                                    تاریخ
                                </div>
                                <div class="col-span-5 font-medium py-3 px-3" style="text-align: right">
                                    شرح عملیات
                                </div>
                                <div class="col-span-3 font-medium py-3 px-3">
                                    درصد پیشرفت
                                </div>
                                <div class="col-span-2 font-medium py-3 px-3">
                                    تاییدیه ها
                                </div>
                            </div>

                            <div class="grid grid-cols-12 mb-3" id="elementData">
                            </div>

                            <div class="divPagination bg-withe" style="display:grid; justify-content:center;" id="paginationDiv">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination" id="paginationDivUl"></ul>
                                </nav>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Daily-Report Modal -->
        <!-- BEGIN: Daily-Pictures Modal -->
        <div id="Daily-Pictures" class="modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-body text-center dailyProjectReportClass" id="dailyPictureDataProjectReport" tabindex="1">
                        <div id="dailyPicturesContentDiv">
                            <div class="font-medium text-base mb-3 dailyreportpic">
                                تصاویر روزانه پروژه
                            </div>

                            <div class="grid grid-cols-1 mb-3 flex" id="dailyPicturesData">
                                <div class="col-span-12 md:col-span-6 xl:col-span-4 2xl:col-span-12">
                                    <div id="parentDailyPicturesData" class="relative before:block before:absolute before:w-px before:bg-slate-200 before:dark:bg-darkmode-400 before:ml-5 before:mt-5">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Daily-Pictures Modal -->
        <!-- BEGIN: Monthly-Pictures Modal -->
        <div id="Monthly-Pictures" class="modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-body text-center monthlyProjectReportClass" id="monthlyPictureDataProjectReport" tabindex="1">
                        <div id="monthlyPicturesContentDiv">
                            <div class="font-medium text-base mb-3 dailyreportpic">
                                تصاویر ماهانه پروژه
                            </div>

                            <div class="grid grid-cols-1 mb-3 flex" id="monthlyPicturesData">
                                <div class="col-span-12 md:col-span-6 xl:col-span-4 2xl:col-span-12">
                                    <div id="parentMonthlyPictures" class="relative before:block before:absolute before:w-px before:bg-slate-200 before:dark:bg-darkmode-400 before:ml-5 before:mt-5">
                                        <div class="grid grid-cols-12 flex">
                                            <div class="col-span-10 xxl:col-span-10 xl:col-span-10 llg:col-span-10 lg:col-span-10 md:col-span-12 sm:col-span-12 xs:col-span-12" id="playerBlock"></div>
                                            <div class="col-span-2 xxl:col-span-2 xl:col-span-2 llg:col-span-2 lg:col-span-2 md:col-span-12 sm:col-span-12 xs:col-span-12">
                                                <div class="parentMonthlyPicturesData">
                                                </div>
                                            </div>
                                        </div>
                                        @*                                 <div class="flex">
                                        <div class="flex-1 w-72 h-72">
                                        <div id="playerBlock"></div>
                                        </div>
                                        <div class="parentMonthlyPicturesData">
                                        </div>
                                        </div> *@
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Monthly-Pictures Modal -->
        <!-- BEGIN: Total public cost || کل هزینه عمومی -->
        <div id="Total-Public-Cost" class="modal" tabindex="-1" aria-hidden="true" dir="rtl">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="font-medium text-base mx-auto TotalPublicCostTitle">کل هزینه عمومی</h2>
                    </div>
                    <div class="modal-body text-center">
                        <div class="col-span-12">
                            <div class=" intro-y inbox box">
                                <div class="fixalertp1 alert alert-success-soft intro-y mb-2 sm:mt-2">
                                    <div class="grid grid-cols-12 ">
                                        <div class="container_action col-span-6 grid">
                                            <div class="activondescrib col-span-6 lg:col-span-6 xl:col-span-6 sm:col-span-6 text-center">شرح عملیات</div>
                                            <div class="actcion total col-span-6 lg:col-span-6 text xl:col-span-6 sm:col-span-6 text-center whitespace-nowrap sumTitle">مجموع</div>
                                        </div>
                                        <div id="titleM" class="col-span-6 monthsTitle">
                                            <span data-carousel="titleTotal" data-target="next" class=" arrowsClassRight my-slider-navigator">
                                                <svg width="24"
                                                     height="24"
                                                     viewBox="0 0 24 24"
                                                     fill="none"
                                                     stroke="currentColor"
                                                     stroke-width="2"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     icon-name="chevron-right"
                                                     data-lucide="chevron-right"
                                                     class="lucide lucide-chevron-right w-6 h-6 text-slate-500">
                                                    <polyline points="9 18 15 12 9 6"></polyline>
                                                </svg>
                                            </span>

                                            <div class="col-span-5 flex-1 TitleClass">
                                                <div class="titleTotal" id="titleTotal" dir="rtl">
                                                </div>
                                            </div>

                                            <span data-carousel="titleTotal" data-target="prev" class="arrowsClassLeft my-slider-navigator">
                                                <svg width="24"
                                                     height="24"
                                                     viewBox="0 0 24 24"
                                                     fill="none"
                                                     stroke="currentColor"
                                                     stroke-width="2"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     icon-name="chevron-left"
                                                     data-lucide="chevron-left"
                                                     class="lucide lucide-chevron-left w-6 h-6 text-slate-500">
                                                    <polyline points="15 18 9 12 15 6"></polyline>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="costModalsClass bg-slate-100 px-20" id="General_cost_scroll">
                                    <div class="flex" style="padding-left:10px;padding-right:20px">
                                        <!-- Right Div Content   -->
                                        <div class="flex-1 w-64 sm:text-right" id="descriptionAndTotalContent">
                                            <div class="overflow-x-auto sm:overflow-x-visible">
                                                <div class=" intro-y inbox">
                                                    <div class="inline-block sm:block text-slate-600 dark:text-slate-500 bg-slate-100 dark:bg-darkmode-400/70 border-b border-slate-200/60 dark:border-darkmode-400">
                                                        <div class=" px-5 py-3 ">
                                                            <div class="grid grid-cols-2 gap-4">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Left  Div Content   -->
                                        <div class="monthsClass flex-1 w-64">
                                            <div class="MonthContent grid grid-cols-3 bg-slate-100" id="MonthContent" dir="rtl">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="alert alert-success-soft intro-y overflow-auto lg:overflow-visible mb-2 sm:mt-2">
                                    <div id="fixalert" class="fixg grid grid-cols-12">
                                        <div class="col-span-3 lg:col-span-3 xl:col-span-3 sm:col-span-6 text-center md:col-span-3 whitespace-nowrap font-15 ">جمع هزینه ها </div>
                                        @* <div class="col-span-2 sm:col-span-2 text-center whitespace-nowrap"></div> *@
                                        <div class="col-span-3 lg:col-span-3 xl:col-span-3 sm:col-span-6 md:col-span-2 text-center whitespace-nowrap font-15" id="publicTotalCost"></div>
                                        <div class="col-span-6 lg:col-span-2 xl:col-span-2 sm:col-span-6 md:col-span-2 text-center whitespace-nowrap font-15" id="totalFirstMonth"></div>
                                        <div class="col-span-6 lg:col-span-2 xl:col-span-2 sm:col-span-6 md:col-span-2 text-center whitespace-nowrap font-15" id="totalSecondtMonth"></div>
                                        <div class="col-span-6 lg:col-span-2 xl:col-span-2 sm:col-span-6 md:col-span-2 text-center whitespace-nowrap font-15" id="totalThirdMonth"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END: Total public cost Modal || کل هزینه عمومی -->
        <!-- BEGIN: Share Of The General Cost Modal || سهم از هزینه عمومی -->
        <div id="Share-Of-The-General-Cost" class="modal" tabindex="-1" aria-hidden="true" dir="rtl">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="font-medium text-base mx-auto">سهم از هزینه عمومی</h2>
                    </div>
                    <div class="modal-body text-center">
                        @* <div class="col-span-12 "> *@
                        @* <div class=" intro-y inbox box"> *@
                        <div class="alert alert-success-soft intro-y  mb-2 sm:mt-2 fixalertp" id="publicCostElementTitle">
                            <div id="" class="grid grid-cols-12 gap-6">
                                <div class="publiccost-child col-span-12 sm:col-span-3 text-center whitespace-nowrap">ماه</div>
                                <div class="publiccost-child col-span-12 sm:col-span-3 text-center whitespace-nowrap">هزینه کل عمومی</div>
                                <div class="publiccost-child col-span-12 sm:col-span-3 text-center whitespace-nowrap">سهم پروژه</div>
                                <div class="publiccost-child col-span-12 sm:col-span-3 text-center whitespace-nowrap">سهم پروژه</div>
                            </div>
                        </div>
                        <div class="grid grid-cols-12 box text-slate-600 dark:text-slate-500 bg-slate-100 dark:bg-darkmode-400/70 border-b border-slate-200/60 dark:border-darkmode-400" id="share_of_public_expenditure">
                        </div>
                        <div class="alert alert-success-soft intro-y  mb-2 sm:mt-2 fixalertp">
                            <div class="grid grid-cols-12 gap-6 fixgap">
                                <div class="publiccost-child col-span-12 xxl:col-span-3 xl:col-span-3 llg:col-span-3 lg:col-span-3  md:col-span-3 sm:col-span-6 sm:text-right xs:col-span-6  xxl:text-center xl:text-center lg:text-center  xs:text-right whitespace-nowrap font-15 ">جمع هزینه ها</div>
                                <div class="publiccost-child col-span-12 xxl:col-span-3 xl:col-span-3 llg:col-span-3 lg:col-span-3  md:col-span-3 sm:col-span-6 xs:col-span-6 text-center whitespace-nowrap font-15 " id="publicTotalCostVlaue">هزینه کل عمومی</div>
                                <div class="publiccost-child text-center publicCostDataItemTitle col-span-12 sm:col-span-6 text-center  whitespace-nowrap sm:text-right">سهم پروژه</div>
                                <div class="publiccost-child text-center col-span-12 xxl:col-span-3 xl:col-span-3 llg:col-span-3 lg:col-span-3 md:col-span-3 sm:col-span-6 xs:col-span-6  whitespace-nowrap font-15 " id="publicTotalCostPrecentVlaue">درصد</div>
                                <div class="publiccost-child text-center publicCostDataItemTitle col-span-12 sm:col-span-6 whitespace-nowrap sm:text-right ">سهم پروژه</div>
                                <div class="publiccost-child col-span-12 xxl:col-span-3 xl:col-span-3 llg:col-span-3 lg:col-span-3  md:col-span-3 sm:col-span-6 xs:col-span-6 text-center whitespace-nowrap font-15 " id="CalculatedAmount">مبلغ محاسبه شده</div>
                            </div>
                        </div>
                        @* </div> *@
                        @* </div> *@
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Share Of The General Cost Modal || سهم از هزینه عمومی -->
        <!-- BEGIN: The paid share of the project Modal || سهم پرداختی پروژه -->
        <div id="Paid-Share-Of-The-Project" class="modal" tabindex="-1" aria-hidden="true" dir="rtl">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="font-medium text-base mx-auto">سهم پرداختی پروژه</h2>
                    </div>
                    <div class="modal-body text-center">
                        <div class="col-span-12 ">
                            <div class=" intro-y inbox box">
                                <div class="alert alert-pending-soft intro-y overflow-auto lg:overflow-visible mb-2  sm:mt-2" id="paidShareElementTitle">
                                    <div class="grid grid-cols-12 gap-6 flex">
                                        <div class="col-span-2 sm:col-span-2 text-center whitespace-nowrap">تاریخ</div>
                                        <div class="col-span-6 sm:col-span-6 text-center whitespace-nowrap">شرح عملیات</div>
                                        <div class="col-span-2 sm:col-span-2 text-center whitespace-nowrap ">پرداختی</div>
                                        <div class="col-span-2 sm:col-span-2 text-center whitespace-nowrap ">مجموع</div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-12 gap-x-6 flex bg-slate-100" id="Project_payment_scroll">
                                </div>
                                <div class="alert alert-pending-soft intro-y overflow-auto lg:overflow-visible mb-2 sm:mt-2">
                                    <div class="grid grid-cols-12 gap-6 flex">
                                        <div class="col-span-2 xxl:col-span-2 xl:col-span-2 llg:col-span-2 lg:col-span-2  md:col-span-2 sm:col-span-6 xs:col-span-6 text-center whitespace-nowrap font-15 ">جمع هزینه ها </div>
                                        <div class="emptyCell col-span-6 xxl:col-span-6 xl:col-span-6 llg:col-span-6 lg:col-span-6  md:col-span-6 sm:col-span-6 xs:col-span-6 text-center whitespace-nowrap ">&nbsp;</div>
                                        <div class="col-span-2 xxl:col-span-2 xl:col-span-2 llg:col-span-2 lg:col-span-2 md:col-span-2 sm:col-span-6 xs:col-span-6 text-center whitespace-nowrap font-15" id="totalPaid-Share"></div>
                                        <div class="emptyCell col-span-2 xxl:col-span-2 xl:col-span-2 llg:col-span-2 lg:col-span-2 md:col-span-2 sm:col-span-6 xs:col-span-6 text-center whitespace-nowrap ">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: The paid share of the project Modal || سهم پرداختی پروژه -->
