<script type="text/javascript">
    $(document).ready(function () {
       
        $('#searchBlock').hide(1000);
        $('#listContainer').jtable({
            title: 'لیست موضوعات', toolbarType: 'both',
            paging: true,
            pageSize: 2, selecting: true,
            sorting: true,
            actions: {
                listAction: '/AdminTeniaco/EvaluationCategoriesManagement/GetListOfSubjects',
                createAction: '/AdminTeniaco/EvaluationCategoriesManagement/AddToEvaluations',
                updateAction: '/AdminTeniaco/EvaluationCategoriesManagement/UpdateEvaluations',
                deleteAction: '/AdminTeniaco/EvaluationCategoriesManagement/CompleteDeleteEvaluations'
            },
            toolbar: {
                items: [
                    {
                        icon: '',
                        text: 'تغییر نمایش',
                        click: function () {
                            $.ajax({
                                cache: false,
                                type: "Post",
                                url: '/Admin/AdminPanel/ChangeViewMode',
                                success: function (result) {
                                    if (result.Result == "OK") {
                                        
                                        window.setTimeout(function () {
                                            location.reload(true);
                                        }, 500);
                                    }
                                    else
                                        if (result.Result == "ERROR") {
                                            alert('jfdhsdjhhghg');
                                        }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                }
                            });
                        },
                    },
                ]
            },
            fields: {
                EvaluationId: {
                    key: true,
                    list: false
                },
                EvaluationSubjectId: {
                    title: 'موضوع',
                    sorting: false,
                    options:subjsList
                 },
                 EvaluationTitle : {
                     title: 'عنوان'
                 },
                PPlanDate: {
                    title: "تاریخ",
                     input: function(data) 
                     {
                        if (data.record != undefined) { //if (data.record != '') {
                            if (data.record.PPlanDate != '') {
                                return '<input class="form-control input-sm" id="Edit-PPlanDate" name="PPlanDate" autocomplete="off" ' +
                                    'data-mddatetimepicker="true" onkeydown="return false" data-placement="bottom" ' +
                                    'data-placeHolderReplacement="PDate"' +
                                    ' placeholder="" ' +
                                    ' value="' + data.record.PPlanDate + '" />';
                            }
                            else {
                                return '<input class="form-control input-sm" id="Edit-PPlanDate" name="PPlanDate" autocomplete="off" ' +
                                    'data-mddatetimepicker="true" onkeydown="return false" data-placement="bottom" ' +
                                    'data-placeHolderReplacement="PPlanDate"' +
                                    ' placeholder="" ' +
                                    ' />';
                            }
                        }
                        else {
                            return '<input class="form-control input-sm" id="Edit-PPlanDate" name="PPlanDate" autocomplete="off" ' +
                                'data-mddatetimepicker="true" onkeydown="return false" data-placement="bottom" ' +
                                'data-placeHolderReplacement="PPlanDate"' +
                                ' placeholder="" ' +
                                ' />';
                        }
                    },
                    display: function (data) {
                        
                        if (data.record.PPlanDate)
                            return data.record.PPlanDate;
                        else
                            return '';
                    }
                },
                QuestionCount: {
                    title: 'تعداد&nbsp;سوالات',
                    create: false,
                    edit: false,
                    list:false
                },
                Version: {
                    title:"ورژن"
                    
                },
                 EvalCalc: {
                      
                      title: 'دسته&nbsp;&nbsp;بندی&nbsp;ارزیابی',
                    sorting: false,
                    edit: false,
                    create: false,
                    display: function (data) {
                       return '<img class="evalCals pointer" data-EvaluationId="' + data.record.EvaluationId + '" src="/images/details.png" class="" />';
                    }
                },   
                IsActivated: {
                    title: 'فعال&nbsp;/&nbsp;غیر&nbsp;فعال',
                    sorting: false,
                    //create: false,
                    options: {
                        true: 'بله',
                        false: 'خیر'
                    },
                    input: function (data) {
                        if (data.record != undefined) { //if (data.record != '') {
                            if (data.record.IsActivated == true) {
                                return '<select id="Edit-IsActivated" name="IsActivated">' +
                                    '<option value="true" selected>بله</option>' +
                                    '<option value="false">خیر</option>' +
                                    '</select>';
                            }
                            else {
                                return '<select id="Edit-IsActivated" name="IsActivated">' +
                                    '<option value="true">بله</option>' +
                                    '<option value="false" selected>خیر</option>' +
                                    '</select>';
                            }
                        }
                        else {
                            return '<select id="Edit-IsActivated" name="IsActivated">' +
                                '<option value="true" selected>بله</option>' +
                                '<option value="false">خیر</option>' +
                                '</select>';
                        }
                    },
                    display: function (data) {
                        
                        if (data.record.IsActivated)
                            return '<div class="isActivated pointer" data-EvaluationId="' +
                                data.record.EvaluationId + '"><i class="fa fa-check-square"></i></div>';
                        else
                            return '<div class="isActivated pointer" data-EvaluationId="' +
                                data.record.EvaluationId + '"><i class="fa fa-square-o"></i></div>';
                    }
                },
                IsDeleted: {
                    title: 'حذف&nbsp;شده',
                    sorting: false,
                    //create: false,
                    options: {
                        true: 'بله',
                        false: 'خیر'
                    },
                    input: function (data) {
                        if (data.record != undefined) { //if (data.record != '') {
                            if (data.record.IsDeleted == true) {
                                return '<select id="Edit-IsDeleted" name="IsDeleted">' +
                                    '<option value="true" selected>بله</option>' +
                                    '<option value="false">خیر</option>' +
                                    '</select>';
                            }
                            else {
                                return '<select id="Edit-IsDeleted" name="IsDeleted">' +
                                    '<option value="true">بله</option>' +
                                    '<option value="false" selected>خیر</option>' +
                                    '</select>';
                            }
                        }
                        else {
                            return '<select id="Edit-IsDeleted" name="IsDeleted">' +
                                '<option value="true">بله</option>' +
                                '<option value="false" selected>خیر</option>' +
                                '</select>';
                        }
                    },
                    display: function (data) {
                        if (data.record.IsDeleted)
                            return '<div class="isDeleted" data-EvaluationId="' + data.record.EvaluationId + '"><i class="fa fa-check-square"></i></div>';
                        else
                            return '<div class="isDeleted" data-EvaluationId="' + data.record.EvaluationId + '"><i class="fa fa-square-o"></i></div>';
                    }
                },

            },
            formCreated: function (event, data) {
                 data.form.find('input[name="EvaluationSubjectId"]').addClass('validate[required]');
                data.form.find('input[name="PPlanDate"]').addClass('validate[required]');
                
                data.form.validationEngine();

                 $('#Edit-PPlanDate').MdPersianDateTimePicker({
                    format: 'DD/MM/YYYY',
                    EnableTimePicker: false
                });



                $('.ui-dialog-titlebar-close').contents().filter(function () {
                    return this.nodeType === 3;
                }).remove();


                $(".jtable-dialog-form .jtable-input-field-container").each(function () {
                    var block = $(this);
                    block.addClass('col col-md-6 col-sm-12 col-xs-12');
                });


                $(".jtable-dialog-form :input").each(function () {
                    var input = $(this);
                    input.addClass('form-control input-sm');
                });


                var formName = '';
                if (data.formType == 'create')
                    formName = 'create';
                else
                    formName = 'edit';

                

                $('#jtable-' + formName + '-form select').chosen({
                    placeholder_text_single: ' ',
                    placeholder_text_multiple: ' ',
                    rtl: rtl
                });


                if (formName == 'edit') {

                    $('form.jtable-dialog-form div.jtable-input-field-container:nth-child(3) div.jtable-input-label').append('<i class="fa fa-exclamation-circle" aria-hidden="true"  data-toggle="tooltip" title="جدا کننده ویرگول است.">&nbsp;</i>');
                    $('form.jtable-dialog-form div.jtable-input-field-container:nth-child(7) div.jtable-input-label').append('<i class="fa fa-exclamation-circle" aria-hidden="true"  data-toggle="tooltip" title="جدا کننده ویرگول است.">&nbsp;</i>');
                    $('form.jtable-dialog-form div.jtable-input-field-container:nth-child(9) div.jtable-input-label').append('<i class="fa fa-exclamation-circle" aria-hidden="true"  data-toggle="tooltip" title="جدا کننده ویرگول است.">&nbsp;</i>');

                    $('#Edit-StateId').chosen({
                        placeholder_text_single: ' ',
                        placeholder_text_multiple: ' ',
                        search_contains: true,
                        max_shown_results: numberOfChosenItemsShow,
                        rtl: rtl
                    });
                    $('#Edit-StateId').val(data.record.StateId + '').trigger("chosen:updated");


                    $('#Edit-CityId').chosen({
                        placeholder_text_single: ' ',
                        placeholder_text_multiple: ' ',
                        search_contains: true,
                        max_shown_results: numberOfChosenItemsShow,
                        rtl: rtl
                    });
                    $('#Edit-CityId').val(data.record.CityId + '').trigger("chosen:updated");


                    $('#Edit-ZoneId').chosen({
                        placeholder_text_single: ' ',
                        placeholder_text_multiple: ' ',
                        search_contains: true,
                        max_shown_results: numberOfChosenItemsShow,
                        rtl: rtl
                    });


                    $('#Edit-ZoneId').val(data.record.ZoneId + '').trigger("chosen:updated");


                    $('#Edit-IsActivated').chosen({
                        placeholder_text_single: ' ',
                        placeholder_text_multiple: ' ',
                        search_contains: true,
                        max_shown_results: numberOfChosenItemsShow,
                        rtl: rtl
                    });
                    $('#Edit-IsActivated').val(data.record.IsActivated + '').trigger("chosen:updated");

                    $('#Edit-IsDeleted').chosen({
                        placeholder_text_single: ' ',
                        placeholder_text_multiple: ' ',
                        search_contains: true,
                        max_shown_results: numberOfChosenItemsShow,
                        rtl: rtl
                    });
                    $('#Edit-IsDeleted').val(data.record.IsDeleted + '').trigger("chosen:updated");
                }
                else
                    if (formName == 'create') {

                        $('form.jtable-dialog-form div.jtable-input-field-container:nth-child(2) div.jtable-input-label').append('<i class="fa fa-exclamation-circle" aria-hidden="true" data-toggle="tooltip" title="جدا کننده ویرگول است.">&nbsp;</i>');
                        $('form.jtable-dialog-form div.jtable-input-field-container:nth-child(6) div.jtable-input-label').append('<i class="fa fa-exclamation-circle" aria-hidden="true"  data-toggle="tooltip" title="جدا کننده ویرگول است.">&nbsp;</i>');
                        $('form.jtable-dialog-form div.jtable-input-field-container:nth-child(8) div.jtable-input-label').append('<i class="fa fa-exclamation-circle" aria-hidden="true"  data-toggle="tooltip" title="جدا کننده ویرگول است.">&nbsp;</i>');

                        $('#Edit-StateId').chosen({
                            placeholder_text_single: ' ',
                            placeholder_text_multiple: ' ',
                            search_contains: true,
                            max_shown_results: numberOfChosenItemsShow,
                            rtl: rtl
                        });

                        $('#Edit-StateId').val('').trigger("chosen:updated");

                        $('#Edit-StateId').trigger("chosen:updated");

                        $('#Edit-StateId').trigger("chosen:updated");

                        $('#Edit-CityId').chosen({
                            placeholder_text_single: ' ',
                            placeholder_text_multiple: ' ',
                            search_contains: true,
                            max_shown_results: numberOfChosenItemsShow,
                            rtl: rtl
                        });

                        $('#Edit-CityId').val('').trigger("chosen:updated");

                        $('#Edit-CityId').trigger("chosen:updated");

                        $('#Edit-CityId').trigger("chosen:updated");

                        $('#Edit-ZoneId').chosen({
                            placeholder_text_single: ' ',
                            placeholder_text_multiple: ' ',
                            search_contains: true,
                            max_shown_results: numberOfChosenItemsShow,
                            rtl: rtl
                        });

                        $('#Edit-ZoneId').val('').trigger("chosen:updated");

                        $('#Edit-ZoneId').trigger("chosen:updated");

                        $('#Edit-ZoneId').trigger("chosen:updated");

                        $('#Edit-IsActivated').chosen({
                            placeholder_text_single: ' ',
                            placeholder_text_multiple: ' ',
                            search_contains: true,
                            max_shown_results: numberOfChosenItemsShow,
                            rtl: rtl
                        });
                        $('#Edit-IsActivated').trigger("chosen:updated");

                        $('#Edit-IsDeleted').chosen({
                            placeholder_text_single: ' ',
                            placeholder_text_multiple: ' ',
                            search_contains: true,
                            max_shown_results: numberOfChosenItemsShow,
                            rtl: rtl
                        });
                        $('#Edit-IsDeleted').trigger("chosen:updated");

                    }


            },
            formSubmitting: function (event, data) {
                var validate = data.form.validationEngine('validate');
                return validate;
            },
            formClosed: function (event, data) {
                data.form.validationEngine('hide');
                data.form.validationEngine('detach');
            },
            selectionChanged: function () {

            },
            recordAdded: function (event, data) {


            },
            recordUpdated: function (event, data) {

            },
            recordDeleted: function (event, data) {

            },
            recordsLoaded(event, data) {

                var isResponsiveList = $.cookie("IsResponsiveList");

                if (isResponsiveList == "") {

                    if ($('.jtable').data('basictable') != null)
                        $('.jtable').basictable('destroy');

                    $('.jtable').basictable({

                        breakpoint: 1024
                    });
                }
                else
                    if (isResponsiveList == 'True') {
                        if ($('.jtable').data('basictable') != null)
                            $('.jtable').basictable('destroy');

                        $('.jtable').basictable({
                            breakpoint: 2000
                        });

                        $('div.jtable-main-container').css('width', '100%');
                        $('div.jtable-main-container').css('display', 'inline-block');

                    }
                    else
                        if (isResponsiveList == 'False') {
                            $('.jtable').css('overflow-x', 'scroll');
                            $('.jtable').css('width', 'inherit');
                            $('div.jtable-main-container').css('display', 'inline-block');
                        }

                var $selectedRows = $('#listContainer').jtable('selectedRows');
                if ($selectedRows.length > 0) {
                    $selectedRows.click();
                }
            }


        });

       $('#listContainer').jtable('load');
       $('#listContainer').find(".jtable tbody #Edit-FundName").css("cssText", "background-color:red !important; color:white !important;");
          

        var isResponsiveList = $.cookie("IsResponsiveList");

        if (isResponsiveList == 'True')
            $('.jtable-toolbar-item:nth-child(1) .jtable-toolbar-item-text').prepend('<div style="display: inline-block;vertical-align: middle;line-height: 0;"><i class="fa fa-toggle-on"></i>&nbsp;&nbsp;</div>');
        else
            $('.jtable-toolbar-item:nth-child(1) .jtable-toolbar-item-text').prepend('<div style="display: inline-block;vertical-align: middle;line-height: 0;"><i class="fa fa-toggle-off"></i>&nbsp;&nbsp;</div>');


        $('body').on('click', '.isActivated', function () {
            
            var _this = $(this);
            var evaluationId = _this.attr('data-EvaluationId');

            $.ajax({
                cache: false,
                type: "Post",
                url: "/AdminTeniaco/EvaluationCategoriesManagement/ToggleActivationEvaluations",

                data: { 'evaluationId': evaluationId },

                success: function (result) {
                    if (result.Result == "OK") {

                        $('#listContainer').jtable('load');
                        
                    }
                    else
                        if (result.Result == "ERROR") {
                            $('#my-warning-modal').find('.modal-title').html('خطا');
                            $('#my-warning-modal').find('#error').html('خطا');
                            $('#my-warning-modal').modal("show");
                        }
                }

            });
        });

        $('body').on('click', '.isDeleted', function () {
            
            var _this = $(this);
            var evaluationId = _this.attr('data-EvaluationId');

            $.ajax({
                cache: false,
                type: "Post",
                url: "/AdminTeniaco/EvaluationCategoriesManagement/TemporaryDeleteEvaluations",

                data: { 'evaluationId': evaluationId },

                success: function (result) {
                    if (result.Result == "OK") {

                           $('#listContainer').jtable('load', {
                                currentPage: $('#listContainer').jtable('getCurrentPage')
                            });

                    }
                    else
                        if (result.Result == "ERROR") {
                            $('#my-warning-modal').find('.modal-title').html('خطا');
                            $('#my-warning-modal').find('#error').html('خطا');
                            $('#my-warning-modal').modal("show");
                        }
                },

            });
        });
         $('body').on('click', '.evalCals', function (e) {
            
            
            var _this = $(this);
            var id = _this.attr('data-EvaluationId');
            window.open("/AdminTeniaco/EvaluationCategoriesManagement/Index?EvalId=" + id, '_blank').focus();

            
        });
        $('#btnSearch').click(function (e) {
            e.preventDefault();

            //var txtAgencyName = $('#txtAgencyName').val();
            //var slcStateId = $('#slcStateId').val();
            //var slcCityId = $('#slcCityId').val();
            //var slcZoneId = $('#slcZoneId').val();


            //if (
            //    (txtAgencyName != null) &&
            //    (slcStateId != null) &&
            //    (slcCityId != null) &&
            //    (slcZoneId != null)) {

            //    $('#listContainer').jtable('load', {
            //        'AgencyName': txtAgencyName,
            //        'StateId': slcStateId,
            //        'CityId': slcCityId,
            //        'ZoneId': slcZoneId,
            //    });

            //}
            //else {

            //    $('#listContainer').jtable('load');

            //}
        });

        $('#btnReload').click(function (e) {
            $('#txtAgencyName').val(null);
            $('#slcStateId').val(null);
            $('#slcCityId').val(null);
            $('#slcZoneId').val(null);

            e.preventDefault();
            $('#btnSearch').click();

        });

        $('#btnReset').click(function (e) {
            $('#txtAgencyName').val(null);
            $('#slcStateId').val(null);
            $('#slcCityId').val(null);
            $('#slcZoneId').val(null);

            e.preventDefault();
        });
    });




</script>