@using System.Collections.Generic
@using System.Linq
@using VM.Console;
@using Services.Xml.Entities;

@model LoginVM

@{
    bool showCaptcha = false;
    if (ViewData["ShowCaptcha"] != null)
    {
        showCaptcha = (bool)ViewData["ShowCaptcha"];
    }

    Layout = "_" + "LoginLayout";
    ViewData["Title"] = "PageTitle";
    string ReturnUrl = ViewData["ReturnUrl"] as string;
}

@section head {
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    LoginFormTitle
                    @*ورود هاست*@
                </h3>
                <button id="btnBackPage" class="btn btn-primary" name="btnBackPage" data-back-url="/fa/home/Index"
                        data-toggle="tooltip" data-placement="top"
                        title="بازگشت">
                        <i class="fa fa-arrow-left"></i>
                </button>
            </div>
            <div class="panel-body">
                <form data-ajax-begin="OnBegin" data-ajax-complete="OnComplete"
                      data-ajax-failure="OnFailed" data-ajax-success="OnSuccess"
                      data-ajax="true" data-ajax-method="POST">
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <div class="form-group">
                            @{
                                <div id='error-alert' class="form-group alert alert-danger">
                                </div>
                            }
                        </div>
                        <div class="form-group">
                            UserName
                            <input asp-for="UserName" class="form-control input-sm"
                                   placeholder="نام کاربری" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            Password
                            <input asp-for="Password" class="form-control input-sm"
                                   placeholder="رمز" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label id="lblRememberMe" asp-for="RememberMe">
                                    <input asp-for="RememberMe" class="input-sm" />
                                    RememberMe
                                </label>
                            </div>
                        </div>
                        @{
                            if (showCaptcha)
                            {
                                <div class="form-group">
                                    WriteCaptchaCode
                                    <input id="txtCaptchaCode" name="txtCaptchaCode" class="form-control input-sm"
                                           placeholder="کد را وارد کنید" />
                                    <div id="captchaParentBlock">
                                        <img src="/Home/GetCaptchaImage" class="captcha" />
                                        <i class="fa fa-2x fa-repeat reloadCaptcha pointer">&nbsp;</i>
                                    </div>
                                </div>
                            }
                        }
                        <div class="form-group col col-md-12 col-lg-12 col-xs-12 col-sm-12">
                            <button class="btn btn-primary btn-block input-sm" type="submit">
                                Submit
                            </button>
                        </div>
                        <div class="form-group col col-md-12 col-lg-12 col-xs-12 col-sm-12">
                            <a class="btn btn-default btn-block btn-sm" id="aRegister" href="/fa/home/Register">
                                RegisterNewUser
                            </a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('#error-alert').hide(100);
        });

        function OnBegin() {
            $('#error-alert').hide(500);

            if ($("#txtCaptchaCode").length)
                if ($("#txtCaptchaCode").val() == '') {
                    $('#my-warning-modal').find('.modal-title').html('خطا');
                    $('#my-warning-modal').find('#error').html('کد اشتباه است');
                    $('#my-warning-modal').modal("show");
                    return false;
                }

            return true;
        }

        function OnSuccess(response, status, xhr) {
            debugger;
            if (response.Result == 'OK') {
                $('#error-alert').removeClass('alert-danger');
                $('#error-alert').addClass('alert-success');
                window.setTimeout(function () {
                    window.location.href = response.ReturnUrl;
                }, 2000);
            }
            else {
                if (response.ShowCaptcha != null) {
                    if (response.ShowCaptcha != undefined) {
                        if (response.ShowCaptcha == true) {
                            window.setTimeout(function () {
                                window.location.reload();
                            }, 3000);
                        }
                    }
                }
                $('#error-alert').removeClass('alert-success');
                $('#error-alert').addClass('alert-danger');
            }
            $("html, body").animate({ scrollTop: 0 }, "slow");
            $('#error-alert').show(1000);
            $('#error-alert').html(response.Message);
            $('#error-alert').show(500);
        }

        function OnComplete() {
            clearValidationSummary();
        };

        function OnFailed(context) {
            debugger;
            $('#error-alert').removeClass('alert-success');
            $('#error-alert').addClass('alert-danger');
            $('#error-alert').html(context.Message);
            $('#error-alert').show(500);
        };
    </script>
}