@using VM.Console;

@model UsersConfigsVM

<form data-ajax-begin="OnBegin" data-ajax-complete="OnComplete"
      data-ajax-failure="OnFailed" data-ajax-success="OnSuccess"
      data-ajax="true" data-ajax-method="POST">
    @Html.AntiForgeryToken()
    <div class="form-group col col-md-12">
        @{
            <div id='error-alert' class="form-group alert alert-danger">
            </div>
        }
    </div>
    <div class="row">
        <div class="form-group col col-md-4 col-lg-4 col-xs-6 col-sm-4">
            <div>
                <label data-toggle="tooltip" data-placement="top"
                       title="نمایش لیست جدول داده ها متناسب با صفحه">
                    نمایش لیست
                </label>
            </div>
            <select asp-for="IsResponsiveList" class="form-control input-sm" id="IsResponsiveList" name="IsResponsiveList"
                    placeholder="نمایش لیست">
                <option value="">
                    اتوماتیک
                </option>
                <option value="True">
                    نمایش سطری هر رکورد در یک خط
                </option>
                <option value="False">
                    نمایش ستونی هر رکورد در یک خط
                </option>
            </select>
        </div>
        <div class="form-group col col-md-4 col-lg-4 col-xs-6 col-sm-4">
            <label>
                &nbsp;
            </label>
            <button class="form-control col col-md-2 btn btn-default input-sm" type="submit">
                ارسال
            </button>
        </div>
    </div>
</form>