<div id="searchBlock">
    <div class="row">
        <div class="col col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <div>
                <label>
                    دامنه
                </label>
            </div>
            <input class="form-control input-sm" id="txtDomainNameSearch" name="txtDomainNameSearch"
                   placeholder="دامنه" />
        </div>
        <div class="col col-md-4 col-xs-12 col-sm-12 col-lg-4">
            <div class="empty-block">&nbsp;</div>
            <button id="btnSearch" name="btnSearch" class="btn btn-default input-sm">
                جستجو
            </button>
            <button id="btnReload" name="btnReload" class="btn btn-default input-sm" data-toggle="tooltip" data-placement="top"
                    title="بارگذاری مجدد">
                <i class="fa fa-refresh"></i>
            </button>
            <button id="btnReset" name="btnReset" class="btn btn-default input-sm" data-toggle="tooltip" data-placement="top"
                    title="پاک کردن فرم">
                <i class="fa fa-undo"></i>
            </button>
        </div>
        <div class="col col-md-2 col-xs-2 col-sm-2 col-lg-2">
            &nbsp;
        </div>
    </div>
</div>
<hr class="full-splitter" />
<div id="listContainer"></div>
