<script type="text/javascript">

    $(document).ready(function () {

        $('#searchBlock').hide(1000);

        
        var districtId = districtsList.DistrictId;

        $('#listContainer').jtable({
            title: 'فیلم/عکس', toolbarType: 'both',
            paging: true,
            pageSize: 10, selecting: true,
            sorting: true,
            actions: {
                listAction: '/AdminPublic/DistrictsMediaManagement/GetListOfDistrictFiles',
                updateAction: '/AdminPublic/DistrictsMediaManagement/UpdateDistrictFiles',
                deleteAction: '/AdminPublic/DistrictsMediaManagement/CompleteDeleteDistrictFiles'
            },
            toolbar: {
                items: [
                    {
                        icon: '',
                        text: 'تغییر نمایش',
                        click: function () {
                            $.ajax({
                                cache: false,
                                type: "Post",
                                url: '/Admin/AdminPanel/ChangeViewMode',
                                success: function (result) {
                                    if (result.Result == "OK") {
                                        window.setTimeout(function () {
                                            location.reload(true);
                                        }, 500);
                                    }
                                    else
                                        if (result.Result == "ERROR") {
                                            alert('error');
                                        }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                }
                            });
                        },
                    },
                    {
                        icon: '/images/add.png',
                        text: 'افزودن',
                        click: function () {
                            window.location.href = '/AdminPublic/DistrictsMediaManagement/AddToDistrictFiles/' + districtId
                        }
                    }]

            },
            fields: {
                DistrictFileId: {
                    key: true,
                    list: false
                },
                DistrictFileTitle: {
                    title: 'عنوان',
                    sorting: false,
                },
                DistrictFilePath: {
                    title: 'فایل',
                    sorting: false,
                    edit: false,
                    display: function (data) {
                        
                        switch (data.record.DistrictFileExt) {
                            case ".jpeg":
                            case ".jpg":
                            case ".png":
                            case ".gif":
                            case ".bmp":
                                return '<div style="position: relative; display: inline-block;">' +
                                    '<a class="fancybox mediaThumbImage " href="/Files/DistrictFiles/' + domainName + '/' +
                                    data.record.DistrictId + '/Media/' + data.record.DistrictFilePath + '" data-fancybox-group="gallery" ' +
                                      'title=""><img src="/Files/DistrictFiles/' + domainName + '/' +
                                    data.record.DistrictId + '/Media/thumb_' + data.record.DistrictFilePath + '" alt="" ' +
                                    'data-caption="' + data.record.DistrictFileTitle + '" data-url="#" /></a>' + '</div>'
                                break;
                            case ".mp4":
                                return '<div class="mediaThumbImage pointer video" data-video-url="/Files/DistrictFiles/' + domainName + '/' +
                                    data.record.DistrictId + '/Media/' + data.record.DistrictFilePath + '"><img src="/images/Video.png" class="" /></div>';
                                break;
                        }
                    }
                },
                DistrictFileOrder: {
                    title: 'مرتب&nbsp;سازی',
                    sorting: false,
                },
                UserCreatorName: {
                    title: 'ایجاد&nbsp;کننده',
                    sorting: false,
                    create: false,
                    edit: false,
                    //list: false
                },
                IsActivated: {
                    title: 'فعال&nbsp;/&nbsp;غیر&nbsp;فعال',
                    sorting: false,
                    edit: false,
                    options: {
                        true: 'بله',
                        false: 'خیر'
                    },
                    display: function (data) {

                        if (data.record.IsActivated)
                            return '<div class="isActivated pointer" data-DistrictFileId="' +
                                data.record.DistrictFileId + '"><i class="fa fa-check-square"></i></div>';
                        else
                            return '<div class="isActivated pointer" data-DistrictFileId="' +
                                data.record.DistrictFileId + '"><i class="fa fa-square-o"></i></div>';
                    }
                },
                IsDeleted: {
                    title: 'حذف&nbsp;شده',
                    sorting: false,
                    edit: false,
                    options: {
                        true: 'بله',
                        false: 'خیر'
                    },
                    display: function (data) {

                        if (data.record.IsDeleted)
                            return '<div class="isDeleted" data-DistrictFileId="' + data.record.DistrictFileId + '"><i class="fa fa-check-square"></i></div>';
                        else
                            return '<div class="isDeleted" data-DistrictFileId="' + data.record.DistrictFileId + '"><i class="fa fa-square-o"></i></div>';
                    }
                },
            },
            formCreated: function (event, data) {
                $('.ui-dialog-titlebar-close').contents().filter(function () {
                    return this.nodeType === 3;
                }).remove();
                      //$('.ui-dialog-titlebar-close').html('X');

                $(".jtable-dialog-form .jtable-input-field-container").each(function () {
                    var block = $(this);
                    block.addClass('col col-md-6 col-sm-12 col-xs-12');
                });

                $(".jtable-dialog-form :input").each(function () {
                    var input = $(this);
                    input.addClass('form-control input-sm');
                });
            },
            formSubmitting: function (event, data) {

            },
            formClosed: function (event, data) {

            },
            selectionChanged: function () {

            },
            recordAdded: function (event, data) {


            },
            recordUpdated: function (event, data) {

            },
            recordDeleted: function (event, data) {

            },
            recordsLoaded(event, data) {

                var isResponsiveList = $.cookie("IsResponsiveList");

                if (isResponsiveList == "") {

                    if ($('.jtable').data('basictable') != null)
                        $('.jtable').basictable('destroy');

                    
                    $('.jtable').basictable({
                        breakpoint: 1024
                    });


                }
                else
                    if (isResponsiveList == 'True') {
                        if ($('.jtable').data('basictable') != null)
                            $('.jtable').basictable('destroy');

                        $('.jtable').basictable({
                            breakpoint: 2000
                        });

                        $('div.jtable-main-container').css('width', '100%');
                        $('div.jtable-main-container').css('display', 'inline-block');
                        
                    }
                    else
                        if (isResponsiveList == 'False') {
                            $('.jtable').css('overflow-x', 'scroll');
                            $('.jtable').css('width', 'inherit');
                            $('div.jtable-main-container').css('display', 'inline-block');
                        }

                var $selectedRows = $('#listContainer').jtable('selectedRows');
                if ($selectedRows.length > 0) {
                    $selectedRows.click();
                }
            }
        });

        $('#listContainer').jtable('load', {
            'DistrictId': districtId,
        });

        var isResponsiveList = $.cookie("IsResponsiveList");

        if (isResponsiveList == 'True')
            $('.jtable-toolbar-item:nth-child(1) .jtable-toolbar-item-text').prepend('<div style="display: inline-block;vertical-align: middle;line-height: 0;"><i class="fa fa-toggle-on"></i>&nbsp;&nbsp;</div>');
        else
            $('.jtable-toolbar-item:nth-child(1) .jtable-toolbar-item-text').prepend('<div style="display: inline-block;vertical-align: middle;line-height: 0;"><i class="fa fa-toggle-off"></i>&nbsp;&nbsp;</div>');




        $('body').on('click', '.isActivated', function () {
            
            var _this = $(this);
            var districtFileId = _this.attr('data-DistrictFileId');

            $.ajax({
                cache: false,
                type: "Post",
                url: "/AdminPublic/DistrictsMapsManagement/ToggleActivationDistrictFiles",

                data: { 'DistrictFileId': districtFileId },

                success: function (result) {
                    if (result.Result == "OK") {

                        var txtDistrictFileTitle = $('#txtDistrictFileTitle').val();

                        if ((txtDistrictFileTitle != null)) {

                            $('#listContainer').jtable('load', {
                                currentPage: $('#listContainer').jtable('getCurrentPage'),
                                'DistrictId': districtId,
                                'DistrictFileTitle': txtDistrictFileTitle,
                            });

                        }
                        else {

                            $('#listContainer').jtable('load', {
                                currentPage: $('#listContainer').jtable('getCurrentPage'),
                                'DistrictId': districtId,
                            });

                        }
                    }
                    else
                        if (result.Result == "ERROR") {
                            $('#my-warning-modal').find('.modal-title').html('خطا');
                            $('#my-warning-modal').find('#error').html('خطا');
                            $('#my-warning-modal').modal("show");
                        }
                },
            });
        });

        $('body').on('click', '.isDeleted', function () {
            
            var _this = $(this);
            var districtFileId = _this.attr('data-DistrictFileId');

            $.ajax({
                cache: false,
                type: "Post",
                url: "/AdminPublic/DistrictsMapsManagement/TemporaryDeleteDistrictFiles",

                data: { 'DistrictFileId': districtFileId },

                success: function (result) {
                    if (result.Result == "OK") {

                        var txtDistrictFileTitle = $('#txtDistrictFileTitle').val();

                        if ((txtDistrictFileTitle != null)) {

                            $('#listContainer').jtable('load', {
                                currentPage: $('#listContainer').jtable('getCurrentPage'),
                                'DistrictId': districtId,
                                'DistrictFileTitle': txtDistrictFileTitle,
                            });

                        }
                        else {

                            $('#listContainer').jtable('load', {
                                currentPage: $('#listContainer').jtable('getCurrentPage'),
                                'DistrictId': districtId,
                            });

                        }
                    }
                    else
                        if (result.Result == "ERROR") {
                            $('#my-warning-modal').find('.modal-title').html('خطا');
                            $('#my-warning-modal').find('#error').html('خطا');
                            $('#my-warning-modal').modal("show");
                        }
                },
            });
        });

        $('#btnSearch').click(function (e) {
            e.preventDefault();

            var txtDistrictFileTitle = $('#txtDistrictFileTitle').val();

            if ((txtDistrictFileTitle != null)) {

                $('#listContainer').jtable('load', {
                    'DistrictId': districtId,
                    'DistrictFileTitle': txtDistrictFileTitle,
                });

            }
            else {

                $('#listContainer').jtable('load', {
                    'DistrictId': districtId,
                });

            }
        });

        $('#btnReload').click(function (e) {
            $('#txtDistrictFileTitle').val(null);

            e.preventDefault();
            $('#btnSearch').click();

        });

        $('#btnReset').click(function (e) {
            $('#txtDistrictFileTitle').val(null);

            e.preventDefault();
        });



        $('body').on('click', '.video', function (e) {
            debugger;
            e.preventDefault();
            var _this = $(this);
            var videoUrl = _this.attr('data-video-url');

            $('#playerBlock').html('<div class="myVideo w-100" style="height:400px;" id="my_video" oncontextmenu="return false;"' +
                'data-video="' + videoUrl + '" ' +
                'data-poster="/images/negativeLogoPlay.png"' +
                'data-type="video/mp4"></div>');

            var vid = $('#my_video').RTOP_VideoPlayer({
                showFullScreen: true,
                showTimer: true,
                showSoundControl: true
            });

            $('#video-player-modal').modal("show");
        });
    });


</script>