<script type="text/javascript">

    $(document).ready(function() {

        $('#listContainer').jtable({
            //messages: persianMessages,
            title: 'لیست بنر ها', toolbarType: 'both',
            paging: true,
            pageSize: 10, selecting: true,
            //selecting: true,
            sorting: true,
            //defaultSorting: 'Name ASC',
            actions: {
                listAction: '/AdminMelkavan/BannersManagement/GetListOfBanners',
                //createAction: '/AdminPublic/CitiesManagement/AddToCities',
                //updateAction: '/AdminPublic/CitiesManagement/UpdateCities',
                deleteAction: '/AdminMelkavan/BannersManagement/CompleteDeleteBanners'
            },
            toolbar: {
                items: [
                    {
                        icon: '',
                        text: 'تغییر نمایش',
                        click: function() {
                            $.ajax({
                                cache: false,
                                type: "Post",
                                url: '/Admin/AdminPanel/ChangeViewMode',
                                success: function(result) {
                                    if (result.Result == "OK") {
                                        window.setTimeout(function() {
                                            location.reload(true);
                                        }, 500);
                                    }
                                    else
                                        if (result.Result == "ERROR") {
                                            alert('error');
                                        }
                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                }
                            });
                        }
                    },
                    {
                        icon: '/images/add.png',
                        text: 'افزودن',
                        click: function() {
                            window.location.href = '/AdminMelkavan/BannersManagement/AddToBanners';
                        }
                    }
                ]
            },
            fields: {
                BannerId: {
                    key: true,
                    list: false
                },
                BannerFilePath: {
                    title: 'فایل',
                    sorting: false,
                    edit: false,
                    display: function(data) {

                        switch (data.record.BannerFileExt) {
                            case ".jpeg":
                            case ".jpg":
                            case ".png":
                            case ".gif":
                            case ".bmp":
                                return '<div style="position: relative; display: inline-block;">' +
                                    '<a class="fancybox mediaThumbImage" href="/Files/BannerFiles/' + domainName + '/' + data.record.BannerId + '/Image/' +
                                    data.record.BannerFilePath+'" data-fancybox-group="gallery" ' +
                                    'title=""><img src="/Files/BannerFiles/' + domainName + '/' +
                                    data.record.BannerId + '/Image/' + data.record.BannerFilePath + '" alt="" ' +
                                    'data-caption="' + data.record.BannerTitle + '" data-url="#" /></a>' + '</div>'
                                break;
                        }
                    }/*fileThumbImage*/
                },
                BannerTitle: {
                    title: 'عنوان',
                    sorting: false,
                },
                BannerFileExt: {
                    title: 'فرمت فایل',
                    sorting: false,
                },
                BannerFileOrder: {
                    title: 'مرتب سازی',
                    sorting: false,
                },
                UserCreatorName: {
                    title: 'ایجاد&nbsp;کننده',
                    sorting: false,
                    create: false,
                    edit: false,
                    //list: false
                },
                IsActivated: {
                    title: 'فعال&nbsp;/&nbsp;غیر&nbsp;فعال',
                    sorting: false,
                    //create: false,
                    options: {
                        true: 'بله',
                        false: 'خیر'
                    },
                    input: function(data) {
                        if (data.record != undefined) { //if (data.record != '') {
                            if (data.record.IsActivated == true) {
                                return '<select id="Edit-IsActivated" name="IsActivated">' +
                                    '<option value="true" selected>بله</option>' +
                                    '<option value="false">خیر</option>' +
                                    '</select>';
                            }
                            else {
                                return '<select id="Edit-IsActivated" name="IsActivated">' +
                                    '<option value="true">بله</option>' +
                                    '<option value="false" selected>خیر</option>' +
                                    '</select>';
                            }
                        }
                        else {
                            return '<select id="Edit-IsActivated" name="IsActivated">' +
                                '<option value="true" selected>بله</option>' +
                                '<option value="false">خیر</option>' +
                                '</select>';
                        }
                    },
                    display: function(data) {
                        debugger;
                        if (data.record.IsActivated)
                            return '<div class="isActivated pointer" data-BannerId="' +
                                data.record.BannerId + '"><i class="fa fa-check-square"></i></div>';
                        else
                            return '<div class="isActivated pointer" data-BannerId="' +
                                data.record.BannerId + '"><i class="fa fa-square-o"></i></div>';
                    }
                },
                IsDeleted: {
                    title: 'حذف&nbsp;شده',
                    sorting: false,
                    //create: false,
                    options: {
                        true: 'بله',
                        false: 'خیر'
                    },
                    input: function(data) {
                        if (data.record != undefined) { //if (data.record != '') {
                            if (data.record.IsDeleted == true) {
                                return '<select id="Edit-IsDeleted" name="IsDeleted">' +
                                    '<option value="true" selected>بله</option>' +
                                    '<option value="false">خیر</option>' +
                                    '</select>';
                            }
                            else {
                                return '<select id="Edit-IsDeleted" name="IsDeleted">' +
                                    '<option value="true">بله</option>' +
                                    '<option value="false" selected>خیر</option>' +
                                    '</select>';
                            }
                        }
                        else {
                            return '<select id="Edit-IsDeleted" name="IsDeleted">' +
                                '<option value="true">بله</option>' +
                                '<option value="false" selected>خیر</option>' +
                                '</select>';
                        }
                    },
                    display: function(data) {
                        if (data.record.IsDeleted)
                            return '<div class="isDeleted" data-BannerId="' + data.record.BannerId + '"><i class="fa fa-check-square"></i></div>';
                        else
                            return '<div class="isDeleted" data-BannerId="' + data.record.BannerId + '"><i class="fa fa-square-o"></i></div>';
                    }
                },
                EditProperty: {
                    title: 'ویرایش',
                    sorting: false,
                    display: function(data) {
                        return '<div class="editBanner pointer" data-BannerId="' + data.record.BannerId + '"><i class="fa fa-edit"></i></div>';
                    }
                }
            },
            formCreated: function(event, data) {

            },
            formSubmitting: function(event, data) {

            },
            formClosed: function(event, data) {

            },
            selectionChanged: function() {

            },
            recordAdded: function(event, data) {


            },
            recordUpdated: function(event, data) {

            },
            recordDeleted: function(event, data) {

            },
            recordsLoaded(event, data) {

                var isResponsiveList = $.cookie("IsResponsiveList");

                if (isResponsiveList == "") {

                    if ($('.jtable').data('basictable') != null)
                        $('.jtable').basictable('destroy');

                    //$('.jtable').basictable({
                    //    breakpoint: 2000
                    //});

                    $('.jtable').basictable({
                        //containerBreakpoint: 1024
                        breakpoint: 1024
                    });

                    //$('div.jtable-main-container').css('display', 'inherit');

                }
                else
                    if (isResponsiveList == 'True') {
                        if ($('.jtable').data('basictable') != null)
                            $('.jtable').basictable('destroy');

                        $('.jtable').basictable({
                            breakpoint: 2000
                        });

                        $('div.jtable-main-container').css('width', '100%');
                        $('div.jtable-main-container').css('display', 'inline-block');

                        //$('.jtable').basictable({
                        //    containerBreakpoint: 800
                        //});
                    }
                    else
                        if (isResponsiveList == 'False') {
                            $('.jtable').css('overflow-x', 'scroll');
                            $('.jtable').css('width', 'inherit');
                            $('div.jtable-main-container').css('display', 'inline-block');
                        }

                var $selectedRows = $('#listContainer').jtable('selectedRows');
                if ($selectedRows.length > 0) {
                    $selectedRows.click();
                }
            }
        });

        $('#listContainer').jtable('load');

        var isResponsiveList = $.cookie("IsResponsiveList");

        if (isResponsiveList == 'True')
            $('.jtable-toolbar-item:nth-child(1) .jtable-toolbar-item-text').prepend('<div style="display: inline-block;vertical-align: middle;line-height: 0;"><i class="fa fa-toggle-on"></i>&nbsp;&nbsp;</div>');
        else
            $('.jtable-toolbar-item:nth-child(1) .jtable-toolbar-item-text').prepend('<div style="display: inline-block;vertical-align: middle;line-height: 0;"><i class="fa fa-toggle-off"></i>&nbsp;&nbsp;</div>');



        $('body').on('click', '.isActivated', function() {
            debugger;
            var _this = $(this);
            var bannerId = _this.attr('data-BannerId');

            $.ajax({
                cache: false,
                type: "Post",
                url: "/AdminMelkavan/BannersManagement/ToggleActivationBanners",

                data: { 'BannerId': bannerId },

                success: function(result) {
                    if (result.Result == "OK") {


                        $('#listContainer').jtable('load', {
                            currentPage: $('#listContainer').jtable('getCurrentPage')
                        });

                    }

                    else
                        if (result.Result == "ERROR") {
                            $('#my-warning-modal').find('.modal-title').html('خطا');
                            $('#my-warning-modal').find('#error').html('خطا');
                            $('#my-warning-modal').modal("show");
                        }
                }

            });
        });



        $('body').on('click', '.isDeleted', function() {
            debugger;
            var _this = $(this);
            var bannerId = _this.attr('data-BannerId');

            $.ajax({
                cache: false,
                type: "Post",
                url: "/AdminMelkavan/BannersManagement/TemporaryDeleteBanners",

                data: { 'BannerId': bannerId },

                success: function(result) {
                    if (result.Result == "OK") {
                        $('#listContainer').jtable('load', {
                            currentPage: $('#listContainer').jtable('getCurrentPage')
                        });

                    }

                    else
                        if (result.Result == "ERROR") {
                            $('#my-warning-modal').find('.modal-title').html('خطا');
                            $('#my-warning-modal').find('#error').html('خطا');
                            $('#my-warning-modal').modal("show");
                        }
                }

            });
        });



        $('body').on('click', '.editBanner', function(e) {
            debugger;
            e.preventDefault();
            var _this = $(this);
            var BannerId = _this.attr('data-BannerId');
            window.location.href = '/AdminMelkavan/BannersManagement/UpdateBanners/' + BannerId;
        });

    });


</script>