<script type="text/javascript">
    $(document).ready(function () {

        $('#searchBlock').hide(1000);

        var EvaluationId = evaluation.EvaluationId;

        $('#listContainer').jtable({
            title: 'لیست دسته بندی های ارزیابی',
            toolbarType: 'both',
            paging: true,
            pageSize: 10,
            selecting: true,
            sorting: true,
            actions: {
                listAction: '/AdminTeniaco/EvaluationCategoriesManagement/GetListOfEvaluationCategories',
                createAction: '/AdminTeniaco/EvaluationCategoriesManagement/AddToEvaluationCategories',
                updateAction: '/AdminTeniaco/EvaluationCategoriesManagement/UpdateEvaluationCategories',
                deleteAction: '/AdminTeniaco/EvaluationCategoriesManagement/CompleteDeleteEvaluationCategories'
            },
            toolbar: {
                items: [
                    {
                        icon: '',
                        text: 'تغییر نمایش',
                        click: function () {
                            $.ajax({
                                cache: false,
                                type: "Post",
                                url: '/Admin/AdminPanel/ChangeViewMode',
                                success: function (result) {
                                    if (result.Result == "OK") {
                                        window.setTimeout(function () {
                                            location.reload(true);
                                        }, 500);
                                    }
                                    else
                                        if (result.Result == "ERROR") {
                                            alert('error');
                                        }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                }
                            });
                        },
                    },
                ]
            },
            fields: {
                EvaluationCategoryId: {
                    key: true,
                    list: false,
                    create: false,
                    edit: false
                },
                EvaluationParentCategoryId: {
                    title: 'نام&nbsp;دسته&nbsp;بندی&nbsp;والد',
                    sorting: false,
                    options: evaluationCategoriesList,
                    display: function (data) {
                        debugger;
                        if (data.record.EvaluationParentCategoryId == null) {
                            return "";
                        } else {
                            debugger;
                            var ParentName = evaluationCategoriesList.find(f => f.Value == data.record.EvaluationParentCategoryId).DisplayText;
                            return ParentName;
                        }
                    }
                },
                EvaluationCategoryTitle: {
                    title: 'نام&nbsp;دسته&nbsp;بندی',
                    sorting: false,
                },
                EvaluationCategoryOrder: {
                    title: 'مرتب&nbsp;سازی',
                    sorting: false
                },
                EvaluationCategoryScore: {
                    title: 'امتیاز',
                    sorting: false,
                },
                UserCreatorName: {
                    title: 'ایجاد&nbsp;کننده',
                    sorting: false,
                    create: false,
                    edit: false,
                    //list: false
                },
                EvaluationQuestions: {
                    title: 'سوالات&nbsp;ارزیابی',
                    sorting: false,
                    edit: false,
                    create: false,
                    display: function (data) {
                        debugger;
                        var array = evaluationCategoriesList.filter(f => f.Data_Parent == data.record.EvaluationCategoryId).filter(f => f.Data_Parent);
                        if (array.length === 0) {
                            return '<div class="EvaluationQuestions pointer" data-EvaluationCategoryId="' + data.record.EvaluationCategoryId + '"><img src="/images/details.png" class="" /><div class="numberCircle" >' + data.record.CountOfEvaluationQuestions + '</div></div>';
                            //return '<img class="EvaluationQuestions pointer" data-EvaluationCategoryId="' + data.record.EvaluationCategoryId + '" src="/images/details.png" />';
                        } else {
                            return '';
                        }
                        return '';
                    }
                },

                IsActivated: {
                    title: 'فعال&nbsp;/&nbsp;غیر&nbsp;فعال',
                    sorting: false,
                    options: {
                        true: 'بله',
                        false: 'خیر'
                    },
                    input: function (data) {
                        if (data.record != undefined) {
                            if (data.record.IsActivated == true) {
                                return '<input type="hidden" id="Edit-EvaluationId" name="EvaluationId" value="' + evaluation.EvaluationId + '" /><select id="Edit-IsActivated" name="IsActivated">' +
                                    '<option value="true" selected>بله</option>' +
                                    '<option value="false">خیر</option>' +
                                    '</select>';
                            }
                            else {
                                return '<input type="hidden" id="Edit-EvaluationId" name="EvaluationId" value="' + evaluation.EvaluationId + '" /><select id="Edit-IsActivated" name="IsActivated">' +
                                    '<option value="true">بله</option>' +
                                    '<option value="false" selected>خیر</option>' +
                                    '</select>';
                            }
                        }
                        else {
                            return '<input type="hidden" id="Edit-EvaluationId" name="EvaluationId" value="' + evaluation.EvaluationId + '" /><select id="Edit-IsActivated" name="IsActivated">' +
                                '<option value="true" selected>بله</option>' +
                                '<option value="false">خیر</option>' +
                                '</select>';
                        }
                    },

                    display: function (data) {
                        if (data.record.IsActivated)
                            return '<div class="isActivated pointer" data-EvaluationCategoryId ="' +
                                data.record.EvaluationCategoryId + '"><i class="fa fa-check-square"></i></div>';
                        else
                            return '<div class="isActivated pointer" data-EvaluationCategoryId ="' +
                                data.record.EvaluationCategoryId + '"><i class="fa fa-square-o"></i></div>';
                    }
                },
                IsDeleted: {
                    title: 'حذف&nbsp;شده',
                    sorting: false,
                    options: {
                        true: 'بله',
                        false: 'خیر'
                    },
                    input: function (data) {
                        if (data.record != undefined) {
                            if (data.record.IsDeleted == true) {
                                return '<select id="Edit-IsDeleted" name="IsDeleted">' +
                                    '<option value="true" selected>بله</option>' +
                                    '<option value="false">خیر</option>' +
                                    '</select>';
                            }
                            else {
                                return '<select id="Edit-IsDeleted" name="IsDeleted">' +
                                    '<option value="true">بله</option>' +
                                    '<option value="false" selected>خیر</option>' +
                                    '</select>';
                            }
                        }
                        else {
                            return '<select id="Edit-IsDeleted" name="IsDeleted">' +
                                '<option value="true">بله</option>' +
                                '<option value="false" selected>خیر</option>' +
                                '</select>';
                        }
                    },
                    display: function (data) {
                        if (data.record.IsDeleted)
                            return '<div class="isDeleted" data-EvaluationCategoryId ="' + data.record.EvaluationCategoryId + '"><i class="fa fa-check-square"></i></div>';
                        else
                            return '<div class="isDeleted" data-EvaluationCategoryId ="' + data.record.EvaluationCategoryId + '"><i class="fa fa-square-o"></i></div>';
                    }
                },

            },
            formCreated: function (event, data) {

                $('.ui-dialog-titlebar-close').contents().filter(function () {
                    return this.nodeType === 3;
                }).remove();


                $(".jtable-dialog-form .jtable-input-field-container").each(function () {
                    var block = $(this);
                    block.addClass('col col-md-6 col-sm-12 col-xs-12');
                });


                $(".jtable-dialog-form :input").each(function () {
                    var input = $(this);
                    input.addClass('form-control input-sm');
                });


                var formName = '';
                if (data.formType == 'create')
                    formName = 'create';
                else
                    formName = 'edit';

                debugger;

                $('#jtable-' + formName + '-form select').chosen({
                    placeholder_text_single: ' ',
                    placeholder_text_multiple: ' ',
                    rtl: rtl
                });

                if (formName == 'edit') {

                    $('#Edit-IsActivated').chosen({
                        placeholder_text_single: ' ',
                        placeholder_text_multiple: ' ',
                        search_contains: true,
                        max_shown_results: numberOfChosenItemsShow,
                        rtl: rtl
                    });
                    $('#Edit-IsActivated').val(data.record.IsActivated + '').trigger("chosen:updated");

                    $('#Edit-IsDeleted').chosen({
                        placeholder_text_single: ' ',
                        placeholder_text_multiple: ' ',
                        search_contains: true,
                        max_shown_results: numberOfChosenItemsShow,
                        rtl: rtl
                    });
                    $('#Edit-IsDeleted').val(data.record.IsDeleted + '').trigger("chosen:updated");
                }
                else
                    if (formName == 'create') {

                        $('#Edit-IsActivated').chosen({
                            placeholder_text_single: ' ',
                            placeholder_text_multiple: ' ',
                            search_contains: true,
                            max_shown_results: numberOfChosenItemsShow,
                            rtl: rtl
                        });
                        $('#Edit-IsActivated').trigger("chosen:updated");

                        $('#Edit-IsDeleted').chosen({
                            placeholder_text_single: ' ',
                            placeholder_text_multiple: ' ',
                            search_contains: true,
                            max_shown_results: numberOfChosenItemsShow,
                            rtl: rtl
                        });
                        $('#Edit-IsDeleted').trigger("chosen:updated");

                    }

            },
            formSubmitting: function (event, data) {
                var validate = data.form.validationEngine('validate');
                return validate;
            },
            formClosed: function (event, data) {
                data.form.validationEngine('hide');
                data.form.validationEngine('detach');
            },
            selectionChanged: function () {

            },
            recordAdded: function (event, data) {
                location.reload();

            },
            recordUpdated: function (event, data) {
                location.reload();
            },
            recordDeleted: function (event, data) {

            },
            recordsLoaded(event, data) {

                var isResponsiveList = $.cookie("IsResponsiveList");

                if (isResponsiveList == "") {

                    if ($('.jtable').data('basictable') != null)
                        $('.jtable').basictable('destroy');

                    $('.jtable').basictable({

                        breakpoint: 1024
                    });
                }
                else
                    if (isResponsiveList == 'True') {
                        if ($('.jtable').data('basictable') != null)
                            $('.jtable').basictable('destroy');

                        $('.jtable').basictable({
                            breakpoint: 2000
                        });

                        $('div.jtable-main-container').css('width', '100%');
                        $('div.jtable-main-container').css('display', 'inline-block');

                    }
                    else
                        if (isResponsiveList == 'False') {
                            $('.jtable').css('overflow-x', 'scroll');
                            $('.jtable').css('width', 'inherit');
                            $('div.jtable-main-container').css('display', 'inline-block');
                        }

                var $selectedRows = $('#listContainer').jtable('selectedRows');
                if ($selectedRows.length > 0) {
                    $selectedRows.click();
                }
            }


        });


        $('#listContainer').jtable('load', {
            'EvaluationId': EvaluationId
        });

        var isResponsiveList = $.cookie("IsResponsiveList");

        if (isResponsiveList == 'True')
            $('.jtable-toolbar-item:nth-child(1) .jtable-toolbar-item-text').prepend('<div style="display: inline-block;vertical-align: middle;line-height: 0;"><i class="fa fa-toggle-on"></i>&nbsp;&nbsp;</div>');
        else
            $('.jtable-toolbar-item:nth-child(1) .jtable-toolbar-item-text').prepend('<div style="display: inline-block;vertical-align: middle;line-height: 0;"><i class="fa fa-toggle-off"></i>&nbsp;&nbsp;</div>');



        $('body').on('click', '.EvaluationQuestions', function (e) {
            debugger;

            var _this = $(this);
            var id = _this.attr('data-EvaluationCategoryId');
            window.open("/AdminTeniaco/EvaluationQuestionsManagement/Index/" + id, '_blank').focus();

        });


        $('body').on('click', '.isActivated', function () {
            var _this = $(this);
            var evaluationCategoryId = _this.attr('data-EvaluationCategoryId');

            $.ajax({
                cache: false,
                type: "Post",
                url: "/AdminTeniaco/EvaluationCategoriesManagement/ToggleActivationEvaluationCategories",

                data: { 'EvaluationCategoryId': evaluationCategoryId },
                success: function (result) {
                    if (result.Result == "OK") {

                        var txtEvaluationCategoryTitle = $('#txtEvaluationCategoryTitle').val();

                        if ((txtEvaluationCategoryTitle != null)) {

                            $('#listContainer').jtable('load', {
                                currentPage: $('#listContainer').jtable('getCurrentPage'),
                                'EvaluationId': EvaluationId
                                //'EvaluationCategoryTitle': txtEvaluationCategoryTitle
                            });

                        }
                        else {

                            $('#listContainer').jtable('load', {
                                currentPage: $('#listContainer').jtable('getCurrentPage'),
                                'EvaluationId': EvaluationId
                            });

                        }
                    }
                    else
                        if (result.Result == "ERROR") {
                            $('#my-warning-modal').find('.modal-title').html('خطا');
                            $('#my-warning-modal').find('#error').html('خطا');
                            $('#my-warning-modal').modal("show");
                        }
                }

            });
        });


        $('body').on('click', '.isDeleted', function () {
            var _this = $(this);
            var evaluationCategoryId = _this.attr('data-EvaluationCategoryId');

            $.ajax({
                cache: false,
                type: "Post",
                url: "/AdminTeniaco/EvaluationCategoriesManagement/TemporaryDeleteEvaluationCategories",

                data: { 'EvaluationCategoryId': evaluationCategoryId },

                success: function (result) {
                    if (result.Result == "OK") {

                        var txtEvaluationCategoryTitle = $('#txtEvaluationCategoryTitle').val();

                        if ((txtEvaluationCategoryTitle != null)) {

                            $('#listContainer').jtable('load', {
                                currentPage: $('#listContainer').jtable('getCurrentPage'),
                                'EvaluationId': EvaluationId
                                //'EvaluationCategoryTitle': txtEvaluationCategoryTitle
                            });
                        }
                        else {

                            $('#listContainer').jtable('load', {
                                currentPage: $('#listContainer').jtable('getCurrentPage'),
                                'EvaluationId': EvaluationId
                            });

                        }
                    }
                    else
                        if (result.Result == "ERROR") {
                            $('#my-warning-modal').find('.modal-title').html('خطا');
                            $('#my-warning-modal').find('#error').html('خطا');
                            $('#my-warning-modal').modal("show");
                        }
                },

            });
        });


        $('#btnSearch').click(function (e) {
            e.preventDefault();

            var txtEvaluationCategoryTitle = $('#txtEvaluationCategoryTitle').val();



            if ((txtEvaluationCategoryTitle != null)) {

                $('#listContainer').jtable('load', {
                    'EvaluationCategoryTitle': txtEvaluationCategoryTitle,
                    'EvaluationId': EvaluationId
                });
            }
            else {

                $('#listContainer').jtable('load',{
                    'EvaluationId': EvaluationId
                });

            }
        });


        $('#btnReload').click(function (e) {
            $('#txtEvaluationCategoryTitle').val(null);


            e.preventDefault();
            $('#btnSearch').click();

        });


        $('#btnReset').click(function (e) {
            $('#txtEvaluationCategoryTitle').val(null);
            e.preventDefault();
        });
    });




</script>