<hr class="full-splitter" />
@using VM.Projects
@{
    ConstructionProjectsVM project = new ConstructionProjectsVM();

    if (ViewData["ConstructionProject"] != null)
    {
        project = (ConstructionProjectsVM)ViewData["ConstructionProject"];
    }
}
<div  class="col-12">
     <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-12 col-lg-3 col-xl-3">
            <div>
                عنوان پروژه:
                @Html.Raw(project.ConstructionProjectTitle)
            </div>
        </div>
    </div>
</div>


<div class="x_panel" id="searchBlock">

    <div class="x_content">
        <!-- start accordion -->
        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
                <div id="collapseOne" class="panel-collapse  in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body row">
                        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3">
                            <div class="mx-2">
                                عنوان
                            </div>
                             <input id="initialPlanTitleSearch" name="initialPlanTitle" class="form-control"
                   placeholder="عنوان" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="clearfix"></div>
            <div class="col col-md-4 col-xs-12 col-sm-12 col-lg-4">
                <div class="empty-block">&nbsp;</div>
                <button id="btnSearch" name="btnSearch" class="btn btn-success btn-sm">
                    جستجو
                </button>
                <button id="btnReload" name="btnReload" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top"
                        title="بارگذاری مجدد">
                    <i class="fa fa-refresh"></i>
                </button>
                <button id="btnReset" name="btnReset" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top"
                        title="پاک کردن فرم">
                    <i class="fa fa-undo"></i>
                </button>
            </div>
        </div>
        <!-- end of accordion -->


    </div>
</div>


<hr class="full-splitter" />
<div id="listContainer"></div>


<div class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="Chat-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="height:auto; min-height:50rem;max-height:87rem; overflow:auto;">
            <div class="modal-header justify-content-start">
                <button type="button" class="close" data-dismiss="modal" aria-label="close" style="margin:0px!important"><span aria-hidden="true">&times;</span></button>
                <h4 style="margin:auto;margin-right: inherit" class="ChatHeader">مکاتبه</h4>
            </div>
            <div class="modal-body" style="overflow-y: auto;max-height: 400px;">
                <div class="">
                    <div class="mainMessages">
                    </div>
                </div>

            </div>

            <div class="modal-footer justify-content-start">
            </div>
        </div>
    </div>
</div>