<script type="text/javascript">
    $(document).ready(function () {

        $('#searchBlock').hide(1000);


        $('#listContainer').jtable({
            title: 'لیست ارزیابی',
            toolbarType: 'both',
            paging: true,
            pageSize: 10, selecting: true,
            sorting: true,
            actions: {
                listAction: '/AdminTeniaco/EvaluationsManagement/GetListOfEvaluations',
                createAction: '/AdminTeniaco/EvaluationsManagement/AddToEvaluations',
                updateAction: '/AdminTeniaco/EvaluationsManagement/UpdateEvaluations',
                deleteAction: '/AdminTeniaco/EvaluationsManagement/CompleteDeleteEvaluations'
            },
            toolbar: {
                items: [
                    {
                        icon: '',
                        text: 'تغییر نمایش',
                        click: function () {
                            $.ajax({
                                cache: false,
                                type: "Post",
                                url: '/Admin/AdminPanel/ChangeViewMode',
                                success: function (result) {
                                    if (result.Result == "OK") {
                                        window.setTimeout(function () {
                                            location.reload(true);
                                        }, 500);
                                    }
                                    else
                                        if (result.Result == "ERROR") {
                                            alert('error');
                                        }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                }
                            });
                        },
                    },
                ]
            },
            fields: {
                EvaluationId: {
                    key: true,
                    list: false
                },
                EvaluationSubjectId: {
                    title: 'نام&nbsp;موضوع',
                    sorting: false,
                    options: evaluationSubjectsList,
                },
                EvaluationTitle: {
                    title: 'نام&nbsp;ارزیابی',
                    sorting: false,
                },
                //PlanDate: {
                //    title: 'تاریخ',
                //    sorting: false,
                //    input: function (data) {
                //        if (data.record != undefined) { //if (data.record != '') {
                //            if (data.record.PlanDate != '') {
                //                return '<input class="form-control input-sm" id="Edit-PlanDate" name="PlanDate" autocomplete="off" ' +
                //                    'data-mddatetimepicker="true" onkeydown="return false" data-placement="bottom" ' +
                //                    'data-placeHolderReplacement="PlanDate"' +
                //                    ' placeholder="" ' +
                //                    ' value="' + data.record.PlanDate + '" />';
                //            }
                //            else {
                //                return '<input class="form-control input-sm" id="Edit-PlanDate" name="PlanDate" autocomplete="off" ' +
                //                    'data-mddatetimepicker="true" onkeydown="return false" data-placement="bottom" ' +
                //                    'data-placeHolderReplacement="PlanDate"' +
                //                    ' placeholder="" ' +
                //                    ' />';
                //            }
                //        }
                //        else {
                //            return '<input class="form-control input-sm" id="Edit-PPlanDate" name="PlanDate" autocomplete="off" ' +
                //                'data-mddatetimepicker="true" onkeydown="return false" data-placement="bottom" ' +
                //                'data-placeHolderReplacement="PlanDate"' +
                //                ' placeholder="" ' +
                //                ' />';
                //        }
                //    },
                //    display: function (data) {
                //        debugger;
                //        var dateTime = data.record.PlanDate.split('T')[0];
                //        return dateTime;

                //    }
                //},
                PPlanDate: {
                    title: "تاریخ",
                    input: function (data) {
                        if (data.record != undefined) { //if (data.record != '') {
                            if (data.record.PPlanDate != '') {
                                return '<input class="form-control input-sm" id="Edit-PPlanDate" name="PPlanDate" autocomplete="off" ' +
                                    'data-mddatetimepicker="true" onkeydown="return false" data-placement="bottom" ' +
                                    'data-placeHolderReplacement="PPlanDate"' +
                                    ' placeholder="" ' +
                                    ' value="' + data.record.PPlanDate + '" />';
                            }
                            else {
                                return '<input class="form-control input-sm" id="Edit-PPlanDate" name="PPlanDate" autocomplete="off" ' +
                                    'data-mddatetimepicker="true" onkeydown="return false" data-placement="bottom" ' +
                                    'data-placeHolderReplacement="PPlanDate"' +
                                    ' placeholder="" ' +
                                    ' />';
                            }
                        }
                        else {
                            return '<input class="form-control input-sm" id="Edit-PPlanDate" name="PPlanDate" autocomplete="off" ' +
                                'data-mddatetimepicker="true" onkeydown="return false" data-placement="bottom" ' +
                                'data-placeHolderReplacement="PPlanDate"' +
                                ' placeholder="" ' +
                                ' />';
                        }
                    },
                    display: function (data) {
                        debugger;
                        if (data.record.PPlanDate)
                            return data.record.PPlanDate;
                        else
                            return '';
                    }
                },
                Version: {
                    title: 'ورژن',
                    sorting: false
                },

                UserCreatorName: {
                    title: 'ایجاد&nbsp;کننده',
                    sorting: false,
                    create: false,
                    edit: false,
                    //list: false
                },
                EvaluationCategories: {
                    title: 'دسته&nbsp;بندی&nbsp;ارزیابی',
                    sorting: false,
                    edit: false,
                    create: false,
                    display: function (data) {
                        return '<i class="fa fa-bar-chart fa-2x pointer" data-EvaluationId="' + data.record.EvaluationId + '" id="EvaluationCategories" >&nbsp;</i>';
                    }
                },
                EvaluationTree: {
                    title: 'نمایش&nbsp;درختی&nbsp;ارزیابی',
                    sorting: false,
                    edit: false,
                    create: false,
                    display: function (data) {
                        return '<i class="fa fa-sort-amount-desc fa-2x pointer" data-EvaluationId="' + data.record.EvaluationId + '" id="EvaluationTree" >&nbsp;</i>';
                    }
                },

                IsActivated: {
                    title: 'فعال&nbsp;/&nbsp;غیر&nbsp;فعال',
                    sorting: false,
                    options: {
                        true: 'بله',
                        false: 'خیر'
                    },
                    input: function (data) {
                        if (data.record != undefined) {
                            if (data.record.IsActivated == true) {
                                return '<select id="Edit-IsActivated" name="IsActivated">' +
                                    '<option value="true" selected>بله</option>' +
                                    '<option value="false">خیر</option>' +
                                    '</select>';
                            }
                            else {
                                return '<select id="Edit-IsActivated" name="IsActivated">' +
                                    '<option value="true">بله</option>' +
                                    '<option value="false" selected>خیر</option>' +
                                    '</select>';
                            }
                        }
                        else {
                            return '<select id="Edit-IsActivated" name="IsActivated">' +
                                '<option value="true" selected>بله</option>' +
                                '<option value="false">خیر</option>' +
                                '</select>';
                        }
                    },
                    display: function (data) {
                        debugger;
                        if (data.record.IsActivated)
                            return '<div class="isActivated pointer" data-EvaluationId="' +
                                data.record.EvaluationId + '"><i class="fa fa-check-square"></i></div>';
                        else
                            return '<div class="isActivated pointer" data-EvaluationId="' +
                                data.record.EvaluationId + '"><i class="fa fa-square-o"></i></div>';
                    }
                },
                IsDeleted: {
                    title: 'حذف&nbsp;شده',
                    sorting: false,
                    options: {
                        true: 'بله',
                        false: 'خیر'
                    },
                    input: function (data) {
                        if (data.record != undefined) {
                            if (data.record.IsDeleted == true) {
                                return '<select id="Edit-IsDeleted" name="IsDeleted">' +
                                    '<option value="true" selected>بله</option>' +
                                    '<option value="false">خیر</option>' +
                                    '</select>';
                            }
                            else {
                                return '<select id="Edit-IsDeleted" name="IsDeleted">' +
                                    '<option value="true">بله</option>' +
                                    '<option value="false" selected>خیر</option>' +
                                    '</select>';
                            }
                        }
                        else {
                            return '<select id="Edit-IsDeleted" name="IsDeleted">' +
                                '<option value="true">بله</option>' +
                                '<option value="false" selected>خیر</option>' +
                                '</select>';
                        }
                    },
                    display: function (data) {
                        if (data.record.IsDeleted)
                            return '<div class="isDeleted" data-EvaluationId="' + data.record.EvaluationId + '"><i class="fa fa-check-square"></i></div>';
                        else
                            return '<div class="isDeleted" data-EvaluationId="' + data.record.EvaluationId + '"><i class="fa fa-square-o"></i></div>';
                    }
                },

            },
            formCreated: function (event, data) {
                console.log(data.form);

                $('#Edit-PPlanDate').MdPersianDateTimePicker({
                    format: 'DD/MM/YYYY',
                    EnableTimePicker: false
                });

                $('.ui-dialog-titlebar-close').contents().filter(function () {
                    return this.nodeType === 3;
                }).remove();


                $(".jtable-dialog-form .jtable-input-field-container").each(function () {
                    var block = $(this);
                    block.addClass('col col-md-6 col-sm-12 col-xs-12');
                });


                $(".jtable-dialog-form :input").each(function () {
                    var input = $(this);
                    input.addClass('form-control input-sm');
                });


                var formName = '';
                if (data.formType == 'create')
                    formName = 'create';
                else
                    formName = 'edit';

                debugger;

                $('#jtable-' + formName + '-form select').chosen({
                    placeholder_text_single: ' ',
                    placeholder_text_multiple: ' ',
                    rtl: rtl
                });


                if (formName == 'edit') {


                    $('#Edit-IsActivated').chosen({
                        placeholder_text_single: ' ',
                        placeholder_text_multiple: ' ',
                        search_contains: true,
                        max_shown_results: numberOfChosenItemsShow,
                        rtl: rtl
                    });
                    $('#Edit-IsActivated').val(data.record.IsActivated + '').trigger("chosen:updated");

                    $('#Edit-IsDeleted').chosen({
                        placeholder_text_single: ' ',
                        placeholder_text_multiple: ' ',
                        search_contains: true,
                        max_shown_results: numberOfChosenItemsShow,
                        rtl: rtl
                    });
                    $('#Edit-IsDeleted').val(data.record.IsDeleted + '').trigger("chosen:updated");
                }
                else
                    if (formName == 'create') {

                        $('#Edit-IsActivated').chosen({
                            placeholder_text_single: ' ',
                            placeholder_text_multiple: ' ',
                            search_contains: true,
                            max_shown_results: numberOfChosenItemsShow,
                            rtl: rtl
                        });
                        $('#Edit-IsActivated').trigger("chosen:updated");

                        $('#Edit-IsDeleted').chosen({
                            placeholder_text_single: ' ',
                            placeholder_text_multiple: ' ',
                            search_contains: true,
                            max_shown_results: numberOfChosenItemsShow,
                            rtl: rtl
                        });
                        $('#Edit-IsDeleted').trigger("chosen:updated");

                    }


            },
            formSubmitting: function (event, data) {
                var validate = data.form.validationEngine('validate');
                return validate;
            },
            formClosed: function (event, data) {
                data.form.validationEngine('hide');
                data.form.validationEngine('detach');
            },
            selectionChanged: function () {

            },
            recordAdded: function (event, data) {


            },
            recordUpdated: function (event, data) {

            },
            recordDeleted: function (event, data) {

            },
            recordsLoaded(event, data) {

                var isResponsiveList = $.cookie("IsResponsiveList");

                if (isResponsiveList == "") {

                    if ($('.jtable').data('basictable') != null)
                        $('.jtable').basictable('destroy');

                    $('.jtable').basictable({

                        breakpoint: 1024
                    });
                }
                else
                    if (isResponsiveList == 'True') {
                        if ($('.jtable').data('basictable') != null)
                            $('.jtable').basictable('destroy');

                        $('.jtable').basictable({
                            breakpoint: 2000
                        });

                        $('div.jtable-main-container').css('width', '100%');
                        $('div.jtable-main-container').css('display', 'inline-block');

                    }
                    else
                        if (isResponsiveList == 'False') {
                            $('.jtable').css('overflow-x', 'scroll');
                            $('.jtable').css('width', 'inherit');
                            $('div.jtable-main-container').css('display', 'inline-block');
                        }

                var $selectedRows = $('#listContainer').jtable('selectedRows');
                if ($selectedRows.length > 0) {
                    $selectedRows.click();
                }
            }


        });

        $('#listContainer').jtable('load');



        var isResponsiveList = $.cookie("IsResponsiveList");

        if (isResponsiveList == 'True')
            $('.jtable-toolbar-item:nth-child(1) .jtable-toolbar-item-text').prepend('<div style="display: inline-block;vertical-align: middle;line-height: 0;"><i class="fa fa-toggle-on"></i>&nbsp;&nbsp;</div>');
        else
            $('.jtable-toolbar-item:nth-child(1) .jtable-toolbar-item-text').prepend('<div style="display: inline-block;vertical-align: middle;line-height: 0;"><i class="fa fa-toggle-off"></i>&nbsp;&nbsp;</div>');



        $('body').on('click', '#EvaluationCategories', function (e) {
            debugger;
            e.preventDefault();
            var _this = $(this);
            var EvaluationId = _this.attr('data-EvaluationId');

            window.open("/AdminTeniaco/EvaluationCategoriesManagement/Index/" + EvaluationId, '_blank').focus();
        });



        $('body').on('click', '#EvaluationTree', function (e) {
            debugger;
            e.preventDefault();
            var _this = $(this);
            var EvaluationId = _this.attr('data-EvaluationId');

            window.open("/AdminTeniaco/EvaluationTreeManagement/Index/" + EvaluationId, '_blank').focus();
        });




        $('body').on('click', '.isActivated', function () {
            debugger;
            var _this = $(this);
            var EvaluationId = _this.attr('data-EvaluationId');

            $.ajax({
                cache: false,
                type: "Post",
                url: "/AdminTeniaco/EvaluationsManagement/ToggleActivationEvaluations",

                data: { 'EvaluationId': EvaluationId },

                success: function (result) {
                    if (result.Result == "OK") {

                        var txtEvaluationTitle = $('#txtEvaluationTitle').val();

                        if ((txtEvaluationTitle != null)) {

                            $('#listContainer').jtable('load', {
                                currentPage: $('#listContainer').jtable('getCurrentPage'),
                                'EvaluationTitle': txtEvaluationTitle
                            });

                        }
                        else {

                            $('#listContainer').jtable('load', {
                                currentPage: $('#listContainer').jtable('getCurrentPage')
                            });

                        }
                    }
                    else
                        if (result.Result == "ERROR") {
                            $('#my-warning-modal').find('.modal-title').html('خطا');
                            $('#my-warning-modal').find('#error').html('خطا');
                            $('#my-warning-modal').modal("show");
                        }
                }

            });
        });

        $('body').on('click', '.isDeleted', function () {
            debugger;
            var _this = $(this);
            var EvaluationId = _this.attr('data-EvaluationId');

            $.ajax({
                cache: false,
                type: "Post",
                url: "/AdminTeniaco/EvaluationsManagement/TemporaryDeleteEvaluations",

                data: { 'EvaluationId': EvaluationId },

                success: function (result) {
                    if (result.Result == "OK") {

                        var txtEvaluationTitle = $('#txtEvaluationTitle').val();


                        if ((txtEvaluationTitle != null)) {

                            $('#listContainer').jtable('load', {
                                currentPage: $('#listContainer').jtable('getCurrentPage'),
                                'EvaluationTitle': txtEvaluationTitle
                            });

                        }
                        else {

                            $('#listContainer').jtable('load', {
                                currentPage: $('#listContainer').jtable('getCurrentPage')
                            });

                        }
                    }
                    else
                        if (result.Result == "ERROR") {
                            $('#my-warning-modal').find('.modal-title').html('خطا');
                            $('#my-warning-modal').find('#error').html('خطا');
                            $('#my-warning-modal').modal("show");
                        }
                },

            });
        });

        $('#btnSearch').click(function (e) {
            e.preventDefault();

            var txtEvaluationTitle = $('#txtEvaluationTitle').val();


            if (
                (txtEvaluationTitle != null)) {

                $('#listContainer').jtable('load', {
                    'EvaluationTitle': txtEvaluationTitle
                });

            }
            else {

                $('#listContainer').jtable('load');

            }
        });

        $('#btnReload').click(function (e) {
            $('#txtEvaluationTitle').val(null);


            e.preventDefault();
            $('#btnSearch').click();

        });

        $('#btnReset').click(function (e) {
            $('#txtEvaluationTitle').val(null);

            e.preventDefault();
        });
    });




</script>