@using VM.Teniaco;

<div class="row col-12">
    <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3">
        <div>
            <label>
                ارزیابی
            </label>
        </div>
        <select id="slcEvaluation" name="slcEvaluation" class="form-control input-sm chosen-select"
                placeholder="ارزیابی">
            <option value="" selected>---</option>
        </select>
    </div>

    <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3">
        <div>
            <label>
                افراد نیروی انسانی
            </label>
        </div>
        <select id="slcUsers" name="slcUsers" class="form-control input-sm chosen-select"
                placeholder="افراد نیروی انسانی">
            <option value="" selected>---</option>
        </select>
    </div>
</div>
<div class="row col-12">
    <div class="clearfix"></div>
</div>

<hr />
<div class="row col-12"></div>



<body>
    <div id="container" style="display:none;">
        <div id="left-container">
            <a id="update" href="#" class="theme btn btn-default btn-sm">بازگشت به والد</a>
        </div>

        <div id="center-container">
            <div id="infovis"></div>
        </div>
        <div id="log"></div>
    </div>
</body>



