@using VM.Teniaco;

@model InvestorsVM

<div class="x_panel" id="searchBlock">

    <div class="x_content">
        <form class="col-12" data-ajax-begin="OnBegin" data-ajax-complete="OnComplete" data-ajax-failure="OnFailed" data-ajax-success="OnSuccess"
              data-ajax="true" data-ajax-method="POST">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="row text-center justify-content-center">
                <div class="form-group w-100">
                    @{
                        <div class="alert alert-danger alert-dismissible " id="error-alert" style="display: block;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close">  <span aria-hidden="true">×</span></button> </div>
                    }
                </div>
            </div>
            <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel">
                    <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h4 class="panel-title">   اطلاعات پایه</h4>
                    </a>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body row">


                            <div class='col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3'>
                                <div class="mx-2">
                                    نام
                                </div>
                                <input asp-for="CustomUsersVM.Name" class="form-control"
                                       placeholder="نام" />
                                <span asp-validation-for="CustomUsersVM.Name" class="text-danger"></span>
                            </div>

                            <div class='col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3'>
                                <div class="mx-2">
                                    نام خانوادگی
                                </div>
                                <input asp-for="CustomUsersVM.Family" class="form-control"
                                       placeholder="نام خانوادگی" />
                                <span asp-validation-for="CustomUsersVM.Family" class="text-danger"></span>
                            </div>


                            <div class='col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3'>
                                <div class="mx-2">
                                    شماره همراه
                                </div>
                                <input asp-for="CustomUsersVM.Mobile" class="form-control"
                                       placeholder="شماره همراه" onkeyup="ValidateUserName(this.value)" />
                                <span asp-validation-for="CustomUsersVM.Mobile" class="text-danger"></span>
                            </div>


                            <div class='col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3'>
                                <div class="mx-2">
                                    نام کاربری
                                </div>
                                <input asp-for="CustomUsersVM.UserName" class="form-control"
                                       placeholder="نام کاربری" readonly />
                                <span asp-validation-for="CustomUsersVM.UserName" class="text-danger"></span>
                            </div>

                            <div class='col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3'>
                                <div class="mx-2">
                                    کد ملی
                                </div>
                                <input asp-for="CustomUsersVM.NationalCode" class="form-control"
                                       placeholder="کد ملی" onkeyup="ValidatePassword(this.value)" />
                                <span asp-validation-for="CustomUsersVM.NationalCode" class="text-danger"></span>
                            </div>

                            <div class='col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3'>
                                <div class="mx-2">
                                    رمز عبور
                                </div>
                                <input asp-for="CustomUsersVM.Password" class="form-control"
                                       placeholder="رمز عبور" readonly />
                                <span asp-validation-for="CustomUsersVM.Password" class="text-danger"></span>
                            </div>
                            <div class='col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3'>
                                <div class="mx-2">
                                    ایمیل
                                </div>
                                <input asp-for="CustomUsersVM.Email" class="form-control"
                                       placeholder="ایمیل" />
                                <span asp-validation-for="CustomUsersVM.Email" class="text-danger"></span>
                            </div>

                            <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3">
                                <div>
                                    <label class="lblNewPerson pointer" style="height: 15px;">
                                        <img src="/images/add.png" data-placement="top" data-toggle="tooltip" title=""
                                             class="" data-original-title="جدید">
                                    </label>
                                    معرف
                                </div>
                                <select asp-for="RepresentativeId" class="form-control ml-3"
                                        placeholder=" نام معرف/شماره تماس">
                                    <option value="">---</option>
                                </select>
                               
                            </div>


                        </div>
                    </div>
                </div>
                <div class="panel">
                    <a class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <h4 class="panel-title">   اطلاعات تکمیلی</h4>
                    </a>
                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="row">


                            <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3">
                                <div>
                                    صنف
                                </div>
                                <select asp-for="GuildCategoryId"
                                        class="form-control chosen-select input-validation-error ml-3">
                                    <option value="">---</option>
                                </select>
                                <span asp-validation-for="GuildCategoryId" class="text-danger"></span>
                            </div>
                            <div class='col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3'>
                                <div class="mx-2">
                                    شغل
                                </div>
                                <input asp-for="Job" class="form-control "
                                       placeholder="شغل" />
                                <span asp-validation-for="Job" class="text-danger"></span>
                            </div>

                            <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3">
                                <div>
                                    عدد کل سرمایه
                                </div>
                                <select asp-for="FundId"
                                        class="form-control chosen-select input-validation-error ml-3">
                                    <option value="">---</option>
                                </select>
                                <span asp-validation-for="FundId" class="text-danger"></span>
                            </div>
                            <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3">
                                <div>
                                    عدد قابل معامله
                                </div>
                                <select asp-for="TradableNumber"
                                        class="form-control chosen-select input-validation-error ml-3">
                                    <option value="">---</option>
                                </select>
                                <span asp-validation-for="TradableNumber" class="text-danger"></span>
                            </div>

                            <div class='col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3'>
                                <div class="mx-2">
                                    نام شرکت
                                </div>
                                <input asp-for="CompanyName" class="form-control "
                                       placeholder="نام شرکت" />
                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                            </div>
                            <div class='col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3'>
                                <div class="mx-2">
                                    تلفن شرکت
                                </div>
                                <input asp-for="CompanyPhone" class="form-control "
                                       placeholder="تلفن شرکت" type="number" />
                                <span asp-validation-for="CompanyPhone" class="text-danger"></span>
                            </div>


                            <div class='col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3'>
                                <div class="mx-2">
                                    تعداد املاک
                                </div>
                                <input asp-for="CountOfProperties" class="form-control "
                                       placeholder="تعداد املاک" />
                                <span asp-validation-for="CountOfProperties" class="text-danger"></span>
                            </div>

                        </div>


                        <div class="row">
                            <div class='col-12  my-3'>
                                <div class="mx-2">
                                    آدرس شرکت
                                </div>
                                <textarea asp-for="CompanyAddress" class="form-control " rows="1"
                                          placeholder="    آدرس شرکت"></textarea>
                            </div>


                        </div>


                        <div class="row">

                            <div class='col-6  my-3'>
                                <div class="mx-2">
                                    شرح شرکت
                                </div>
                                <textarea asp-for="DescriptionOfCompany" class="form-control " rows="2"
                                          placeholder="شرح شرکت"></textarea>
                            </div>

                            <div class='col-6  my-3'>
                                <div class="mx-2">
                                    اشخاص مرتبط
                                </div>
                                <textarea asp-for="RelatedPersons" class="form-control " rows="2"
                                          placeholder=" اشخاص مرتبط"></textarea>
                            </div>



                        </div>



                        <div class="row">
                            <div class='col-6  my-3'>
                                <div class="mx-2">
                                    روحیه شخصی
                                </div>
                                <textarea asp-for="PersonalSpirit" class="form-control " rows="2"
                                          placeholder=" روحیه شخصی"></textarea>
                            </div>

                            <div class='col-6  my-3'>
                                <div class="mx-2">
                                    روحیه تجاری
                                </div>
                                <textarea asp-for="BusinessSpirit" class="form-control " rows="2"
                                          placeholder="روحیه تجاری"></textarea>
                            </div>
                        </div>

                        <div class="row">

                            <div class='col-6  my-3'>
                                <div class="mx-2">
                                    شرح سرمایه
                                </div>
                                <textarea asp-for="DescriptionOfFund" class="form-control " rows="2"
                                          placeholder="شرح سرمایه"></textarea>
                            </div>

                            <div class='col-6  my-3'>
                                <div class="mx-2">
                                    معاملات گذشته
                                </div>
                                <textarea asp-for="PastTransactions" class="form-control " rows="2"
                                          placeholder="معاملات گذشته"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group row">
                <div class="col-md-9 col-sm-9  offset-md-3">
                    <button type="submit" class="btn btn-success btn-md">ثبت</button>
                    <button class="btn btn-primary btn-md" type="reset" id="btnReset">پاک کردن فرم</button>
                    
                </div>
            </div>
        </form>

    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="create-person-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-start">
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">تعریف شخص</h4>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class='col-xl-6 col-md-6 col-xs-12 col-sm-12 col-lg-6 my-3'>
                        <div class="mx-2">
                            نام
                        </div>

                        <input type='text' class="form-control" id="txtName" name="txtName" />
                    </div>

                    <div class='col-xl-6 col-md-6 col-xs-12 col-sm-12 col-lg-6 my-3'>
                        <div class="mx-2">
                            نام خانوادگی
                        </div>

                        <input type='text' class="form-control" id="txtFamily" name="txtFamily" />
                    </div>

                    <div class='col-xl-6 col-md-6 col-xs-12 col-sm-12 col-lg-6 my-3'>
                        <div class="mx-2">
                            شماره تماس
                        </div>

                        <input type='text' class="form-control" id="txtPhone" name="txtPhone" type="number" />
                    </div>
                    @* <div class="col-xl-6 col-md-6 col-xs-12 col-sm-12 col-lg-6 my-3">
                        <div>
                            مالک/مشاور
                        </div>
                        <select class="form-control ml-3" id="slcPersonTypeId" name="slcPersonTypeId"
                                placeholder="  مالک/مشاور"></select>
                    </div> *@
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-success btn-Create-person btn-sm" id="modal-btn-yes">ثبت</button>
                <button type="button" class="btn btn-primary btn-sm" id="modal-btn-no" data-dismiss="modal">لغو</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function ValidateUserName(val) {
        document.getElementById("CustomUsersVM_Mobile").value = val;
        $("#CustomUsersVM_UserName").val(val);
    };


    function ValidatePassword(val) {
        document.getElementById("CustomUsersVM_NationalCode").value = val;
        $("#CustomUsersVM_Password").val(val);
    };
</script>