@using Services.Xml.Entities;
@using VM.Console;

@{
    Layout = "_LoginLayout";
}

@section head{

@*    <link href="~/css/sb_admin_2/plugins/metisMenu/metisMenu.min.css" rel="stylesheet" />
    <link href="~/css/sb_admin_2/plugins/timeline.css" rel="stylesheet" />
    <link href="~/css/sb_admin_2/sb_admin_2rtl.css" rel="stylesheet" />
    <link href="~/css/sb_admin_2/plugins/morris.css" rel="stylesheet" />*@

    @RenderSection("head", required: false)
}

<div class="container">
    @RenderBody()
</div>

<div class="modal fade" id="my-warning-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p id="error"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section scripts{

    <script src="~/js/sb_admin_2/metisMenu/metisMenu.min.js"></script>
    <script src="~/js/sb_admin_2/raphael/raphael.min.js"></script>
    <script src="~/js/sb_admin_2/morris/morris.min.js"></script>
    <script src="~/js/sb_admin_2/sb_admin_2.js"></script>

    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function () {

        })
            //]]>
    </script>
    @RenderSection("scripts", required: false)
}