@using Services.Xml.Entities;

@{

}

<div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
    <div class="panel panel-primary boxShadow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-comments fa-2x"></i>
                </div>
                <div class="col-xs-9 text-left">
                    <div class="huge">
                        @Html.Raw("")
                    </div>
                    <div style="font-size: 12px;height: 25px;">
                        پیامهای ارسال شده
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
    <div class="panel panel-green boxShadow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-tasks fa-2x"></i>
                </div>
                <div class="col-xs-9 text-left">
                    <div class="huge">
                        @Html.Raw("")
                    </div>
                    <div style="font-size: 12px;height: 25px;">
                        وظایف
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
    <div class="panel panel-yellow boxShadow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-image fa-2x"></i>
                </div>
                <div class="col-xs-9 text-left">
                    <div class="huge">
                        @Html.Raw("")
                    </div>
                    <div style="font-size: 12px;height: 25px;">
                        تصاویر
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
    <div class="panel panel-red boxShadow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-file-video-o fa-2x"></i>
                </div>
                <div class="col-xs-9 text-left">
                    <div class="huge">
                        @Html.Raw("")
                    </div>
                    <div style="font-size: 12px;height: 25px;">
                        فیلمها
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
