<script type="text/javascript">
    $(document).ready(function () 
    {
        $("#btnSearch").on('click', function() { 
            let _indices = $('#slcIndiceId', '#searchBlock').val();
            let _BDate = $("#txtFromDate", '#searchBlock').val();
            let _EndDate = $("#txtTillDate", '#searchBlock').val();
            console.log('_indices :' +_indices);
            console.log("_BDate: " + _BDate);
            console.log("_EndDate: "+_EndDate);
            $('#listContainer').jtable('load', {'IndicesId' :_indices , 'PBDate': _BDate, 'PEDate' : _EndDate});
        });

        
        for (var i = 0; i < IndicesListoption.length; i++) {
            debugger;
            var item = IndicesListoption[i];
            $('#slcIndiceId')
                .append($("<option></option>")
                    .attr("value", item.Value)
                    .text(item.DisplayText));
        }
        $('#slcIndiceId').chosen({
            placeholder_text_single: ' ',
            placeholder_text_multiple: ' ',
            search_contains: true,
            max_shown_results: 200,
            rtl: rtl
        });
          
     
       
        //$('#searchBlock').hide(1000);
        $('#listContainer').jtable({
            title: 'لیست قیمت ها', toolbarType: 'both',
            paging: true,
            pageSize: 2, selecting: true,
            sorting: true,
            actions: {
                listAction: '/AdminPublic/IndicesManagement/GetListOfPricesListIndices',
                createAction: '/AdminPublic/IndicesManagement/AddToPricesListIndices',
                updateAction: '/AdminPublic/IndicesManagement/UpdatePricesListIndices',
                deleteAction: '/AdminPublic/IndicesManagement/CompleteDeletePricesListIndices'
            },
            toolbar: {
                items: [
                    {
                        icon: '',
                        text: 'تغییر نمایش',
                        click: function () {
                            $.ajax({
                                cache: false,
                                type: "Post",
                                url: '/Admin/AdminPanel/ChangeViewMode',
                                success: function (result) {
                                    if (result.Result == "OK") {
                                        window.setTimeout(function () {
                                            location.reload(true);
                                        }, 500);
                                    }
                                    else
                                        if (result.Result == "ERROR") {
                                            alert('error');
                                        }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                }
                            });
                        },
                    },
                ]
            },
            fields: {
                PricesListIndicesId: {
                    key: true,
                    list: false
                },
               
                IndicesId: {
                    title:'شاخص',
                    
                    options: IndicesListoption
                   

                },
                 CreatorName : {
                    title: 'ثبت&nbsp;کننده',
                    width: '40%',
                    edit:false,
                    create:false
                  
                },
                PDate: {
                    title: "تاریخ",
                     input: function(data) 
                     {
                        if (data.record != undefined) { //if (data.record != '') {
                            if (data.record.PDate != '') {
                                return '<input class="form-control input-sm" id="Edit-PDate" name="PDate" autocomplete="off" ' +
                                    'data-mddatetimepicker="true" onkeydown="return false" data-placement="bottom" ' +
                                    'data-placeHolderReplacement="PDate"' +
                                    ' placeholder="" ' +
                                    ' value="' + data.record.PDate + '" />';
                            }
                            else {
                                return '<input class="form-control input-sm" id="Edit-PDate" name="PDate" autocomplete="off" ' +
                                    'data-mddatetimepicker="true" onkeydown="return false" data-placement="bottom" ' +
                                    'data-placeHolderReplacement="PDate"' +
                                    ' placeholder="" ' +
                                    ' />';
                            }
                        }
                        else {
                            return '<input class="form-control input-sm" id="Edit-PDate" name="PDate" autocomplete="off" ' +
                                'data-mddatetimepicker="true" onkeydown="return false" data-placement="bottom" ' +
                                'data-placeHolderReplacement="PDate"' +
                                ' placeholder="" ' +
                                ' />';
                        }
                    },
                    display: function (data) {
                        debugger;
                        if (data.record.PDate)
                            return data.record.PDate;
                        else
                            return '';
                    }
                },
                Price: {
                    title: 'قیمت',
                    sorting: false
                 },
                 Change: {
                    title: "تغییرات",
                    edit:false,
                    edit:false,
                    create:false,
                     display: function(data) {
                         debugger;
                         if (data.record.Change) {
                             if (data.record.Change > 0) {
                                 return data.record.Change + '        <i class="fa fa-arrow-up">&nbsp</i>';
                             }
                             else if (data.record.Change < 0) {
                                 return data.record.Change + '        <i class="fa fa-arrow-down">&nbsp</i>';
                             }
                             else return data.record.Change;
                         } else '<i>0</i>';
                     }
                         


                },
                UserCreatorName: {
                    title: 'ایجاد&nbsp;کننده',
                    sorting: false,
                    create: false,
                    edit: false,
                    //list: false
                },
                IsActivated: {
                    title: 'فعال&nbsp;/&nbsp;غیر&nbsp;فعال',
                    sorting: false,
                    //create: false,
                    options: {
                        true: 'بله',
                        false: 'خیر'
                    },
                    input: function (data) {
                        if (data.record != undefined) { //if (data.record != '') {
                            if (data.record.IsActivated == true) {
                                return '<select id="Edit-IsActivated" name="IsActivated">' +
                                    '<option value="true" selected>بله</option>' +
                                    '<option value="false">خیر</option>' +
                                    '</select>';
                            }
                            else {
                                return '<select id="Edit-IsActivated" name="IsActivated">' +
                                    '<option value="true">بله</option>' +
                                    '<option value="false" selected>خیر</option>' +
                                    '</select>';
                            }
                        }
                        else {
                            return '<select id="Edit-IsActivated" name="IsActivated">' +
                                '<option value="true" selected>بله</option>' +
                                '<option value="false">خیر</option>' +
                                '</select>';
                        }
                    },
                    display: function (data) {
                        debugger;
                        if (data.record.IsActivated)
                            return '<div class="isActivated pointer" data-PricesListIndicesId="' +
                                data.record.PricesListIndicesId + '"><i class="fa fa-check-square"></i></div>';
                        else
                            return '<div class="isActivated pointer" data-PricesListIndicesId="' +
                                data.record.PricesListIndicesId + '"><i class="fa fa-square-o"></i></div>';
                    }
                },
                IsDeleted: {
                    title: 'حذف&nbsp;شده',
                    sorting: false,
                    //create: false,
                    options: {
                        true: 'بله',
                        false: 'خیر'
                    },
                    input: function (data) {
                        if (data.record != undefined) { //if (data.record != '') {
                            if (data.record.IsDeleted == true) {
                                return '<select id="Edit-IsDeleted" name="IsDeleted">' +
                                    '<option value="true" selected>بله</option>' +
                                    '<option value="false">خیر</option>' +
                                    '</select>';
                            }
                            else {
                                return '<select id="Edit-IsDeleted" name="IsDeleted">' +
                                    '<option value="true">بله</option>' +
                                    '<option value="false" selected>خیر</option>' +
                                    '</select>';
                            }
                        }
                        else {
                            return '<select id="Edit-IsDeleted" name="IsDeleted">' +
                                '<option value="true">بله</option>' +
                                '<option value="false" selected>خیر</option>' +
                                '</select>';
                        }
                    },
                    display: function (data) {
                        if (data.record.IsDeleted)
                            return '<div class="isDeleted" data-PricesListIndicesId="' + data.record.PricesListIndicesId + '"><i class="fa fa-check-square"></i></div>';
                        else
                            return '<div class="isDeleted" data-PricesListIndicesId="' + data.record.PricesListIndicesId + '"><i class="fa fa-square-o"></i></div>';
                    }
                },

            },
            formCreated: function (event, data) {
                console.log(data.form);
                data.form.find('input[name="IndicesId"]').addClass('validate[required]');
                data.form.find('input[name="Price"]').addClass('validate[required]');
                data.form.find('input[name="PDate"]').addClass('validate[required]');
                data.form.validationEngine();

                 $('#Edit-PDate').MdPersianDateTimePicker({
                    format: 'DD/MM/YYYY',
                    EnableTimePicker: false
                });


                $('.ui-dialog-titlebar-close').contents().filter(function () {
                    return this.nodeType === 3;
                }).remove();


                $(".jtable-dialog-form .jtable-input-field-container").each(function () {
                    var block = $(this);
                    block.addClass('col col-md-6 col-sm-12 col-xs-12');
                });


                $(".jtable-dialog-form :input").each(function () {
                    var input = $(this);
                    input.addClass('form-control input-sm');
                });


                var formName = '';
                if (data.formType == 'create')
                    formName = 'create';
                else
                    formName = 'edit';

                debugger;

                $('#jtable-' + formName + '-form select').chosen({
                    placeholder_text_single: ' ',
                    placeholder_text_multiple: ' ',
                    rtl: rtl
                });


                if (formName == 'edit') {

                    $('form.jtable-dialog-form div.jtable-input-field-container:nth-child(3) div.jtable-input-label').append('<i class="fa fa-exclamation-circle" aria-hidden="true"  data-toggle="tooltip" title="جدا کننده ویرگول است.">&nbsp;</i>');
                    $('form.jtable-dialog-form div.jtable-input-field-container:nth-child(7) div.jtable-input-label').append('<i class="fa fa-exclamation-circle" aria-hidden="true"  data-toggle="tooltip" title="جدا کننده ویرگول است.">&nbsp;</i>');
                    $('form.jtable-dialog-form div.jtable-input-field-container:nth-child(9) div.jtable-input-label').append('<i class="fa fa-exclamation-circle" aria-hidden="true"  data-toggle="tooltip" title="جدا کننده ویرگول است.">&nbsp;</i>');

                   


                    $('#Edit-IsActivated').chosen({
                        placeholder_text_single: ' ',
                        placeholder_text_multiple: ' ',
                        search_contains: true,
                        max_shown_results: numberOfChosenItemsShow,
                        rtl: rtl
                    });
                    $('#Edit-IsActivated').val(data.record.IsActivated + '').trigger("chosen:updated");

                    $('#Edit-IsDeleted').chosen({
                        placeholder_text_single: ' ',
                        placeholder_text_multiple: ' ',
                        search_contains: true,
                        max_shown_results: numberOfChosenItemsShow,
                        rtl: rtl
                    });
                    $('#Edit-IsDeleted').val(data.record.IsDeleted + '').trigger("chosen:updated");
                }
                else
                    if (formName == 'create') {

                        $('form.jtable-dialog-form div.jtable-input-field-container:nth-child(2) div.jtable-input-label').append('<i class="fa fa-exclamation-circle" aria-hidden="true" data-toggle="tooltip" title="جدا کننده ویرگول است.">&nbsp;</i>');
                        $('form.jtable-dialog-form div.jtable-input-field-container:nth-child(6) div.jtable-input-label').append('<i class="fa fa-exclamation-circle" aria-hidden="true"  data-toggle="tooltip" title="جدا کننده ویرگول است.">&nbsp;</i>');
                        $('form.jtable-dialog-form div.jtable-input-field-container:nth-child(8) div.jtable-input-label').append('<i class="fa fa-exclamation-circle" aria-hidden="true"  data-toggle="tooltip" title="جدا کننده ویرگول است.">&nbsp;</i>');

                        $('#Edit-StateId').chosen({
                            placeholder_text_single: ' ',
                            placeholder_text_multiple: ' ',
                            search_contains: true,
                            max_shown_results: numberOfChosenItemsShow,
                            rtl: rtl
                        });

                        $('#Edit-StateId').val('').trigger("chosen:updated");

                        $('#Edit-StateId').trigger("chosen:updated");

                        $('#Edit-StateId').trigger("chosen:updated");

                        $('#Edit-CityId').chosen({
                            placeholder_text_single: ' ',
                            placeholder_text_multiple: ' ',
                            search_contains: true,
                            max_shown_results: numberOfChosenItemsShow,
                            rtl: rtl
                        });

                        $('#Edit-CityId').val('').trigger("chosen:updated");

                        $('#Edit-CityId').trigger("chosen:updated");

                        $('#Edit-CityId').trigger("chosen:updated");

                        $('#Edit-ZoneId').chosen({
                            placeholder_text_single: ' ',
                            placeholder_text_multiple: ' ',
                            search_contains: true,
                            max_shown_results: numberOfChosenItemsShow,
                            rtl: rtl
                        });

                        $('#Edit-ZoneId').val('').trigger("chosen:updated");

                        $('#Edit-ZoneId').trigger("chosen:updated");

                        $('#Edit-ZoneId').trigger("chosen:updated");

                        $('#Edit-IsActivated').chosen({
                            placeholder_text_single: ' ',
                            placeholder_text_multiple: ' ',
                            search_contains: true,
                            max_shown_results: numberOfChosenItemsShow,
                            rtl: rtl
                        });
                        $('#Edit-IsActivated').trigger("chosen:updated");

                        $('#Edit-IsDeleted').chosen({
                            placeholder_text_single: ' ',
                            placeholder_text_multiple: ' ',
                            search_contains: true,
                            max_shown_results: numberOfChosenItemsShow,
                            rtl: rtl
                        });
                        $('#Edit-IsDeleted').trigger("chosen:updated");

                    }


            },
            formSubmitting: function (event, data) {
                var validate = data.form.validationEngine('validate');
                return validate;
            },
            formClosed: function (event, data) {
                data.form.validationEngine('hide');
                data.form.validationEngine('detach');
            },
            selectionChanged: function () {

            },
            recordAdded: function (event, data) {


            },
            recordUpdated: function (event, data) {

            },
            recordDeleted: function (event, data) {

            },
            recordsLoaded(event, data) {

                var isResponsiveList = $.cookie("IsResponsiveList");

                if (isResponsiveList == "") {

                    if ($('.jtable').data('basictable') != null)
                        $('.jtable').basictable('destroy');

                    $('.jtable').basictable({

                        breakpoint: 1024
                    });
                }
                else
                    if (isResponsiveList == 'True') {
                        if ($('.jtable').data('basictable') != null)
                            $('.jtable').basictable('destroy');

                        $('.jtable').basictable({
                            breakpoint: 2000
                        });

                        $('div.jtable-main-container').css('width', '100%');
                        $('div.jtable-main-container').css('display', 'inline-block');

                    }
                    else
                        if (isResponsiveList == 'False') {
                            $('.jtable').css('overflow-x', 'scroll');
                            $('.jtable').css('width', 'inherit');
                            $('div.jtable-main-container').css('display', 'inline-block');
                        }

                var $selectedRows = $('#listContainer').jtable('selectedRows');
                if ($selectedRows.length > 0) {
                    $selectedRows.click();
                }
            }


        });

       $('#listContainer').jtable('load');
       $('#listContainer').find(".jtable tbody #Edit-Name").css("cssText", "background-color:red !important; color:white !important;");
          

        var isResponsiveList = $.cookie("IsResponsiveList");

        if (isResponsiveList == 'True')
            $('.jtable-toolbar-item:nth-child(1) .jtable-toolbar-item-text').prepend('<div style="display: inline-block;vertical-align: middle;line-height: 0;"><i class="fa fa-toggle-on"></i>&nbsp;&nbsp;</div>');
        else
            $('.jtable-toolbar-item:nth-child(1) .jtable-toolbar-item-text').prepend('<div style="display: inline-block;vertical-align: middle;line-height: 0;"><i class="fa fa-toggle-off"></i>&nbsp;&nbsp;</div>');


        $('body').on('click', '.isActivated', function () {
            debugger;
            var _this = $(this);
            var _PricesListIndicesId = _this.attr('data-PricesListIndicesId');

            $.ajax({
                cache: false,
                type: "Post",
                url: "/AdminPublic/IndicesManagement/ToggleActivationPricesListIndices",

                data: { 'PricesListIndicesId': _PricesListIndicesId },

                success: function (result) {
                    if (result.Result == "OK") {

                        $('#listContainer').jtable('load');
                        
                    }
                    else
                        if (result.Result == "ERROR") {
                            $('#my-warning-modal').find('.modal-title').html('خطا');
                            $('#my-warning-modal').find('#error').html('خطا');
                            $('#my-warning-modal').modal("show");
                        }
                }

            });
        });

        $('body').on('click', '.isDeleted', function () {
            debugger;
            var _this = $(this);
            var _PricesListIndicesId = _this.attr('data-PricesListIndicesId');

            $.ajax({
                cache: false,
                type: "Post",
                url: "/AdminPublic/IndicesManagement/TemporaryDeletePricesListIndices",

                data: { 'PricesListIndicesId': _PricesListIndicesId },

                success: function (result) {
                    if (result.Result == "OK") {

                           $('#listContainer').jtable('load', {
                                currentPage: $('#listContainer').jtable('getCurrentPage')
                            });

                    }
                    else
                        if (result.Result == "ERROR") {
                            $('#my-warning-modal').find('.modal-title').html('خطا');
                            $('#my-warning-modal').find('#error').html('خطا');
                            $('#my-warning-modal').modal("show");
                        }
                },

            });
        });
       
        });
  
         $('#btnReload').click(function (e) {
             $('#slcIndiceId', '#searchBlock').val(null);
             $("#txtFromDate", '#searchBlock').val(null);
             $("#txtTillDate", '#searchBlock').val(null);
            

            e.preventDefault();
            $('#btnSearch').click();

        });

        $('#btnReset').click(function (e) {
             $('#slcIndiceId', '#searchBlock').val(null);
             $("#txtFromDate", '#searchBlock').val(null);
             $("#txtTillDate", '#searchBlock').val(null);
             e.preventDefault();
        });



</script>